<ion-header>

  <ion-navbar color="shwe">
    <ion-title id="custom_ion_title"><span class="{{font}}">{{showFont[0]}}</span></ion-title>
  </ion-navbar>
  <ion-toolbar>
      <ion-list style="margin-bottom: 0px;">
        <ion-item col-6>                      
              <ion-select style ="max-width: 120px !important;" [(ngModel)]="selectedStatus" interface="popover" (ionChange)="goStatusChange(selectedStatus)">
                <ion-option *ngFor="let list of statuslist" [value]="list.value">
                  {{list.caption}}
                </ion-option>
              </ion-select>                      
        </ion-item>
      </ion-list>
  </ion-toolbar>
  <!-- <ion-toolbar mode="md" *ngIf="range == true">
        <ion-title>
            <ion-list style="margin-bottom: 0px;">
                <div>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label floating style="margin-top: 7px;"><span class="{{font}}">{{showFont[13]}}</span></ion-label>
                                <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="fromDate" style="padding-top: 7px;padding-bottom: 7px;"></ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label floating style="margin-top: 7px;"><span class="{{font}}">{{showFont[14]}}</span></ion-label>
                                <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="toDate" style="padding-top: 7px;padding-bottom: 7px;"></ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row style="float:right;">
                        <button mode="md" ion-button color="shwebtn" tappable (click)="goSearch()" style="margin-top: 1.5rem;">
                            <span class="{{font}}">{{showFont[15]}}</span>
                        </button>
                    </ion-row>
                </div>
            </ion-list>
        </ion-title>
    </ion-toolbar> -->
</ion-header>


<ion-content mode="md">
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
  <!-- <ion-item-group *ngIf="status == 1">
        <ion-item-divider color="light" style="font-weight: bold;font-size: 16px;">
            <span *ngIf='tempFont ==3' class="{{font}}">{{showFont[2]}} ( {{showFont[3]}} )</span>
            <span *ngIf='tempFont ==4' class="{{font}}">{{showFont[2]}} ( {{showFont[4]}} )</span>
            <span *ngIf='tempFont ==5' class="{{font}}">{{showFont[2]}} ( {{showFont[5]}} )</span>
            <span *ngIf='tempFont ==6' class="{{font}}">{{showFont[2]}} {{durationmsg}}</span>
        </ion-item-divider>
    </ion-item-group> -->
  <div style="padding-bottom:50px;" *ngIf="changedata !=[] ">
    <!--*ngIf="status == 1"-->
    <!--<ion-item-group *ngFor="let rdata of changedata">-->
    <!-- <ion-item-divider color="light" style="font-weight: bold;font-size: 16px;">
                {{rdata.createddatetime}}
            </ion-item-divider> -->
    <ion-item *ngFor="let a of changedata" text-wrap tappable>
      <!--*ngFor="let a of rdata.data"-->
      <ion-grid (click)="gotoDetail(a)">
        <ion-row>
          <ion-col class="uni">{{showFont[19]}}</ion-col>
          <ion-col class="uni">{{a.autokey}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="uni">{{showFont[20]}}</ion-col>
          <ion-col class="uni">{{a.t4}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="uni">{{showFont[21]}}</ion-col>
          <ion-col class="uni">{{a.t2}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="uni">{{showFont[26]}}</ion-col>
          <ion-col class="uni">{{a.amount}}&nbsp;{{a.currencycode}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="uni">{{showFont[27]}}</ion-col>
          <ion-col class="uni">{{a.createddatetime}}</ion-col>
        </ion-row>
      </ion-grid>
      <span *ngIf="a.status !='' && a.status == '1'">
        <button mode="md" ion-button tappable (click)="goApproveReject(a,3)"
          style="background-color:#EE4141;margin-top: 1.5rem;float:right">
          <span class="{{font}}">{{showFont[22]}}</span>
        </button>
        <button mode="md" ion-button tappable (click)="goApproveReject(a,2)"
          style="background-color:#74b700;margin-top: 1.5rem;float:right">
          <span class="{{font}}">{{showFont[23]}}</span>
        </button>
      </span>
      <span style="color:#74b700;font-weight: bold;float:right" class="{{font}}"
        *ngIf="a.status !='' && a.status == '2'">{{showFont[24]}}</span>
      <span style="color:#EE4141;font-weight: bold;float:right" class="{{font}}"
        *ngIf="a.status !='' && a.status == '3'">{{showFont[25]}}</span>
    </ion-item>
    <!--</ion-item-group>-->
  </div>
  <div *ngIf="status == 0" align="center">
    <h3 style="padding:50px;color:#ccc;"><span class="{{font}}">{{showFont[6]}}</span></h3>
  </div>

  <!--  <ion-fab bottom right [ngStyle]="fabMargin">
        <button mode="md" ion-fab mini color='shwe' [disabled]="isDownload">
            <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button mode="md" tappable ion-fab tappable (click)='createFile(1)'>
                <img src='./assets/pdf.png'>
            </button>
            <button mode="md" tappable ion-fab tappable (click)='createFile(2)'>
                <img src='./assets/excel.png'>
            </button>
        </ion-fab-list>
    </ion-fab> -->

</ion-content>
<!-- <ion-footer *ngIf="passTemp.pageCount>1">
  <ion-toolbar style="min-height: 50px;" color="shwe">
    <ion-buttons *ngIf="previous > 1">
      <button ion-button icon-only tappable (click)="previousData()">
        <ion-icon name="ios-arrow-back"></ion-icon>
        <span class="{{font}}">{{showFont[8]}}</span>
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="passTemp.pageCount>next">
      <button ion-button icon-only tappable (click)="nextData()">
        <span class="{{font}}">{{showFont[7]}}</span>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer> -->