<!--
  Generated template for the Language page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <button mode="md" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title id="custom_ion_title">Language</ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ion-list radio-group [(ngModel)]="language">
        <!-- <ion-list-header>
       Language
     </ion-list-header> -->

        <ion-item>
            <ion-label>English</ion-label>
            <ion-radio value="eng" (ionSelect)="mcqAnswer('eng')"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>Unicode</ion-label>
            <ion-radio value="uni" (ionSelect)="mcqAnswer('uni')"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>Zawgyi</ion-label>
            <ion-radio value="zg" (ionSelect)="mcqAnswer('zg')"></ion-radio>
        </ion-item>
    </ion-list>
</ion-content>