page-merchantlist {

 /* .item-md:last-child{
    border: 1px solid #cdcdcd;
    border-bottom-color: #cdcdcd;
  }*/
  .md ion-list > .item:last-child,
  .md ion-list > .item-wrapper:last-child .item,
  .wp ion-list > .item:last-child,
  .wp ion-list > .item-wrapper:last-child .item,
  .ios ion-list > .item:last-child,
  .ios ion-list > .item-wrapper:last-child .item {

    border-bottom-color: #EE4141;
  }
}
