<!--
  Generated template for the PopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content mode="md">
    <ion-item-group>
        <ion-item-divider style="font-size: 1.7rem;padding-top:0px;padding-left:0px;text-align:center;">
            {{headeritem}}
        </ion-item-divider>
        <ion-list style="margin-bottom:0px;">
            <!-- <ion-item tappable (click)="changeLanguage(popoverItemList[0].key)" no-lines>
                <span class="uni">{{popoverItemList[0].name}}</span>
            </ion-item> -->
            <ion-item tappable (click)="changeLanguage(popoverItemList[1].key)" no-lines detail-push>
                <span class="uni">{{popoverItemList[1].name}}</span>
            </ion-item>
            <!-- <ion-item tappable (click)="changeLanguage(popoverItemList[2].key)" no-lines>
                <span class="uni">{{popoverItemList[2].name}}</span>
            </ion-item> -->
            <ion-item tappable (click)="changeLanguage(popoverItemList[3].key)" no-lines>
                <span class="uni">{{popoverItemList[3].name}}</span>
            </ion-item>
        </ion-list>
    </ion-item-group>
</ion-content>