page-about {
    pre {
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        -moz-control-character-visibility: visible;
    }
    .scroll {
        overflow-y: scroll !important;
        height: 500px;  
    }
}

