<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="shwe">
        <button mode="md" ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
        <!-- <img src="assets/images/Shwecopy.png" width="40px" style="display:inline-block" height="40px"/>
      <ion-title class="titleicon" style="display:inline-block;" >Shwe Bank</ion-title> -->
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>
    <ion-card>

        <div class="scroll">
            <pre>
<b>mBanking 360</b> mobile application is released by MIT (Myanmar Information Technology Pte Ltd). 
Objectives:
1. good security
2. easy access
3. more control of your money

Mobile Banking requires enrolment at local Bank's Branches. Data connection required. Wireless carrier fees may apply. 
The Mobile Banking app is available on iPad, iPhone and Android devices.

With the Mobile Banking app you can:

1)Login
Sign in with your userid (registered phone number) and password.

2)Account Summary & Transaction History
With Mobile Banking service, you can access and manage your accounts quickly and securely via the Mobile Banking App from your mobile device. Easily view your account balances and transaction history.

3)Account Transfer
You can initiate immediate money transfers between your current or savings accounts through Mobile Banking.	Easily move money from your accounts to other people's account (Internal Account Transfer).

4)Bill Payment
You can quickly transfer money to pay Bill for YESC (Yangon Electricity Supply Corporation), YCDC (Yangon City Development Committee) and MTP Land Line (Post Paid). Each transaction is protected by our Mobile Banking Security Guarantee.

5)Topup
You can securely make the transaction for all Operators (MPT, Ooredoo, Telenor, MEC) to topup Mobile Bill.

6)Agent Banking
This agent banking allows financial institutions to reach out to the underserved segments of the population particularly in rural areas in a more cost efficient manner through the use of non-bank retail outlets.

7) Services
You can enquiry cheques and can take the action to stop the cheque that is not used yet.

8) Locators
Easily find the ATM locations and Branch locations through Mobile Banking's Locator Services.

9) Exchange Rate
Daily Exchange Rate can be checked from Mobile Banking.
</pre>
        </div>
    </ion-card>
</ion-header>