<!--
  Generated template for the AccountTransferDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title style="text-align:center"><span class="uni">{{showFont[6]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ion-card>
        <ion-card-header style="white-space: inherit;background:lightgreen;padding:20px;">
            <div align="center">
                Transaction with reference number {{passTemp.bankRefNumber}} is in Accepted state.
            </div>

        </ion-card-header>
        <!--<ion-item text-wrap >
      <h2><span class="uni">{{showFont[7]}}</span></h2>
      <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp2}}</h2>
    </ion-item><hr>-->
        <ion-item text-wrap>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.fromAcc}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.toAcc}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.amount}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.bankRefNumber}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.transactionDate}}</h2>
        </ion-item>
        <!--<ion-item text-wrap >
      <h2><span class="uni">{{showFont[5]}}</span></h2>
      <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.cardExpire}}</h2>
    </ion-item><hr>-->
    </ion-card>

    <div padding class="uni">
        <button mode="md" ion-button block type="button" tappable (click)="getOK()" style="margin-top:10px;" color="shwebtn">{{showFont[8]}}</button>
    </div>

    <!-- <div *ngIf="beneStatus">
        <ion-card id="ion_card_bg_setting">
            <ion-item>
                <span style="position: absolute;top: 21px;">Do you want to add Beneficiary?</span>
                <button mode="md" transparent ion-button icon-only clear style="float:right;margin-top: 7px;" tappable (click)="addBeneficiary()">Yes</button>
            </ion-item>
        </ion-card>
    </div> -->
</ion-content>