page-internal-transfer {
    #span-style {
        margin-left: 18px;
        color: green;
    }
    .item-line {
        border-bottom-color: #dedede;
        box-shadow: inset 0 -1px 0 0 #dedede;
        background-color: transparent;
    }
    .mycard {
        border-radius: 2px;
        margin: 4px 7px 4px 7px;
        font-size: 1.4rem;
        background: #fff;
    }
}