<ion-header>
    <ion-navbar color="shwe">
        <ion-buttons left>
            <button ion-button icon-only tappable (click)="backButton()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <div style="width:100%">
            <ion-title id="custom_ion_title">
                <span class="uni">{{textData[5]}}</span>
            </ion-title>
        </div>
    </ion-navbar>
</ion-header>

<ion-content mode="md" style="background-color: #eeedf2">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <!--  <ion-card style="margin: -7px;width: 104%;padding: 0px;"> -->
    <div class="mycard">
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[0]}}</span>
            </ion-label>
            <ion-select #myselect [(ngModel)]="transferData1.fromAcc" interface="popover" (ionChange)="changeAcc(3,transferData1.fromAcc)">
                <ion-option *ngFor="let account of fromAccountlist" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div class="uni" *ngIf="checked">
            <span class="uni" id="span-style">{{textData[8]}}</span>:&nbsp;<span>{{accountBal}}</span>
        </div>
        <div align="center" id="div-error-style" class="uni">
            {{fromaccMsg1}}
        </div>
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[1]}}</span>
            </ion-label>
            <ion-input readonly type="number" [(ngModel)]="transferData1.toAcc" (ngModelChange)="inputChange(3)"></ion-input>
            <div color="shwe" item-right style="padding:0px;width:32px;margin: 20px -5px 0px 0px;">
                <button mode="md" transparent ion-button icon-only clear tappable (click)="addBeneficiary(2)">
                    <ion-icon>
                        <img src="assets/bene-icon.png" />
                    </ion-icon>
                </button>
            </div>
        </ion-item>
        <div align="center" id="div-error-style" class="uni">
            {{toaccMsg1}}
        </div>
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[7]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="transferData1.name" readonly></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[2]}}</span>
            </ion-label>
            <ion-input type="number" [(ngModel)]="transferData1.amount" (ngModelChange)="inputChange(2)"></ion-input>
        </ion-item>
        <div align="center" id="div-error-style" class="uni">
            {{amountcMsg1}}
        </div>
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[3]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="transferData1.refNo"></ion-input>
        </ion-item>
        <div style="height:65px"></div>
    </div>
    <ion-row style="margin: 0px 5px 0px 5px">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block tappable (click)="reset()" color="shwebtn">
                {{textData[9]}}
            </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block tappable (click)="transfer()" color="shwebtn">
                {{textData[4]}}
            </button>
        </ion-col>
    </ion-row>
</ion-content>