<!-- Generated template for the Login page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation. -->
<ion-header no-border color="wcolor">
  <ion-navbar transparent>
    <button mode="md" ion-button menuToggle color="shwe">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="custom_ion_title">
        <span class="uni" style="color: #3B5998;">{{showFont[5]}}</span>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only tappable (click)="presentPopover($event)" color="shwe">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content mode="md" scroll="false">
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
  <div align="center">
    <img src="assets/Picture10.png" class="resize">
  </div>

  <div class="div_login" *ngIf="loginStatus=='2' || loginStatus =='3'">
    <ion-list>
      <ion-item style="border-bottom-color: #dedede;box-shadow: inset 0 -1px 0 0 #dedede;background-color: transparent;">
        <ion-label stacked>
          <span class="uni">{{showFont[0]}}</span>
        </ion-label>
        <ion-input #user type="text" [(ngModel)]="loginData.userph" (ngModelChange)="inputChange($event,1)" (keyup)="onChange(loginData.userph,1)"></ion-input>
        <ion-icon name="md-person" style="font-size:27px;" item-left color="shwe">
        </ion-icon>
      </ion-item>
      <!-- 00BF9A -->
      <div style="padding: 10px"></div>
      <ion-item style="border-bottom: 0px solid #dedede;border-bottom-color: #dedede;box-shadow: inset 0 -1px 0 0 #dedede;    background-color: transparent;">
        <ion-label stacked>
          <span class="uni">{{showFont[1]}}</span>
        </ion-label>
        <ion-input #pass type="password" [(ngModel)]="loginData.userpsw" (ngModelChange)="inputChange(2)"></ion-input>
        <ion-icon name="md-lock" style="font-size:27px;" item-left color="shwe">
        </ion-icon>
      </ion-item>
      <!-- 00BF9A -->
    </ion-list>
    <div style="padding: 10px"></div>
    <div style="align-content: center;">
      <div align="center">
        <button mode="md" [disabled]="isenabled" ion-button round tappable (click)="goLogin()" full color="shwe">
          <!-- 00BF9A style="background-color: #3B5998;" -->
          <span class="uni">{{showFont[4]}}</span>
        </button>
      </div>
    </div>
    <div align="center" style="color: #EE4141; " class="uni">
      <ion-icon *ngIf="loginmessage" name="ios-warning" style="font-size: 16px; padding-right: 5px;" color="danger">
      </ion-icon>
      <span *ngIf="loginmessage">{{loginmessage}}</span>
      <span>&nbsp;</span>
    </div>
  </div>

  <div class="div_login" *ngIf="loginStatus=='1'">
    <ion-item class="rounded">
      <ion-input type="text" placeholder="{{showFont[0]}}" class="uni" [(ngModel)]="loginData.userph" (ngModelChange)="inputChange($event)" (keyup)="onChange($event,loginData.userph)" tappable></ion-input>
    </ion-item>
    <div>
      <button mode="md" [disabled]="isenabled" ion-button roudn tappable (click)="goLogin()" color="shwebtn" full>
        <span class="uni">{{showFont[4]}}</span>
      </button>
    </div>
    <div align="center" style="color:#EE4141;" class="uni">
      <ion-icon *ngIf="loginmessage" name="ios-warning" style="font-size:18px;padding-right:5px;" color="danger">
      </ion-icon>
      <span *ngIf="loginmessage">{{loginmessage}}</span>
      <span>&nbsp;</span>
    </div>
  </div>

  <div class="div_login" *ngIf="loginStatus=='4' || loginStatus =='5'">
    <ion-list>
      <ion-item style="border-bottom-color: #dedede;box-shadow: inset 0 -1px 0 0 #dedede;background-color: transparent;">
        <ion-label stacked>
          <span class="uni">{{showFont[7]}}</span>
        </ion-label>
        <ion-input type="text" [(ngModel)]="loginData.userph" (ngModelChange)="inputChange($event)" (keyup)="onChange($event,loginData.userph)"></ion-input>
        <ion-icon name="md-person" style="font-size:27px;" item-left color="shwe">
        </ion-icon>
      </ion-item>
      <div style="padding: 10px"></div>
      <ion-item style="border-bottom: 0px solid #dedede;border-bottom-color: #dedede;box-shadow: inset 0 -1px 0 0 #dedede;    background-color: transparent;">
        <ion-label stacked>
          <span class="uni">{{showFont[8]}}</span>
        </ion-label>
        <ion-input type="number" id="mask-text" [(ngModel)]="loginData.userpsw" (ngModelChange)="inputChange($event)"></ion-input>
        <ion-icon name="md-lock" style="font-size:27px;" item-left color="shwe">
        </ion-icon>
      </ion-item>
    </ion-list>
    <div style="padding: 10px"></div>
    <div style="align-content: center;">
      <div align="center">
        <button mode="md" [disabled]="isenabled" ion-button round tappable (click)="goLogin()" full color="shwe">
          <span class="uni">{{showFont[4]}}</span>
        </button>
      </div>
    </div>
    <div align="center" style="color:#EE4141;" class="uni">
      <ion-icon *ngIf="loginmessage" name="ios-warning" style="font-size:18px;padding-right:5px;" color="danger">
      </ion-icon>
      <span *ngIf="loginmessage">{{loginmessage}}</span>
      <span>&nbsp;</span>
    </div>
  </div>

</ion-content>
<!-- <ion-footer>
  <button mode="md"  ion-button round tappable (click)="crash()" full color="shwe">
    <span class="uni">Crash</span>
  </button>
</ion-footer> -->

<!-- <ion-footer *ngIf="showFooter">
  <ion-slides autoplay="3000" loop="true" speed="1000" *ngIf="advertiseData.length > 0">
     <ion-slide  *ngFor="let item of advertiseData" style="padding: 10px 18px 0px 12px;">
      <a href="http://{{item.link}}" style="width: 100%"><img src="{{item.logo}}" class="resizefooter"></a>
    </ion-slide>
  </ion-slides>
</ion-footer> -->
