<!-- Generated template for the QrDemo page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation. -->
<ion-header>

    <ion-navbar color="shwe">
        <ion-buttons left>
            <button ion-button icon-only tappable (click)="backButton()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title id="custom_ion_title">
            <span class="uni">{{showFont[0]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md">
    <ion-list>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[1]}}</span>
            </ion-label>
            <ion-select #myselect [(ngModel)]="city.account" interface="popover" (ionChange)="changeAcc(1,city.account)">
                <ion-option *ngFor="let account of useraccount" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div>
            <span class="uni" id="span-style">
                {{showFont[15]}}
            </span> :
            <span>{{accountBal}}</span>
        </div>
        <div align="center" style="color:#EE4141;padding:10px;" *ngIf="fromaccMsg != ''" class="uni">
            {{fromaccMsg}}
        </div>
        <ion-row>
            <ion-col col-10>
                <ion-item class="uni">
                    <!-- <ion-label floating><span class="uni">{{showFont[2]}}</span></ion-label> -->
                    <ion-input class="selectable" placeholder={{placeHolderText}} type="text" [(ngModel)]="copyText" (ngModelChange)="inputChange()"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-2>
                <ion-buttons right>
                    <!-- <button mode="md" transparent ion-button icon-only clear (click)="scanQR()">
                        <ion-icon tappable>
                            <img *ngIf="!validText" src="assets/qr-icon.png">
                            <img *ngIf="validText" src="assets/check.png">
                        </ion-icon>
                    </button> -->
                    <!-- style="display: flex!important;align-items: center!important;max-width: 125px;" -->
                    <!-- {{buttonText}} -->
                    <button mode="md" ion-button round icon-only tappable (click)="scanQR()" color="shwebtn">
                        <ion-icon name="qr-scanner" *ngIf="!validText"></ion-icon>
                        <ion-icon name="checkbox-outline"  *ngIf="validText"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
        <div align="center" id="div-error-style" class="uni">
            {{requireScan}}
        </div>
        <!-- *ngIf="requireScan != ''" -->
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[2]}}</span>
            </ion-label>
            <ion-input readonly=true type="text" [(ngModel)]="city.refNo"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[3]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="city.billId"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[4]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true class="input-height uni" [(ngModel)]="city.cusName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[5]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="billAmount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[9]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="penaltyAmount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[13]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="comAmount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[14]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="totalAmount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[6]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true class="input-height uni" [(ngModel)]="city.deptName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[7]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true class="input-height uni" [(ngModel)]="city.taxDesc"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[8]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="city.dueDate"></ion-input>
        </ion-item>
        <ion-item *ngIf="city.belatedDays">
            <ion-label floating>
                <span class="uni">{{showFont[16]}}</span>
            </ion-label>
            <ion-input type="text" readonly=true [(ngModel)]="city.belatedDays"></ion-input>
        </ion-item>
        <ion-item hidden>
            <ion-label floating>
                <span class="uni">Additional Info 1</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="city.t1"></ion-input>
        </ion-item>
        <ion-item hidden>
            <ion-label floating>
                <span class="uni">Additional Info 2</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="city.t2"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[10]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="city.narrative"></ion-input>
        </ion-item>
    </ion-list>
</ion-content>

<ion-footer style="padding:10px 10px 10px;">
    <ion-col class="uni">
        <button mode="md" ion-button block type="submit" tappable (click)="validation()" color="shwebtn">
            {{showFont[12]}}
        </button>
    </ion-col>
</ion-footer>