<ion-header>
    <ion-navbar color="shwe">
        <button mode="md" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title id="custom_ion_title">
            <span class="uni">{{showFont[0]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md" scroll="false">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>

    <div style="padding: 10px;">
        <ion-segment [(ngModel)]="location" mode="md">
            <ion-segment-button *ngFor="let data of alllocation.data" tappable (click)="setLocation(data.locationType)" value="{{data.locationType}}">
                {{data.locationName}}
                <div *ngIf="location==data.locationType"></div>
            </ion-segment-button>
        </ion-segment>
    </div>
    <div [ngSwitch]="location" *ngIf="status == 1">
        <div *ngFor="let loc of alllocation.data">
            <ion-list *ngSwitchCase="loc.locationType">
                <div *ngFor="let data of loc.dataList">
                    <ion-item *ngIf="data!=undefined" detail-push tappable (click)="getloaction(data)">
                        <h2>{{data.address}}</h2>
                    </ion-item>
                    <div *ngIf="data==undefined" align="center">
                        <ion-card id="ion_card_bg_setting">
                            <h3 style="padding:50px;color:#ccc;"> No result found!</h3>
                        </ion-card>
                    </div>
                </div>
            </ion-list>
        </div>
    </div>

    <div *ngIf="status == 0" align="center">
        <ion-card id="ion_card_bg_setting">
            <h3 style="padding:50px;color:#ccc;"> No result found!</h3>
        </ion-card>
    </div>
</ion-content>