<!--
  Generated template for the LanguagePopOver page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content mode="md">
    <ion-item-group>
        <ion-item-divider style="font-size: 1.8rem;padding-top:0px;">
            {{headeritem}}
        </ion-item-divider>
        <ion-item *ngFor="let item of popoverItemList" tappable (click)="changeLanguage(item.key)" no-lines>
            <span class="uni"> {{item.name}}</span>
        </ion-item>
    </ion-item-group>
    <!--<ion-list style="margin-bottom:0px;">
    <ion-item *ngFor="let item of popoverItemList" tappable (click)="changeLanguage(item.key)" no-lines>
      <span class="uni"> {{item.name}}</span>
    </ion-item>
  </ion-list> -->
</ion-content>