<!--
  Generated template for the TransactionHistoryDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ion-card *ngIf="passtemp.processingCode == '080400'">
        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.bankRefNumber}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.merchantName}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.packageName}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.month}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[5]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.cardNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[6]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.transDate}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[7]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.amount}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[8]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.amountServiceCharges}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[9]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.amountTax}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[10]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.amountTotal}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr *ngIf="b.resultDesc">
        <ion-item text-wrap *ngIf="b.resultDesc">
            <p class="uni">{{showFont[11]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.resultDesc}}</h2>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="passtemp.processingCode == '050200'">
        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.bankRefNumber}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.merchantName}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[13]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.month}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[14]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.cardNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[6]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.transDate}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[7]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.amount}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[8]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.amountServiceCharges}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[9]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.amountTax}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[10]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.amountTotal}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr *ngIf="b.resultDesc">
        <ion-item text-wrap *ngIf="b.resultDesc">
            <p class="uni">{{showFont[11]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.resultDesc}}</h2>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="passtemp.processingCode == '090500'">
        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.bankRefNumber}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.merchantName}}</h2>
        </ion-item>
        <hr>

        <ion-item text-wrap>
            <p class="uni">{{showFont[16]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.month}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[15]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.cardNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[6]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.transDate}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[7]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.amount}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[8]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.amountServiceCharges}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[9]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.amountTax}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[10]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.amountTotal}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr *ngIf="b.resultDesc">
        <ion-item text-wrap *ngIf="b.resultDesc">
            <p class="uni">{{showFont[11]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.resultDesc}}</h2>
        </ion-item>
    </ion-card>

</ion-content>