<!--
  Generated template for the Logout page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <!-- <img src="assets/images/Shwecopy.png" width="40px" style="display:inline-block" height="40px"/>
    <ion-title class="titleicon" style="display:inline-block;" >Shwe Bank</ion-title> -->
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[5]}}</span></ion-title>
        <!--<span class="uni">{{showFont[5]}}</span>-->
        <ion-buttons end>
            <button ion-button icon-only tappable (click)="getlogout()">
        <ion-icon name="md-close"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <div align="center" style="padding:20px 16px 16px;">
        <h5><span class="uni">{{showFont[0]}}</span></h5>
    </div>
    <ion-card>
        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp.lastTimeLogin}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp.lastTimeLogout}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp.duration}}</h2>
        </ion-item>
    </ion-card>
    <!--<ion-list>
    <ion-item>
      <ion-row>
        <ion-col>
          <h2><span class="uni">{{showFont[1]}}</span></h2>
        </ion-col>
        <ion-col>
          <h2>{{passtemp.lastTimeLogin}}</h2>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          <h2><span class="uni">{{showFont[2]}}</span></h2>
        </ion-col>
        <ion-col>
          <h2>{{passtemp.lastTimeLogout}}</h2>
        </ion-col>
      </ion-row>
    </ion-item>
    <ion-item>
      <ion-row>
        <ion-col>
          <h2><span class="uni">{{showFont[3]}}</span></h2>
        </ion-col>
        <ion-col>
          <h2>{{passtemp.duration}}</h2>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-list> -->
    <!--  <ion-item-group *ngIf="passtemp.activityList.length>0">
    <ion-item-divider color="light"><span class="uni">{{showFont[4]}}</span></ion-item-divider>
    <ion-item *ngFor="let a of passtemp.activityList">
      {{a.activity}}
    </ion-item>
  </ion-item-group> -->
</ion-content>