<ion-header class="nav-color">
  <ion-navbar color="shwe" transparent>
    <ion-title id="custom_ion_title">
      <span class="uni">{{showFont[0]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content mode="md">
  <ion-card>
    <ion-card-header style="white-space: inherit; background: lightgreen; padding: 20px;">
      <div align="center">
        Transaction with reference number {{merchantSuccessObj.bankRefNo}} is in Accepted state.
      </div>
    </ion-card-header>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[1]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantSuccessObj.fromAcc}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[2]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantSuccessObj.cardNo}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding" *ngIf="merchantSuccessObj.packagetype!='ppv'">
      <p class="uni">{{showFont[3]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantSuccessObj.packageName}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding" *ngIf="merchantSuccessObj.packagetype!='ppv'">
      <p class="uni">{{showFont[4]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantSuccessObj.voucherType}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding" *ngIf="merchantSuccessObj.packagetype=='ppv'">
      <p class="uni">{{showFont[11]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantSuccessObj.moviename}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[5]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{amount}} {{merchantSuccessObj.ccy}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[6]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{commissionAmount}} {{merchantSuccessObj.ccy}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[7]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{totalAmount}} {{merchantSuccessObj.ccy}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[8]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantSuccessObj.bankRefNo}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[9]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantSuccessObj.transDate}}</h2>
    </ion-item>
  </ion-card>

  <div padding class="uni">
    <button mode="md" ion-button block type="button" tappable (click)="closeSkynetSuccess()" style="margin-top: 10px;" color="shwebtn">{{showFont[10]}}</button>
  </div>
</ion-content>
