page-skynet-success {
  .item-inner {
    border-bottom: 1px solid #dedede !important;
    padding-left: 16px !important;
  }

  .adjust-custom-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
