<!--
  Generated template for the ChoosepackagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar [ngStyle]="primColor">
        <img src="{{passtemp.logo}}" class="{{customCss}}" />
        <!-- <ion-title id="custom_ion_title">{{billdata.merchanttype}}</ion-title>-->
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <!--<ion-row>
    <ion-col>
      <ion-item no-lines style="text-align: center;  display: flex !important;align-items: center !important;">
        <ion-label>Skynet</ion-label>
      </ion-item>
    </ion-col>
    <ion-col>
         <img src="assets/merchant/skynet.jpg" style="width: 100px;height:100px;border-radius:30%;">
    </ion-col>

  </ion-row>-->
    <ion-list style="padding:0px 10px 0px;" *ngIf="billdata.processCode == '080400'">
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[0]}}</span></ion-label>
            <ion-select [(ngModel)]="billdata.accounttype" interface="popover" (ionChange)="accountChange(billdata.accounttype)">
                <ion-option *ngFor="let account of useraccount" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpAcc">{{msgCnpAcc}}</div>
        <ion-item *ngIf="billdata.availableamount!=''">
            <ion-label floating>Available Balance</ion-label>
            <ion-input type="text" disabled="true" style="color:#116011;font-weight: bold;" [(ngModel)]="billdata.availableamount"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[1]}}</span></ion-label>
            <ion-select [(ngModel)]="temppackagename" interface="popover" (ionChange)="packageChange(temppackagename)">
                <ion-option *ngFor="let p of packagetype" [value]="p.id">
                    {{p.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpbill">{{msgCnpbill}}</div>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[2]}}</span></ion-label>
            <ion-select [(ngModel)]="tempmonthname" interface="popover" (ionChange)="monthChange(tempmonthname)">
                <ion-option *ngFor="let month of monthtype" [value]="month.did">
                    {{month.m}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpCusNo">{{msgCnpCusNo}}</div>

        <!-- <ion-row>
      <ion-col>
        <ion-item>
          <ion-label floating><span class="uni">{{showFont[3]}}</span></ion-label>
          <ion-input type="text" disabled="true" [(ngModel)]="billdata.amountTax" style="font-weight: bold;"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label floating><span class="uni">{{showFont[4]}}</span></ion-label>
          <ion-input type="text" disabled="true" [(ngModel)]="billdata.amountServiceCharges" style="font-weight: bold;"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[3]}}</span></ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="billdata.amountTax" style="font-weight: bold;"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[4]}}</span></ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="billdata.amountServiceCharges" style="font-weight: bold;"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[5]}}</span></ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="billdata.amount" style="font-weight: bold;"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[6]}}</span></ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="billdata.amountTotal" style="font-weight: bold;"></ion-input>
        </ion-item>

        <ion-row>

            <ion-col class="uni" style="display: flex!important;align-items: center!important;max-width: 125px;">
                <!--   <img src="img/qricon.png" style="width: 43px;height:43px;border-radius:30%;">-->
                <button mode="md" ion-button block type="button" tappable (click)="QRscan()" style="margin-top:30px;" color="shwebtn">{{showFont[7]}}</button>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label floating><span class="uni">{{showFont[8]}}</span></ion-label>
                    <ion-input type="number" [(ngModel)]="billdata.cardno" (ngModelChange)="inputChange($event)"></ion-input>
                </ion-item>
                <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpamt">{{msgCnpamt}}</div>
            </ion-col>
        </ion-row>
    </ion-list>

    <ion-list style="padding:0px 10px 0px;" *ngIf="billdata.processCode == '050200'">
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[0]}}</span></ion-label>
            <ion-select [(ngModel)]="cnpData.accounttype" interface="popover" (ionChange)="accountChange(cnpData.accounttype)">
                <ion-option *ngFor="let account of useraccount" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div class="uni" *ngFor="let account of useraccount">
            <p *ngIf="cnpData.accounttype==account.depositAcc">
                <span class="uni" id="span-style">{{showFont[39]}}</span> : &nbsp;{{account.avlBal}}&nbsp;{{account.ccy}}
            </p>
        </div>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpAcc">{{msgCnpAcc}}</div>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[25]}}</span></ion-label>
            <ion-select [(ngModel)]="referencename" interface="popover" (ionChange)="referenceChange(referencename)">
                <ion-option *ngFor="let a of referenceType" [value]="a">
                    {{a.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpbill">{{msgCnpbill}}</div>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating><span class="uni">{{showFont[26]}}</span></ion-label>
                    <ion-input type="number" [(ngModel)]="cnpData.CusrefNo"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col class="uni" style="display: flex!important;align-items: center!important;max-width: 125px;" *ngIf="isenabled">
                <button mode="md" ion-button block type="button" tappable (click)="checkCusNo()" style="margin-top:30px;" color="shwebtn"><!-- [disabled]="!isenabled" -->{{showFont[31]}}</button>
            </ion-col>
        </ion-row>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpCusNo">{{msgCnpCusNo}}</div>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[27]}}</span></ion-label>
            <ion-input type="number" disabled="true" [(ngModel)]="cnpData.cnpCharge" style="font-weight: bold;"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[28]}}</span></ion-label>
            <ion-input type="number" disabled="true" [(ngModel)]="cnpData.bankCharges" style="font-weight: bold;"></ion-input>
        </ion-item>

        <ion-item *ngIf="isenabled">
            <!-- YCDC -->
            <ion-label floating><span class="uni">{{showFont[5]}}</span></ion-label>
            <ion-input type="text" [(ngModel)]="cnpData.amount" disabled="true" style="font-weight: bold;"></ion-input>
        </ion-item>

        <ion-item *ngIf="!isenabled">
            <!-- MPT -->
            <ion-label floating><span class="uni">{{showFont[5]}}</span></ion-label>
            <ion-input type="number" [(ngModel)]="cnpData.amount" (ngModelChange)="amountChange($event,cnpData.amount)"></ion-input>
            <!-- [disabled]="isenabled" -->
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpamt">{{msgCnpamt}}</div>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[6]}}</span></ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="cnpData.totalAmount" style="font-weight: bold;"></ion-input>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnptotamt">{{msgCnptotamt}}</div>
        <!-- <ion-item>
      <ion-label floating><span class="uni">{{cnpText[5]}}</span></ion-label>
      <ion-input type="number" disabled="true"  [(ngModel)]="cnpData.merchantCharges" style="font-weight: bold;"></ion-input>
    </ion-item> -->
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[30]}}</span></ion-label>
            <ion-input type="text" [(ngModel)]="cnpData.narrative"></ion-input>
        </ion-item>
    </ion-list>



    <ion-list style="padding:0px 10px 0px;" *ngIf="billdata.processCode == '040300'">
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[0]}}</span></ion-label>
            <ion-select [(ngModel)]="skypayData.accounttype" interface="popover" (ionChange)="accountChange(skypayData.accounttype)">
                <ion-option *ngFor="let account of useraccount" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{SkypayText[0]}}</span></ion-label>
            <ion-select [(ngModel)]="referencename" interface="popover" (ionChange)="referenceChange(referencename)">
                <ion-option *ngFor="let a of referenceType" [value]="a">
                    {{a.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{SkypayText[1]}}</span></ion-label>
            <ion-input type="number" [(ngModel)]="skypayData.phone" (ngModelChange)="inputChange($event)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{SkypayText[2]}}</span></ion-label>
            <ion-select [(ngModel)]="skypayData.amount" interface="popover" (ionChange)="accountChange(skypayData.amount)">
                <ion-option *ngFor="let a of amountType" [value]="a.value">
                    {{a.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{SkypayText[3]}}</span></ion-label>
            <ion-input type="number" disabled="true" [(ngModel)]="skypayData.bankCharges" style="font-weight: bold;"></ion-input>
        </ion-item>
        <!--<ion-item>
      <ion-label floating><span class="uni">{{SkypayText[4]}}</span></ion-label>
      <ion-input type="number" disabled="true"  [(ngModel)]="skypayData.merchantCharges" style="font-weight: bold;"></ion-input>
    </ion-item> -->
        <ion-item>
            <ion-label floating><span class="uni">{{SkypayText[5]}}</span></ion-label>
            <ion-input type="text" [(ngModel)]="skypayData.narrative"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list style="padding:0px 10px 0px;" *ngIf="billdata.processCode == '000100'">
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[0]}}</span></ion-label>
            <ion-select [(ngModel)]="mptData.accounttype" interface="popover" (ionChange)="accountChange(mptData.accounttype)">
                <ion-option *ngFor="let account of useraccount" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{mptText[0]}}</span></ion-label>
            <ion-input type="number" [(ngModel)]="mptData.customerNo" (ngModelChange)="inputChange($event)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{mptText[1]}}</span></ion-label>
            <ion-input type="number" [(ngModel)]="mptData.invoiceNo" (ngModelChange)="inputChange($event)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{mptText[2]}}</span></ion-label>
            <ion-input type="number" [(ngModel)]="mptData.amount" (ngModelChange)="inputChange($event)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{mptText[4]}}</span></ion-label>
            <ion-input type="text" [(ngModel)]="mptData.narrative"></ion-input>
        </ion-item>
    </ion-list>

    <ion-list style="padding:0px 10px 0px;" *ngIf="billdata.processCode == '030001'">
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[0]}}</span></ion-label>
            <ion-select [(ngModel)]="breweryData.accounttype" interface="popover" (ionChange)="accountChange(breweryData.accounttype)">
                <ion-option *ngFor="let account of useraccount" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{breweryText[0]}}</span></ion-label>
            <ion-select [(ngModel)]="referencename" interface="popover" (ionChange)="referenceChange(referencename)">
                <ion-option *ngFor="let a of referenceType" [value]="a">
                    {{a.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{breweryText[1]}}</span></ion-label>
            <ion-input type="number" [(ngModel)]="breweryData.quantity" (ngModelChange)="inputChange($event,breweryData.quantity)"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{breweryText[2]}}</span></ion-label>
            <ion-input type="number" disabled="true" [(ngModel)]="breweryData.price" style="font-weight: bold;"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{breweryText[3]}}</span></ion-label>
            <ion-input type="number" disabled="true" [(ngModel)]="breweryData.amount" style="font-weight: bold;"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{breweryText[4]}}</span></ion-label>
            <ion-input type="number" disabled="true" [(ngModel)]="breweryData.bankCharges" style="font-weight: bold;"></ion-input>
        </ion-item>
        <!-- <ion-item>
      <ion-label floating><span class="uni">{{breweryText[5]}}</span></ion-label>
      <ion-input type="number" disabled="true"  [(ngModel)]="breweryData.merchantCharges" style="font-weight: bold;"></ion-input>
    </ion-item> -->
        <ion-item>
            <ion-label floating><span class="uni">{{breweryText[6]}}</span></ion-label>
            <ion-input type="text" [(ngModel)]="breweryData.narrative"></ion-input>
        </ion-item>
    </ion-list>


    <ion-list style="padding:0px 10px 0px;" *ngIf="billdata.processCode == '090500'">

        <ion-item>
            <ion-label floating><span class="uni">{{showFont[0]}}</span></ion-label>
            <ion-select [(ngModel)]="waterBillData.accounttype" interface="popover" (ionChange)="accountChange(waterBillData.accounttype)">
                <ion-option *ngFor="let account of useraccount" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgwBillAcc">{{msgwBillAcc}}</div>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating><span class="uni">{{showFont[34]}}</span></ion-label>
                    <ion-input type="text" [(ngModel)]="waterBillData.meterNo"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col class="uni" style="display: flex!important;align-items: center!important;max-width: 125px;">
                <button mode="md" ion-button block type="button" tappable (click)="checkMeterNo()" style="margin-top:30px;" color="shwebtn"><!-- [disabled]="!isenabled" -->{{showFont[31]}}</button>
            </ion-col>
        </ion-row>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgwBillMno">{{msgwBillMno}}</div>

        <ion-item>
            <ion-label floating><span class="uni">{{showFont[33]}}</span></ion-label>
            <ion-select [(ngModel)]="outstandBill" interface="popover" (ionChange)="outstanBilChange(outstandBill)">
                <ion-option *ngFor="let a of waterMeterCheckData" [value]="a">
                    {{a.billNo}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgwBilloutstand">{{msgwBilloutstand}}</div>

        <ion-item>
            <ion-label floating><span class="uni">{{showFont[5]}}</span></ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="waterBillData.amount" style="font-weight: bold;"></ion-input>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgwBillamt">{{msgwBillamt}}</div>

        <ion-item>
            <ion-label floating><span class="uni">{{showFont[28]}}</span></ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="waterBillData.bankCharges" style="font-weight: bold;"></ion-input>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgwBillbCharges">{{msgwBillbCharges}}</div>


        <ion-item>
            <ion-label floating><span class="uni">{{showFont[32]}}</span></ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="waterBillData.penalty" style="font-weight: bold;"></ion-input>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgwBillPenalty">{{msgwBillPenalty}}</div>

        <ion-item>
            <ion-label floating><span class="uni">{{showFont[6]}}</span></ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="waterBillData.totalAmount" style="font-weight: bold;"></ion-input>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgwBilltotamt">{{msgwBilltotamt}}</div>

        <ion-item>
            <ion-label floating><span class="uni">{{showFont[30]}}</span></ion-label>
            <ion-input type="text" [(ngModel)]="waterBillData.narrative"></ion-input>
        </ion-item>
    </ion-list>


    <div style="padding:10px 20px 20px;">
        <ion-col class="uni">
            <button mode="md" ion-button block type="submit" tappable (click)="clicksubmit()" color="shwebtn">{{showFont[9]}}</button>
            <!--[ngStyle]="primColor"-->
        </ion-col>
    </div>
    <div align="center" style="color:#EE4141;padding-bottom:20px;" *ngIf="errormessage">
        <span class="uni">{{errormessage}}</span>
    </div>

</ion-content>