page-choosepackage {
  .toolbar-background-md {
    border-color: #b2b2b2;
    background: none;
  }
  .toolbar-title-md {
    color: #fff;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #fff;
  }
  .resize {
    height: auto;
    width: auto;
    max-width: 45px;
    max-height: 45px;
    display:inline-block;
    margin-right:58px;
  }
  .resizeskynet {
    height: auto;
    width: auto;
    max-width: 100px;
    max-height: 100px;
    display:inline-block;
    margin-right:58px;
  }
  #span-style{
    margin-left: 18px;
  }
}
