<!--
  Generated template for the ChequelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-buttons left>
            <button ion-button icon-only tappable (click)="backButton()">
              <ion-icon name="md-arrow-back"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[2]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <div>
        <ion-list>
            <ion-item detail-push tappable (click)="clickcheque(1)">
                <h2 style="padding-top:3px;"><span class="uni">{{showFont[0]}}</span></h2>
            </ion-item>
            <ion-item detail-push tappable (click)="clickcheque(2)">
                <h2 style="padding-top:3px;"><span class="uni">{{showFont[1]}}</span></h2>
            </ion-item>
        </ion-list>
    </div>

</ion-content>