// page-q-pay {

// }

page-q-pay,
.trips {
  .scroll-content {
    padding: 10px !important;
}
  .container {
    //width: 40%;
    //height: 10%;
    //background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }​
  .grid {
    padding: 5px !important;
  }
  .ellipsis {
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
  }
	.card {
		border-radius: 1rem
	}
  .trip {
    overflow: hidden;

    .background {
      background-size: 100% auto;
      background-position: center;

      .background-filter {
        height: 16rem;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));

        .align-bottom {
          width: 100%;

          h6 {
            margin-top: 0;
          }
        }
      }
    }
  }
}
