<ion-header>

    <ion-navbar color="shwe">
        <ion-title style="text-align:center"><span class="uni">{{showFont[12]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ion-card>
        <ion-card-header style="white-space: inherit;background:lightgreen;padding:20px;">
            <div align="center">
                Transaction with Reference Number {{passTemp.bankRefNumber}} is in Accepted state.
            </div>

        </ion-card-header>
        <ion-item text-wrap>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.account}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.amount}}&nbsp;&nbsp; {{passTemp1.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[11]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.penaltyAmount}}&nbsp;&nbsp; {{passTemp1.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[9]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.comAmount}}&nbsp;&nbsp; {{passTemp1.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[10]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.totalAmount}}&nbsp;&nbsp; {{passTemp1.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.bankRefNumber}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.transactionDate}}</h2>
        </ion-item>
    </ion-card>

    <div padding class="uni">
        <button mode="md" ion-button block type="button" tappable (click)="getOK()" style="margin-top:10px;" color="shwebtn">{{showFont[8]}}</button>
    </div>
</ion-content>