<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <button mode="md" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title id="custom_ion_title">
            <span class="uni">{{showFont[0]}}</span>
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-only tappable (click)="callIT('012307901')">
        <ion-icon name="call"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content mode="md">

    <ion-item>
        <ion-label floating>
            <span class="uni">{{showFont[1]}}</span>
        </ion-label>
        <ion-input type="password" [(ngModel)]="result.currentpsw" (ngModelChange)="inputChange($event)"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>
            <span class="uni">{{showFont[2]}}</span>
        </ion-label>
        <ion-input type="password" [(ngModel)]="result.newpsw" (ngModelChange)="inputChange($event)"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>
            <span class="uni">{{showFont[3]}}</span>
        </ion-label>
        <ion-input type="password" [(ngModel)]="result.confirmpsw" (ngModelChange)="inputChange($event)"></ion-input>
    </ion-item>

    <div padding>
        <button mode="md" ion-button block type="button" tappable (click)="changePassword()" color="shwebtn">
      <span class="uni">{{showFont[4]}}</span>
    </button>
    </div>

    <div style="color: #3b5998;padding-left:8%" class="row col-md-12">
        <!-- <span>* Password are case-sensitive and must be at least 6 characters.</span><br>
    <span>* A good password should contain a mix of capital and lower-case letters, numbers and symbols.</span>
    <br> -->
        <span>* Password require Minimum Length {{pdata.pswminlength}}, Maximum Length {{pdata.pswmaxlength}}</span>
        <span *ngIf="pdata.spchar != 0">, Special Character {{pdata.spchar}}</span>
        <span *ngIf="pdata.upchar != 0">, Uppercase Character {{pdata.upchar}}</span>
        <span *ngIf="pdata.lowerchar != 0">, Lowercase Character {{pdata.lowerchar}}</span>
        <span *ngIf="pdata.pswno != 0">, Number {{pdata.pswno}}</span>.
    </div>
    <ion-label *ngIf="errormessagetext!=''" style="color:#EE4141;text-align: center;font-size: 15px;">
        <span class="uni">{{errormessagetext}}</span>
    </ion-label>
</ion-content>