<ion-header class="nav-color">
    <ion-navbar color="shwe" transparent>
        <ion-title id="custom_ion_title">
            <span class="uni">{{showFont[0]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <ion-card>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[1]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_walletObj.account}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[2]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_walletObj.walletID}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[7]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_walletObj.walletName}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[3]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{amount}}</h2>
        </ion-item>
        <hr *ngIf="_walletObj.narrative!=undefined && _walletObj.narrative!=''">
        <ion-item text-wrap *ngIf="_walletObj.narrative!=undefined && _walletObj.narrative!=''">
            <p>
                <span class="uni">{{showFont[4]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_walletObj.narrative}}</h2>
        </ion-item>
    </ion-card>
    <ion-row style="padding:10px 10px 10px;">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block color="shwebtn" tappable (click)="cancel()">
        {{showFont[5]}}
      </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block color="shwebtn" tappable (click)="confirm()">
        {{showFont[6]}}
      </button>
        </ion-col>
    </ion-row>
</ion-content>