<ion-header>
    <ion-navbar color="shwe">
        <button mode="md" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <!-- <img src="assets/images/Shwecopy.png" width="40px" style="display:inline-block" height="40px"/>
    <ion-title class="titleicon" style="display:inline-block;" >Shwe Bank</ion-title> -->
        <ion-title id="custom_ion_title"><span class="uni">{{textFont[0]}}</span></ion-title>
        <!--  <ion-buttons end>
      <button ion-button icon-only tappable (click)="callIT('012307901')">
        <ion-icon name="call"></ion-icon>
      </button>
    </ion-buttons> -->
    </ion-navbar>
</ion-header>

<!-- <ion-content >

  <ion-card *ngIf="product">
      <ion-card-header class="uni" style="white-space: unset !important;">
        {{product.title}}
      </ion-card-header>
      <ion-card-content class="uni">
        <p [innerHTML]="product.description"></p>
      </ion-card-content>
    </ion-card>

</ion-content> -->

<ion-content class="common-bg" *ngIf="product">
    <!--slides  *ngFor="let image of trip.images"-->
    <ion-slides class="to-top" pager>
      <ion-slide >
          <img src="{{imglink}}{{product.imgPath}}" onError="this.src='./assets/product/default-image.jpg';"  alt="..." >
        <!-- <img src="http://192.168.204.249:8080/DigitalMedia/upload/image/userProfile/1610201916206138117.jpg" alt=""> -->
      </ion-slide>
    </ion-slides>
  
    <!--services-->
    <ion-grid class="border-bottom blue-bg">
      <ion-row>
        <ion-col text-center>
          <div class="text-sm">
            <div>              
              <span ion-text color="white" class="bold">{{product.title}}</span>            
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <div class="border-bottom" padding>
      <!-- <span ion-text color="dark" class="bold">HIGHLIGHT</span> -->
      <!-- <ul class="highlight">
        <li *ngFor="let highlight of trip.highlights">
          <ion-icon name="checkmark" class="text-green"></ion-icon> -->
          <span ion-text color="black">{{ product.description }}</span>
        <!-- </li>
      </ul> -->
    </div>
  
   
  </ion-content>