<!--
  Generated template for the IpchangePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <button mode="md" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title id="custom_ion_title"></ion-title>
        <!--<span class="uni">{{showFont[0]}}</span>-->
        <ion-buttons end>
            <button ion-button icon-only tappable (click)="callIT('012307901')">
        <ion-icon name="call"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-item>
        <ion-label floating><span class="bfont">Protocol</span></ion-label>
        <ion-input type="text" [(ngModel)]="data.protocol" (ngModelChange)="inputChange($event)"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating><span class="bfont">IP Address</span></ion-label>
        <ion-input type="text" [(ngModel)]="data.ipaddress" (ngModelChange)="inputChange($event)"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating><span class="bfont">Port</span></ion-label>
        <ion-input type="number" [(ngModel)]="data.port" (ngModelChange)="inputChange($event)"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating><span class="bfont">Service Name</span></ion-label>
        <ion-input type="text" [(ngModel)]="data.servicename" (ngModelChange)="inputChange($event)"></ion-input>
    </ion-item>
    <div padding>
        <button mode="md" ion-button block type="button" tappable (click)="changeaddress()" color="shwebtn"><span class="uni bfont">{{showFont[1]}}</span></button>
    </div>
    <ion-label *ngIf="errormessagetext!=''" style="color:red;text-align: center;font-size: 15px;"><span class="uni">{{errormessagetext}}</span></ion-label>
</ion-content>