<!--
  Generated template for the ProductImgViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="shwe">
    <button mode="md" ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <img src="assets/images/Shwecopy.png" width="40px" style="display:inline-block" height="40px"/>
    <ion-title class="titleicon" style="display:inline-block;" >Shwe Bank</ion-title> -->
    <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
    <!--  <ion-buttons end>
    <button ion-button icon-only tappable (click)="callIT('012307901')">
    <ion-icon name="call"></ion-icon>
    </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="width: 100%">
    <img src="../assets/product/product4.jpg"/>
  </div>
</ion-content>
