<ion-header>
  <ion-navbar color="shwe">
    <ion-buttons left>
      <button ion-button icon-only tappable (click)="backButton()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title id="custom_ion_title">
      <span class="uni">{{showFont[10]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content mode="md">
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>

  <!--skynet start-->
  <ion-list style="padding-left: 4px; padding-right: 4px;">
    <ion-row>
      <ion-col>
        <ion-item style="border-bottom: 1px solid #dedede;">
          <ion-label floating>
            <span class="{{font}}" id="custom_text_one">{{showFont[0]}}</span>
          </ion-label>
          <ion-select [(ngModel)]="billdata.accounttype" interface="popover" (ionChange)="accountChange(billdata.accounttype)" id="select_custom_text">
            <ion-option *ngFor="let account of useraccount" [value]="account.depositAcc">
              {{account.depositAcc}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <div class="{{font}}" *ngFor="let account of useraccount">
      <div *ngIf="billdata.accounttype==account.depositAcc">
        <span class="{{font}}" id="span-style">{{showFont[11]}}</span> : &nbsp;{{account.avlBal}}&nbsp;{{account.ccy}}
      </div>
    </div>
    <div style="color: red; padding-top: 15px;" align="center" class="{{font}}" *ngIf="msgCnpAcc">{{msgCnpAcc}}</div>

    <ion-row>
      <ion-col>
        <ion-item style="border-bottom: 1px solid #dedede;">
          <ion-label floating>
            <span class="{{font}}" id="custom_text_one">{{showFont[1]}}</span>
          </ion-label>
          <ion-select [(ngModel)]="temppackagename" interface="popover" (ionChange)="packageChange(temppackagename)" id="select_custom_text">
            <ion-option *ngFor="let p of packagetype" [value]="p.id">
              {{p.name}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <div style="color:red;padding-top:15px;" align="center" class="{{font}}" *ngIf="msgCnpbill">{{msgCnpbill}}</div>

    <ion-row>
      <ion-col>
        <ion-item style="border-bottom: 1px solid #dedede;">
          <ion-label floating>
            <span class="{{font}}" id="custom_text_one">{{showFont[2]}}</span>
          </ion-label>
          <ion-select [(ngModel)]="tempmonthname" interface="popover" (ionChange)="monthChange(tempmonthname)" id="select_custom_text">
            <ion-option *ngFor="let month of monthtype" [value]="month.did">
              {{month.m}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <div style="color:red;padding-top:15px;" align="center" class="{{font}}" *ngIf="msgCnpCusNo">{{msgCnpCusNo}}</div>

    <ion-row>
      <ion-col>
        <ion-item style="border-bottom: 1px solid #dedede;">
          <ion-label floating>
            <span class="{{font}}" id="custom_text_one">{{showFont[3]}}</span>
          </ion-label>
          <ion-input type="text" id="select_custom_text" disabled="true" [(ngModel)]="billdata.amountTax" style="font-weight: bold;"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item style="border-bottom: 1px solid #dedede;">
          <ion-label floating>
            <span class="{{font}}" id="custom_text_one">{{showFont[4]}}</span>
          </ion-label>
          <ion-input type="text" disabled="true" [(ngModel)]="billdata.amountServiceCharges" style="font-weight: bold;"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item style="border-bottom: 1px solid #dedede;">
          <ion-label floating>
            <span class="{{font}}" id="custom_text_one">{{showFont[5]}}</span>
          </ion-label>
          <ion-input type="text" id="select_custom_text" disabled="true" [(ngModel)]="billdata.amount" style="font-weight: bold;"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item style="border-bottom: 1px solid #dedede;">
          <ion-label floating>
            <span class="{{font}}" id="custom_text_one">{{showFont[6]}}</span>
          </ion-label>
          <ion-input type="text" id="select_custom_text" disabled="true" [(ngModel)]="billdata.amountTotal" style="font-weight: bold;"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item id="cardNo-style">
          <ion-label floating>
            <span class="{{font}}" id="custom_text_one">{{showFont[8]}}</span>
          </ion-label>
          <ion-input type="number" id="select_custom_text" [(ngModel)]="billdata.cardno"></ion-input>
        </ion-item>
        <div style="color:red; padding-top: 15px;" align="center" class="{{font}}" *ngIf="msgCnpamt">{{msgCnpamt}}</div>
      </ion-col>
      <ion-col align-self-center col-auto>
        <span class="{{font}}">
          <!--button ion-button round type="button" tappable (click)="QRscan()" id="qr-btn-style">{{showFont[7]}}</button-->

          <button ion-button round icon-only tappable (click)="QRscan()" color="shwebtn">
            <ion-icon name="qr-scanner"></ion-icon>
          </button>
        </span>
      </ion-col>
    </ion-row>

    <!--div align="center" id="div-btn-style">
              <ion-col>
                <span class="{{font}}">
                  <button offset-4 ion-button round type="submit" tappable (click)="clicksubmit()" id="one-btn-style" color="shwebtn">{{showFont[9] | uppercase}}</button>
                </span>
              </ion-col>
            </div-->

    <div align="center" style="color: rgb(117, 30, 30); padding-bottom: 20px;" *ngIf="errormessage">
      <span class="{{font}}" id="custom_text_one">{{errormessage}}</span>
    </div>
  </ion-list>
</ion-content>

<ion-footer style="padding: 10px;">
  <ion-col class="uni">
    <button mode="md" ion-button block type="submit" tappable (click)="clicksubmit()" color="shwebtn">
      {{showFont[9]}}
    </button>
  </ion-col>
</ion-footer>
