page-skynet {
  #screen_top_background_setting_navbar {
    text-align: center;
    background-color: #1F4E96;
  }

  #screen_top_text_setting_navbar {
    color: #ce972d;
    font-weight: 400;
  }

  #screen_top_background_setting_content_grid {
    background-image: url('../assets/screen-top-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 25%;
    margin-top: -5px;
  }

  #logo_setting {
    /* border: 3px solid #E4E5E5;
    border-radius: 50%;
    background-color: white; */
    width: 31%;
    /* height: 60px;
    padding: 7px;
    object-fit: contain; */
  }

  #first_title {
    text-align: center;
    font-size: 17px;
    color: white;
    margin-right: 0px;
    margin-top: 0px;
  }

  #second_title {
    text-align: center;
    color: white;
    margin-right: 0px;
    margin-top: -5px;
    font-size: 12px;
    font-weight: 100;
  }

  #custom_ion_card {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -15px;
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  /*  #custom_button {
    //border-radius: 20px;
    padding: 15px 40px 15px 40px;
    display: block;
    margin: 0 auto;
  } */
  ion-select {
    max-width: 95%;
  }

  #custom_text_one {
    font-size: 13px;
    color: map-get($colors, fontcolortwo) !important;
  }

  #select_custom_text {
    font-size: 13px;
    color: map-get($colors, fontcolorone) !important;
    font-weight: bold;
  }

  #qr-btn-style {
    background-color: white;
    color: #1C4E97 !important;
    border: 2px solid #1C4E97;
    padding: 15px 10px 15px 10px;
    margin: 0px 5px;
    font-size: 1.2rem !important;
    height: 3rem;
    box-shadow: none;
    display: block;
  }

  #cardNo-style {
    border-bottom: 1px solid #dedede !important;
    box-shadow: unset !important;
  }

  #list-style {
    margin: 0px;
  }

  #item-style {
    border-bottom: 1px solid #dedede;
    margin-top: -10px;
    margin-bottom: -10px;
  }

  #div-btn-style {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #text-line {
    color: map-get($colors, fontcolorone) !important;
    font-weight: bold;
  }

  #span-style {
    margin-left: 21px;
  }
}
