page-login-otp {
    #bg_image {
        /* margin-top: -75px;
        margin-bottom: -95px; */
        background-image: url('../assets/screen-top-bg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 151px;
    }
    .text-input-md {
        text-align: center;
        letter-spacing: 10px;
    }
    #card-style {
        border-radius: 10px;
        height: 300%;
    }
    #item-style {
        margin-top: 50px;
    }
    #input-style {
        color: #1f4e96;
        font-weight: bold;
        font-size: 20px;
    }
    #first-label {
        padding-top: 50px;
        font-size: 16px;
        color: map-get($colors, fontcolorone) !important;
        font-weight: bold;
    }
    #second-label {
        padding-top: 20px;
        font-size: 16px;
        color: map-get($colors, fontcolortwo) !important;
    }
    #btn-style {
        margin-top: 40px;
        padding: 15px 40px 15px 40px;
    }
    #send-btn-style {
        margin-top: 50px;
        padding: 15px 40px 15px 40px;
    }
    input::placeholder {
        letter-spacing: 0px;
    }
}