<ion-header>
    <ion-navbar color="shwe">
        <button mode="md" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <!-- <img src="assets/images/Shwecopy.png" width="40px" style="display:inline-block" height="40px"/>
    <ion-title class="titleicon" style="display:inline-block;" >Shwe Bank</ion-title> -->
        <ion-title id="custom_ion_title">Transaction history</ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md">
    <ion-list>
        <ion-item-group *ngIf="currentaccount.length>0">
            <ion-item-divider color="light">
                <h2 style="font-weight:bold;">Current Accounts</h2>
            </ion-item-divider>
            <ion-item *ngFor="let m of currentaccount">
                <p>{{m.depositAcc}}</p>
                <h2 style="float:right;font-weight:bold;color:#236ee3">{{m.ccy}} {{m.avlBal}}</h2>
            </ion-item>

        </ion-item-group>

        <ion-item-group *ngIf="savingaccount.length>0">
            <ion-item-divider color="light">
                <h2 style="font-weight:bold;">Saving Accounts</h2>
            </ion-item-divider>
            <ion-item *ngFor="let s of savingaccount">
                <p>{{s.depositAcc}}</p>
                <h2 style="float:right;font-weight:bold;color:#236ee3">{{s.ccy}} {{s.avlBal}}</h2>
            </ion-item>
        </ion-item-group>
    </ion-list>
</ion-content>