<!--
  Generated template for the ChangepasswordotpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md" padding>
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <div text-center>

        <ion-list>

            <ion-item style="background: none;">
                <ion-input type="text" [(ngModel)]="otpcode"></ion-input>
            </ion-item>
        </ion-list>
        <div>
            <button mode="md" ion-button block tappable (click)="getconfirm()" color="shwebtn" (ngModelChange)="inputChange($event)">
        <span class="uni">{{showFont[1]}}</span>
      </button>
        </div>
        <div align="center" style="color:#EE4141;" *ngIf='errormessage'>
            <span class="uni">{{errormessage}}</span>
        </div>
        <div style="padding:16px;font-size:16px;padding-bottom:5px;padding-left: 0px;padding-right: 0px;text-align: center;">
            <span class="uni">{{showFont[2]}}</span>
        </div>
        <div style="padding:5px;font-size:16px;">
            <span class="uni">{{showFont[3]}}</span>
        </div>

        <div>
            <button mode="md" ion-button outline block tappable (click)="sendOtpCode()" color="shwebtn">
        <span class="uni">{{showFont[4]}}</span>
      </button>
        </div>

    </div>
</ion-content>