<!--
  Generated template for the WalletTopupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-buttons left>
            <button ion-button icon-only tappable (click)="backButton()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title id="custom_ion_title">
            <span class="uni">{{textData[0]}}</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content mode="md" style="background-color: #eeedf2">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <div class="mycard">
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[1]}}</span>
            </ion-label>
            <ion-select #myselect [(ngModel)]="walletData.account" interface="popover" (ionChange)="changeAcc(1,walletData.account)">
                <ion-option *ngFor="let account of fromAccountlist" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div>
            <span class="uni" id="span-style">{{textData[7]}}</span> :<span>{{accountBal}}</span>
        </div>
        <div align="center" id="div-error-style" class="uni">
            {{fromaccMsg}}
        </div>
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[2]}}</span>
            </ion-label>
            <ion-input type="tel" [(ngModel)]="walletData.walletID" (ngModelChange)="inputChange(1)" (keyup)="onChange($event,walletData.walletID)"></ion-input>
            <div color="shwe" item-right tappable (click)="checkWallet()" style="padding:0px;width:33px;margin: 16px -5px 0px 0px;">
                <button mode="md" transparent ion-button icon-only clear>
                    <ion-icon tappable>
                        <img *ngIf="isChecked" src="assets/person-check.png">
                        <img *ngIf="!isChecked" src="assets/check.png">
                    </ion-icon>
                </button>
            </div>
        </ion-item>
        <div align="center" id="div-error-style" class="uni">
            {{walletIDMsg}}
        </div>
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[8]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="walletData.walletName"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[3]}}</span>
            </ion-label>
            <ion-input type="number" [(ngModel)]="walletData.amount" (ngModelChange)="inputChange(2)"></ion-input>
        </ion-item>
        <div align="center" id="div-error-style" class="uni">
            {{amountMsg}}
        </div>

        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[4]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="walletData.narrative"></ion-input>
        </ion-item>
        <div style="height:65px"></div>
    </div>
    <ion-row style="margin: 0px 5px 0px 5px">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block tappable (click)="reset()" color="shwebtn">
                    {{textData[6]}}
                </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block tappable (click)="goTopUp()" color="shwebtn">
                    {{textData[5]}}
                </button>
        </ion-col>
    </ion-row>
</ion-content>