<!--
  Generated template for the ChequeVarificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!------------------start back button & title--------------------------------->
<ion-header>
  <ion-navbar color="shwe">
    <!-- <ion-buttons left>
      <button ion-button icon-only tappable (click)="backButton()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title id="custom_ion_title">
      <span class="uni">{{showFont[4]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<!----------------------------------------end back button & title----------------------------------->
<ion-content>
  <!-------------------start input cheque no & Amount------------------------------------------->
  <ion-list style="padding-left: 10px; padding-right: 10px;">
    <ion-item style="padding-left: 0; padding-right: 0;">
      <ion-label floating>
        <span class="uni">{{showFont[0]}}</span><span style="color: red;">&nbsp;*</span>
      </ion-label>

      <ion-select [(ngModel)]="fromAccountNo" interface="popover" (ionChange)="changeAcc(fromAccountNo)">
        <ion-option *ngFor="let account of fromAccountlist" [value]="account.chequeAcc">
          {{account.chequeAcc}}
        </ion-option>
      </ion-select>
    </ion-item>

    <div class="uni" *ngIf="fromAccountNo!='' && fromAccountNo!='-'">
        <span style="color: green;" class="default-font-size">{{showFont[5]}}</span>&nbsp;:&nbsp;<span class="default-font-size">{{accountBal}}</span>
    </div>

    <div class="uni" *ngIf="accError!=''">
      <span class="default-font-size" style="color: red;">{{accError}}</span>
    </div>

    <span>&nbsp;</span>

    <ion-item style="padding-left: 0; padding-right: 0;">
      <ion-label floating>
        <span class="uni">{{showFont[1]}}</span><span style="color: red;">&nbsp;*</span>
      </ion-label>

      <ion-select [(ngModel)]="chequeno" interface="popover" (ionChange)="changeCheque(chequeno)">
        <ion-option *ngFor="let temp of chequetlistForUI" [value]="temp.value">
          {{temp.desc}}
        </ion-option>
      </ion-select>
    </ion-item>

    <div class="uni" *ngIf="chequeno!='' && chequeno!='-'">
        <span style="color: green;" class="default-font-size">{{showFont[6]}}</span>&nbsp;:&nbsp;<span class="default-font-size">{{status}}</span>
    </div>

    <div class="uni" *ngIf="chequeError!='' && chequeno==''">
      <span class="default-font-size" style="color: red;">{{chequeError}}</span>
    </div>

    <span>&nbsp;</span>

    <ion-item style="padding-left: 0; padding-right: 0;">
      <ion-label floating>
        <span class="uni">{{showFont[2]}}</span><span style="color: red;">&nbsp;*</span>
      </ion-label>

      <ion-input type="number" [disabled]="showDueDate" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" [(ngModel)]="amount"></ion-input>
      <!--div color="shwe" item-right style="margin: 39px -5px 0px 0px;font-size: 1.4rem;">
        <span>{{ccy}}</span>
      </div-->
    </ion-item>

    <div class="uni" *ngIf="amtErr!=''">
      <span class="default-font-size" style="color: red;">{{amtErr}}</span>
    </div>

    <span>&nbsp;</span>
  </ion-list>
  <!-------------------------end input cheque no & Amount--------------------------------------->


  <!--------------------------------------start button---------------------------------------------->
  <ion-row style="padding-top: 20px;">
    <ion-col col-4></ion-col>
    <ion-col class="uni" col-4>
      <button mode="md" ion-button block tappable (click)="goVerify()" color="shwebtn">
        {{showFont[3]}}
      </button>
    </ion-col>
    <ion-col col-4></ion-col>
  </ion-row>

  <span>&nbsp;</span>
  <!----------------------------------------end button------------------------------------->

  <ion-row style="padding-top: 20px; padding-left: 10px; padding-right: 10px;" *ngIf="showDueDate">
    <ion-col style="text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    padding-top: 20px;
    border: 1px solid #dedede;
    padding-bottom: 20px;">{{showFont[7]}} {{dueDate}}{{showFont[8]}}</ion-col>
  </ion-row>

</ion-content>
