<!--
  Generated template for the ConfirmpagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[11]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <ion-card *ngIf="passTemp.processingCode == '080400'">
        <ion-item text-wrap>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.accounttype}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.cardno}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.merchanttype}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.packagetype}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.monthtype}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[5]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amountTax}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[6]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amountServiceCharges}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[7]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amount}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[8]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amountTotal}}</h2>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="passTemp.processingCode == '050200'">
        <ion-item text-wrap>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.accounttype}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[16]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.referenceType}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap *ngIf="detail.refNo">
            <p class="uni">{{showFont[17]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.refNo}}</h2>
        </ion-item>
        <hr *ngIf="detail.refNo">
        <ion-item text-wrap>
            <p class="uni">{{showFont[12]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amount}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[18]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.cnpCharge}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[13]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.bankCharges}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[8]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amountTotal}}</h2>
        </ion-item>
        <hr *ngIf="detail.narrative">
        <ion-item text-wrap *ngIf="detail.narrative">
            <p class="uni">{{showFont[15]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.narrative}}</h2>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="passTemp.processingCode == '040300'">
        <ion-item text-wrap>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.accounttype}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[19]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.referenceType}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[20]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.phone}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[12]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amount}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[13]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.bankCharges}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[8]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amountTotal}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[15]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.narrative}}</h2>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="passTemp.processingCode == '000100'">
        <ion-item text-wrap>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.accounttype}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[21]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.customerNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[22]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.invoiceNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[12]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amount}}</h2>
        </ion-item>
        <hr>
        <!--<ion-item text-wrap >
      <h2><span class="uni">{{showFont[13]}}</span></h2>
      <h2 style="font-weight:bold;color:#000;">{{detail.bankCharges}}</h2>
    </ion-item><hr>-->
        <ion-item text-wrap>
            <p class="uni">{{showFont[8]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amountTotal}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[15]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.narrative}}</h2>
        </ion-item>
    </ion-card>


    <ion-card *ngIf="passTemp.processingCode == '030001'">
        <ion-item text-wrap>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.accounttype}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[23]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.referenceType}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[24]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.quantity}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[25]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.price}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[12]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amount}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[13]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.bankCharges}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[8]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amountTotal}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[15]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.narrative}}</h2>
        </ion-item>
    </ion-card>
    <ion-card *ngIf="passTemp.processingCode == '090500'">
        <ion-item text-wrap>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.accounttype}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[28]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.meterNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[26]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.outstandBill}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[12]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.amount}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[13]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.bankCharges}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[27]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.penalty}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[8]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.totalAmount}}</h2>
        </ion-item>
        <hr *ngIf="detail.narrative">
        <ion-item text-wrap *ngIf="detail.narrative">
            <p class="uni">{{showFont[15]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{detail.narrative}}</h2>
        </ion-item>
    </ion-card>

    <ion-row style="padding-bottom:10px;padding-top:5px;padding-left:10px;padding-right:10px;">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block tappable (click)="cancelbtn()" color="shwebtn">
          {{showFont[9]}}
        </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block tappable (click)="confirmbtn()" color="shwebtn">
         {{showFont[10]}}
        </button>
        </ion-col>
    </ion-row>
</ion-content>