<!--
  Generated template for the DemoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content mode="md">
    <ion-item-group>
        <ion-item-divider style="font-size: 1.7rem;padding-top:0px;padding-left:0px;text-align:center;">
            {{headeritem}}
        </ion-item-divider>
        <ion-item *ngFor="let item of textEng" no-lines>
            <!-- <span class="uni"> {{item.name}}</span>-->
            <ion-radio item-left value="{{item.key}}" [checked]="item.key == tagid" (ionSelect)="changeLink(item.key)"></ion-radio>
            <ion-label>{{item.name}}</ion-label>
        </ion-item>
    </ion-item-group>
</ion-content>