<!--
  Generated template for the AccountSummaryDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ion-card>
        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.accType}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{b.avlBal}} &nbsp; {{b.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{b.depositAcc}}</h2>
        </ion-item>
    </ion-card>
</ion-content>