<ion-header>
  <ion-navbar color="shwe">
    <ion-buttons left>
      <button ion-button icon-only tappable (click)="backButton()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title id="custom_ion_title">
      <span class="uni">{{showFont[0]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list style="padding-left: 10px; padding-right: 10px;">
    <ion-item style="padding-left: 0; padding-right: 0;">
      <ion-label floating>
        <span class="uni">{{showFont[1]}}</span><span style="color: red;">&nbsp;*</span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="url"></ion-input>
    </ion-item>

    <div class="uni">
      <span class="default-font-size" style="color: red;">{{errMsgUrl}}</span>
    </div>
  </ion-list>

  <ion-row style="padding-top: 20px;">
    <ion-col col-4></ion-col>
    <ion-col class="uni" col-4>
      <button mode="md" ion-button block tappable (click)="setUrl()" color="shwebtn">
        {{showFont[2]}}
      </button>
    </ion-col>
    <ion-col col-4></ion-col>
  </ion-row>
</ion-content>
