<ion-header>
  <ion-navbar color="shwe">
    <!-- <ion-buttons left>
      <button ion-button icon-only tappable (click)="backButton()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title id="custom_ion_title">
      <span class="uni">{{showFont[0]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list style="padding-left: 10px; padding-right: 10px;">
    <ion-item style="padding-left: 0; padding-right: 0;">
      <ion-label floating>
        <span class="uni">{{showFont[1]}}</span><span style="color: red;">&nbsp;*</span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="chequeno"></ion-input>
    </ion-item>

    <div class="uni">
      <span class="default-font-size" style="color: red;">{{toaccMsg}}</span>
    </div>

    <div class="uni" *ngIf="disable_flag">
      <span class="default-font-size" style="color: green;">{{amountInfo}}</span>
      <br>
      <span class="default-font-size" style="color: green;">{{dateInfo}}</span>
    </div>
  </ion-list>

  <ion-row style="padding-top: 20px;">
    <ion-col col-4></ion-col>
    <ion-col class="uni" col-4>
      <button mode="md" ion-button block tappable (click)="clicksubmit()" color="shwebtn">
        {{showFont[2]}}
      </button>
    </ion-col>
    <ion-col col-4></ion-col>
  </ion-row>

  <!--div *ngIf="disable_flag"-->
  <!--ion-row>
      <ion-col col-5 style="padding-left: 0; padding-right: 0;">
        <ion-label>{{showFont[3]}}</ion-label>
      </ion-col>
      <ion-col style="padding-left: 0; padding-right: 0;">
        <ion-label>{{amount}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-5 style="padding-left: 0; padding-right: 0;">
        <ion-label>{{showFont[4]}}</ion-label>
      </ion-col>
      <ion-col style="padding-left: 0; padding-right: 0;">
        <ion-label>{{expiredDate}}</ion-label>
      </ion-col>
    </ion-row-->

  <!--ion-row style="padding-top: 20px; padding-left: 10px; padding-right: 10px;">
      <ion-col style="padding-left: 10px;
      padding-right: 10px;
      padding-top: 15px;
      border: 1px solid #dedede;
      padding-bottom: 15px;">
      <ion-row>
        <ion-col col-4>
          Cheque No
        </ion-col>
        <ion-col style="font-weight: bold;">
          {{chequeno}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          Amount
        </ion-col>
        <ion-col style="font-weight: bold;">
          {{amount}} MMK
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4>
          ExpiredDate
        </ion-col>
        <ion-col style="font-weight: bold;">
          {{expiredDate}}
        </ion-col>
      </ion-row>
      </ion-col>
    </ion-row>
  </div-->
</ion-content>
