<ion-header>
  <ion-navbar color="shwe">
    <ion-title id="custom_ion_title">
      <span class="uni">{{textData[5]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content mode="md" scroll="false" style="background-color: #eeedf2">
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
  <div class="mycard">
    <ion-item>
      <ion-label floating>
        <span class="uni">
          {{textData[0]}}
        </span>
      </ion-label>
      <ion-select [(ngModel)]="transferData.fromAcc" id="select-font-color" interface="popover"
        (ionChange)="changeAcc(1,transferData.fromAcc)">
        <ion-option *ngFor="let account of fromAccountlist" [value]="account.depositAcc">
          {{account.depositAcc}}
        </ion-option>
      </ion-select>
    </ion-item>
    <div class="uni">
      <span class="uni" id="span-style">{{textData[7]}}</span>:<span>{{accountBal}}</span>
    </div>
    <div align="center" class="uni" id="div-error-style">
      {{fromaccMsg}}
    </div>

    <ion-item class="my-item">
      <ion-label floating>
        <span class="uni">
          {{textData[1]}}
        </span>
      </ion-label>
      <ion-input type="number" [(ngModel)]="transferData.toAcc" id="select-font-color" (ngModelChange)="inputChange(1)">
      </ion-input>

      <div color="shwe" item-right tappable (click)="checkAccount()"
        style="padding:0px;width:33px;margin: 20px -5px 0px 0px;">
        <button mode="md" transparent ion-button icon-only clear>
          <ion-icon tappable>
            <img *ngIf="isChecked" src="assets/person-check.png">
            <img *ngIf="!isChecked" src="assets/check.png">
          </ion-icon>
        </button>
      </div>
    </ion-item>
    <div align="center" class="uni" id="div-error-style">
      {{toaccMsg}}
    </div>
    <ion-item class="my-item">
      <ion-label floating>
        <span class="uni">
          {{textData[8]}}
        </span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="transferData.name" id="text-line"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>
        <span class="uni">
          {{textData[2]}}
        </span>
      </ion-label>
      <ion-input type="number" [(ngModel)]="transferData.amount" (ngModelChange)="inputChange(2)" id="text-line">
      </ion-input>
    </ion-item>
    <div align="center" class="uni" id="div-error-style">
      {{amountcMsg}}
    </div>
    <ion-item class="my-item">
      <ion-label floating>
        <span class="uni">
          {{textData[3]}}
        </span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="transferData.refNo" id="text-line"></ion-input>
    </ion-item>
    <div style="height:65px"></div>
  </div>
  <ion-row style="margin: 0px 5px 0px 5px">
    <ion-col class="uni" col-6>
      <button mode="md" ion-button outline block tappable (click)="reset()" color="shwebtn">
        {{textData[6]}}
      </button>
    </ion-col>
    <ion-col class="uni" col-6>
      <button mode="md" ion-button block tappable (click)="goNext()" color="shwebtn">
        {{textData[4]}}
      </button>
    </ion-col>
  </ion-row>
</ion-content>