<!--
  Generated template for the TransationHistory page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <button mode="md" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <ion-list>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[1]}}</span></ion-label>
            <ion-select #myselect [(ngModel)]="merchanttype" interface="popover" (ionChange)="merchantChange(merchanttype)">
                <!--(ionChange)="merchantChange(billdata.merchantID)"-->
                <ion-option *ngFor="let m of merchantlist" [value]="m.merchantID">
                    {{m.merchantName}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[2]}}</span></ion-label>
            <ion-select #myselect [(ngModel)]="userdata.useraccount" interface="popover">
                <!--(ionChange)="accountChange(billdata.depositAcc)"-->
                <ion-option *ngFor="let account of accountlist" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <p>
                <span class="uni">{{showFont[3]}}</span> ( <span class="uni">{{dateval}}</span> )
            </p>
        </ion-item>
    </ion-list>
    <div align="center">
        <button mode="md" ion-button style="padding:0.5em;" tappable (click)="getduration(0)" [color]="btncolor ? 'shwebtn' : 'other'">
          <span class="uni">{{showFont[7]}}</span>
        </button>
        <button mode="md" ion-button style="padding:0.5em;" tappable (click)="getduration(1)" [color]="btncolor1 ? 'shwebtn' : 'other'">
          <span class="uni">{{showFont[8]}}</span>
        </button>
        <button mode="md" ion-button style="padding:0.5em;" tappable (click)="getduration(2)" [color]="btncolor2 ? 'shwebtn' : 'other'">
          <span class="uni">{{showFont[9]}}</span>
        </button>
        <button mode="md" ion-button style="padding:0.5em;" tappable (click)="gorange()" [color]="btncolor3 ? 'shwebtn' : 'other'">
          <span class="uni">{{showFont[10]}}</span>
        </button>

    </div>
    <div *ngIf="range == true">
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label floating> <span class="uni">{{showFont[11]}}</span></ion-label>
                    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="fromDate"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label floating> <span class="uni">{{showFont[12]}}</span></ion-label>
                    <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="toDate"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
    <div padding>
        <button mode="md" ion-button block color="shwebtn" tappable (click)="goSearch()">
          <span class="uni">{{showFont[13]}}</span>
        </button>
    </div>


</ion-content>