<!--
  Generated template for the ExchangePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <button mode="md" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
        <!--<ion-buttons end>
      <button ion-button icon-only tappable (click)="callIT('012307901')">
        <ion-icon name="call"></ion-icon>
      </button>
    </ion-buttons>-->
    </ion-navbar>

    <ion-toolbar primary>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>


<!-- <ion-content mode="md">
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar> 
  <div *ngIf="status == 1">
 <ion-list >
    <ion-item  *ngFor="let u of users" tappable (click)="presentProfileModal(u)" detail-push>
      <ion-avatar item-left>
        <img [src]="u.flag" style="width: 55px;height:55px;border-radius:30%;"/>
      </ion-avatar>
      <b>{{u.currencyCode}}&nbsp;-&nbsp;{{u.ccy1}}</b>
      <p>{{u.ccy1}}&nbsp;-&nbsp;{{u.ccy2}}</p>
      <p>1 &nbsp;{{u.ccy1}}&nbsp; = &nbsp;{{u.numSellRate}}{{u.ccy2}}</p>
    </ion-item>
  </ion-list>
  </div>
  <div *ngIf="status == 0" align="center">
    <h3 style="padding:50px;color:#ccc;"><span class="uni">{{showFont[1]}}</span></h3>
  </div>
</ion-content> -->

<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <!--<ion-searchbar (ionInput)="getItems($event)" ></ion-searchbar>-->
    <div *ngIf="status == 1">
        <ion-list>
            <ion-item *ngFor="let u of users">
                <ion-avatar item-left>
                    <img [src]="u.flag" style="width: 55px;height:55px;border-radius:30%;" />
                </ion-avatar>
                <b>{{u.ccy1}}&nbsp;-&nbsp;{{u.ccy2}}</b>
                <p>Buy Rate&nbsp;-&nbsp;{{u.numBuyRate}}&nbsp;{{u.namCURRTo}}</p>
                <p>Sell Rate&nbsp;-&nbsp;{{u.numSellRate}}&nbsp;{{u.namCURRTo}}</p>
            </ion-item>
        </ion-list>
    </div>
    <div *ngIf="status == 0" align="center">
        <h3 style="padding:50px;color:#ccc;"><span class="uni">{{showFont[1]}}</span></h3>
    </div>
</ion-content>