<ion-header>
    <ion-navbar color="shwe">
      <ion-title id="custom_ion_title" class="uni"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content style="background-color: #eeedf2">
    <div class="mycard">
      <!-- <ion-item>
        <ion-label floating><span class="uni">{{showFont[1]}}</span></ion-label>
        <ion-select #myselect interface="popover">
          <ion-option selected>Q Pay</ion-option>
        </ion-select>
      </ion-item> -->
      <ion-item>
        <ion-label floating><span class="uni">{{showFont[2]}}</span></ion-label>
        <ion-select #myselect interface="popover" [(ngModel)]="billerid" >
          <ion-option *ngFor="let l of merchantList" [value]="type">{{l.merchantName}}</ion-option>
        </ion-select>        
      </ion-item>
      <div id="div-error-style" align="center" *ngIf="errormsg">{{errormsg}}</div>
    </div>
    <ion-row style="margin: 0px 5px 0px 5px">
      <ion-col class="uni" col-6>
        <button mode="md" color="shwebtn" ion-button outline block tappable (click)="goCancel()">
          {{showFont[4]}}
        </button>
      </ion-col>
      <ion-col class="uni" col-6>
        <button mode="md" color="shwebtn" ion-button block tappable (click)="goPay()">
          {{showFont[3]}}
        </button>
      </ion-col>
    </ion-row>
  </ion-content>