<!--
  Generated template for the MerchantErrorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="nav-color">

    <ion-navbar color="shwe" transparent>
        <ion-title style="text-align:center">
            <span class="uni">{{showFont[1]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md">
    <ion-card>
        <ion-card-header style="white-space: inherit;padding:20px;background: #1ac15a;">
            <div align="center">
                <!-- <p style="font-size:16px;color:#fff;">{{showFont[1]}}</p> -->
                <p style="font-size:16px;color:#fff;">{{passtemp1.desc}}</p>
            </div>
        </ion-card-header>
    </ion-card>
    <div padding class="uni">
        <button mode="md" ion-button block type="button" tappable (click)="getOK()" style="margin-top:10px;" color="shwebtn">{{showFont[2]}}</button>
    </div>
</ion-content>