page-notification {


    ion-app.md {
        padding: 0px;
      }
      .imgfix{
        padding: 5px !important;
        float: left !important;
        width:100px !important;
        height:100px !important;
        // text-align: center !important;
        // //display: table-cell !important;
        // display: block !important;
        // vertical-align: middle !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    
      }
      .imgfix img{
        max-width:100% !important;
        max-height:100% !important;
        //text-align: center !important;
      }
    
      .wraptext{
        padding-top: 20px !important;
        width:220px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
      }
}
