<ion-header>
  <ion-navbar color="shwe">
    <button mode="md" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="custom_ion_title">
      <span class="uni">Notification</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="showNotiList=='show'">
    <ion-card *ngFor="let a of notiData;">
      <ion-card-header class="uni" style="white-space: unset !important;">
        {{a.title}}
      </ion-card-header>
      <ion-card-content class="uni">
        {{a.description}}
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="showNotiList=='notshow'" align="center">
    <h3 style="padding: 50px; color: #ccc;"><span class="uni">No notification found.</span></h3>
  </div>
</ion-content>
