<!--
  Generated template for the TransactionHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>
    <ion-toolbar *ngIf="range == true" mode="md">
        <ion-title id="custom_ion_title">
            <ion-list style="margin-bottom: 0px;">
                <div>
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label floating style="margin-top: 7px;"><span class="uni">{{showFont[1]}}</span></ion-label>
                                <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="fromDate" style="padding-top: 7px;padding-bottom: 7px;"></ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label floating style="margin-top: 7px;"><span class="uni">{{showFont[2]}}</span></ion-label>
                                <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="toDate" style="padding-top: 7px;padding-bottom: 7px;"></ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row style="float:right;">
                        <button mode="md" ion-button color="shwebtn" tappable (click)="goSearch()" style="margin-top: 1.5rem;">
              <span class="uni">{{showFont[3]}}</span>
            </button>
                    </ion-row>
                </div>
            </ion-list>
        </ion-title>
    </ion-toolbar>

</ion-header>


<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <ion-item-group *ngIf="status == 1">
        <ion-item-divider color="light" style="font-weight: bold;font-size: 16px;">
            <h2>{{passTemp2.acctNo}}</h2>
            <p>{{passTemp1.billResults[0].merchantName}}</p>
            <p><span class="uni">{{showFont[11]}}</span> {{todayDate}}</p>
            <p class="uni"> {{durationmsg}}</p>
        </ion-item-divider>
    </ion-item-group>

    <div style="padding-bottom:50px;" *ngIf="status == 1">
        <ion-item-group *ngFor="let r of resultdata">
            <ion-item-divider color="light" style="font-weight: bold;font-size: 16px;">
                {{r.transDate}}
            </ion-item-divider>
            <ion-item *ngFor="let a of r.data" text-wrap tappable (click)="gotoDetail(a)">
                <h2>{{a.packageName}}</h2>
                <p>{{a.resultDesc}}</p>
                <p><span class="uni">{{showFont[12]}}</span> - &nbsp;{{a.bankRefNumber}}</p>
                <p><span class="uni">{{showFont[13]}}</span> - &nbsp;{{a.cardNo}}</p>
                <h2 style="float:right;font-weight:bold;color:#EE4141;">{{a.amount}}&nbsp;{{a.ccy}}</h2>
            </ion-item>
        </ion-item-group>
    </div>
    <div *ngIf="status == 0" align="center">
        <h3 style="padding:50px;color:#ccc;"><span class="uni">{{showFont[4]}}</span></h3>
    </div>
</ion-content>
<ion-footer *ngIf="passTemp1.pageCount>1">
    <ion-toolbar style="min-height: 50px;" color="shwe">
        <ion-buttons *ngIf="previous > 1">
            <button ion-button icon-only tappable (click)="previousData()">
        <ion-icon name="ios-arrow-back"></ion-icon>
        <span class="uni">{{showFont[5]}}</span>
      </button>
        </ion-buttons>
        <ion-buttons end *ngIf="passTemp1.pageCount>next">
            <button ion-button icon-only tappable (click)="nextData()">
        <span class="uni">{{showFont[6]}}</span>
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>