// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
$item-md-detail-push-show:true;
$item-wp-detail-push-show:true;
$popover-md-width: 280px;
//$toolbar-md-height:0px;
//$toolbar-ios-height:40px;
//$popover-ios-width: 280px;
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary: #44aae2, secondary: #32db64, danger: #f53d3d, light: #f4f4f4, dark: #222,
/* shwe : #1b4b95,
  shwebtn : #276fe5, */ // shwe
//shwe: #3B5998, shwebtn: #6a74c7,
shwe: #3B5998, shwebtn: #3B5998, // NSB
//#3B5998
/* shwe : #c5890d,
   shwebtn : #d3a311, */ // TCB
//shwe: #008975, shwebtn :#008975, // mBanking
other: #87CEFA);
$alert-ios-title-font-size:17px;
$alert-md-title-font-size:17px;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.default";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";
// Fonts
// --------------------------------------------------
@import "roboto";
@import "noto-sans";