<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title">
            <span class="uni">{{textData[0]}}</span>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ion-card style="border-radius:8px">
        <ion-card-header class="card-hearder">
            <span id="label_font">{{textData[31]}}</span>
        </ion-card-header>
        <ion-card-content>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[1]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.tinNo}}</span>
                </ion-col>
            </ion-row>
            <!--    <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[2]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{taxData.profileID}}</span>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[3]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{taxData.profileName}}</span>
            </ion-col>
        </ion-row> -->
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[5]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.phoneNumber}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[4]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.registrationNo}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[6]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.emailAddress}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[7]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.faxNumber}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[24]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{address1}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[25]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{address2}}</span>
                </ion-col>
            </ion-row>
            <!-- <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[8]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.houseNo}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[9]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.street}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[10]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.quarter}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[11]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.townShipCode}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[12]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.regionCode}}</span>
                </ion-col>
            </ion-row> -->
            <!--  <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[13]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{taxData.mainBusiness}}</span>
            </ion-col>
        </ion-row> -->
            <!--  <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[14]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{taxData.sessionCode}}</span>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[15]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{taxData.refNo}}</span>
            </ion-col>
        </ion-row> -->
        </ion-card-content>
    </ion-card>
    <ion-card style="border-radius:8px">
        <ion-card-header class="card-hearder">
            <span id="label_font">{{textData[19]}}</span>
        </ion-card-header>
        <ion-card-content>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[2]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.profileID}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[3]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.profileName}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[13]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.mainBusiness}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[28]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.typeOfBusi}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[16]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.companyType}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[17]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.industryCode}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[30]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.taxOfficeName}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[27]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.creditorBranchName}}</span>
                </ion-col>
            </ion-row>
            <ion-row align-items-center>
                <ion-col col-5>
                    <span id="label_font">{{textData[29]}}</span>
                </ion-col>
                <ion-col col-7>
                    <span id="item_font_1">{{taxData.mdaccNo}}</span>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
</ion-content>