<ion-header>
  <ion-navbar color="shwe">
    <!-- <ion-title>q-pay-confirm</ion-title> -->
    <ion-title id="custom_ion_title"><span class="uni">Merchant Pay Confirm</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="mycard">
    <!-- <ion-card-header style="white-space: inherit;background: #d2cece;padding: 20px;">
        <div>
        
          <span class="uni" id="span-style">{{merchantName}}</span>
        </div>
    </ion-card-header> -->
    
    <ion-item text-wrap>
      <p>
          <span class="uni">{{showFont[15]}}</span>
      </p>
      <h2 style="font-weight:bold;color:#000;">{{_data.account}}</h2>
    </ion-item>
   
    <ion-item text-wrap>
      <p>
          <span class="uni">{{showFont[9]}}</span>
      </p>
      <h2 style="font-weight:bold;color:#000;">{{_data.name}}</h2>
    </ion-item>
    
    <ion-item text-wrap>
      <p>
          <span class="uni">{{showFont[10]}}</span>
      </p>
      <h2 style="font-weight:bold;color:#000;">{{amount1}} MMK</h2>
    </ion-item>
    <ion-item text-wrap>
      <p>
          <span class="uni">{{showFont[16]}}</span>
      </p>
      <h2 style="font-weight:bold;color:#000;">{{commAmt1}} MMK</h2>
    </ion-item>
    <ion-item text-wrap>
      <p>
          <span class="uni">{{showFont[17]}}</span>
      </p>
      <h2 style="font-weight:bold;color:#000;">{{totalAmt1}} MMK</h2>
    </ion-item>
    <ion-item text-wrap>
      <p>
          <span class="uni">{{showFont[14]}}</span>
      </p>
      <h2 style="font-weight:bold;color:#000;">{{_data.description}}</h2>
    </ion-item>
   <!-- <hr> -->

</div> 
<ion-row style="margin: 0px 5px 0px 5px">
    <ion-col class="uni" col-6>
        <button mode="md" color="shwebtn" ion-button outline block tappable (click)="goCancel()" >
                {{showFont[5]}}
            </button>
    </ion-col>
    <ion-col class="uni" col-6>
        <button mode="md" color="shwebtn" ion-button block tappable (click)="payment()" >
                {{showFont[6]}}
            </button>
    </ion-col>
</ion-row>

</ion-content>


<!-- 
<ion-content mode="md">
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
  <ion-card>
      <ion-item text-wrap>
          <p>
              <span class="uni">{{showFont[1]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;">{{_billObj.account}}</h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
          <p>
              <span class="uni">{{showFont[2]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;">{{_billObj.refNo}}</h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
          <p>
              <span class="uni">{{showFont[3]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;">{{_billObj.billId}}</h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
          <p>
              <span class="uni">{{showFont[4]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;height: 21px;"><span class="uni">{{_billObj.cusName}}</span></h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
          <p>
              <span class="uni">{{showFont[5]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;">{{_billObj.amount}} &nbsp; {{_billObj.ccy}}</h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
          <p>
              <span class="uni">{{showFont[9]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;">{{_billObj.penaltyAmount}} &nbsp; {{_billObj.ccy}}</h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
          <p>
              <span class="uni">{{showFont[13]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;">{{_billObj.comAmount}} &nbsp; {{_billObj.ccy}}</h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
          <p>
              <span class="uni">{{showFont[14]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;">{{_billObj.totalAmount}} &nbsp; {{_billObj.ccy}}</h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
          <p>
              <span class="uni">{{showFont[6]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;height: 21px;"><span class="uni">{{_billObj.deptName}}</span></h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
          <p>
              <span class="uni">{{showFont[7]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;height: 21px;"><span class="uni">{{_billObj.taxDesc}}</span></h2>
      </ion-item>
      <hr>
      <ion-item text-wrap>
          <p>
              <span class="uni">{{showFont[8]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;">{{_billObj.dueDate}}</h2>
      </ion-item>
      <hr>
      <ion-item text-wrap *ngIf='_billObj.belatedDays'>
          <p>
              <span class="uni">{{showFont[15]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;height: 21px;">{{_billObj.belatedDays}}</h2>
      </ion-item>
      <hr *ngIf='_billObj.belatedDays'>
      <ion-item text-wrap *ngIf="_billObj.narrative!=undefined">
          <p>
              <span class="uni">{{showFont[10]}}</span>
          </p>
          <h2 style="font-weight:bold;color:#000;">{{_billObj.narrative}}</h2>
      </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-row>
      
      <ion-col class="uni" col-6>
          <button mode="md" ion-button outline block color="shwebtn" tappable (click)="cancel()">{{showFont[11]}}</button>
      </ion-col>
      <ion-col class="uni" col-6>
          <button mode="md" ion-button block color="shwebtn" tappable (click)="confirm()">{{showFont[12]}}</button>
      </ion-col>
  </ion-row>
</ion-footer> -->
