<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="shwe">
    <button mode="md" ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
    <!-- <img src="assets/images/Shwecopy.png" width="40px" style="display:inline-block" height="40px"/>
<ion-title class="titleicon" style="display:inline-block;" >Shwe Bank</ion-title> -->
    <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
    <!--  <ion-buttons end>
  <button ion-button icon-only tappable (click)="callIT('012307901')">
    <ion-icon name="call"></ion-icon>
  </button>
</ion-buttons> -->
</ion-navbar>
</ion-header>

<ion-content padding class="trips detail-bg"> <!--class="card-background-page"  upload/image/userProfile/1610201916206138117.jpg-->

  <ion-refresher (ionRefresh)="doRefresh($event);" style="background-color:#ebf5f3;">
    <ion-refresher-content
    pullingText="Refresh"
    >
    </ion-refresher-content>
    </ion-refresher>
    <div *ngIf=play style="color: rgb(131, 129, 128);">
      <h4 style="text-align: center;">There is no data.</h4>
    </div>
    <div class="trip card" *ngFor="let d of productlist" tappable (click)="productdetail(d)" margin-bottom>
      <!-- <div class="background border-bottom" [ngStyle]="{'background-image': 'url(http://192.168.204.249:8080/DigitalMedia/d.imgPath)'}">
             -->
        
        <img class="container" src="http://192.168.204.249:8080/DigitalMedia/{{d.imgPath}}" onError="this.src='./assets/product/default-image.jpg';"  alt="..." >
        <div class="background-filter rlt">
          <div class="align-bottom" padding-left padding-right>             
            <h6 class="pull-left text-white" ion-text>{{d.title}}</h6>
            <!-- <h6 class="pull-right text-white" ion-text>aa</h6> -->
            <div class="clear"></div>
          </div>
        <!-- </div> -->
      </div>
      <div class="padding-sm primary-bg">
        <!-- <ion-icon name="time" class="text-white"></ion-icon> -->
        <div class="text-white" style="white-space: nowrap; width: 90%; overflow: hidden; text-overflow: ellipsis;">{{d.description}}</div>
        <!-- <span ion-text class="text-white" style="white-space: nowrap; width: 70%; overflow: hidden; text-overflow: ellipsis;">{{d.description}}</span> -->
        <!-- <span class="pull-right" ion-text color="light"><strong>per adult</strong> (childs has <span ion-text  class="text-green bold">50% OFF</span>)</span> -->
      </div>
    </div>

</ion-content>
