// page-product {
//   ion-app.md {
//     padding: 0px;
//   }

//   .trips {
//     .card {
//       border-radius: 1rem
//     }
//     .trip {
//       overflow: hidden;
  
//       .background {
//         background-size: 100% auto;
//         background-position: center;
  
//         .background-filter {
//           height: 16rem;
//           background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));
  
//           .align-bottom {
//             width: 100%;
  
//             h6 {
//               margin-top: 0;
//             }
//           }
//         }
//       }
//     }
//   }
//   // .imgfix{
//   //   padding: 5px !important;
//   //   float: left !important;
//   //   width:100px !important;
//   //   height:100px !important;
//   //   // text-align: center !important;
//   //   // //display: table-cell !important;
//   //   // display: block !important;
//   //   // vertical-align: middle !important;
//   //   display: flex !important;
//   //   justify-content: center !important;
//   //   align-items: center !important;

//   // }
//   // .imgfix img{
//   //   max-width:100% !important;
//   //   max-height:100% !important;
//   //   //text-align: center !important;
//   // }

//   // .wraptext{
//   //   width:220px;
//   //   white-space: nowrap;
//   //   overflow: hidden;
//   //   text-overflow: ellipsis;
//   // }

//   .card-background-page {

//     ion-card {
//       position: relative;
//       text-align: center;
//     }
  
//     .card-title {
//       position: absolute;
//       top: 36%;
//       font-size: 2.0em;
//       width: 100%;
//       font-weight: bold;
//       color: #fff;
//     }
  
//     .card-subtitle {
//       font-size: 1.0em;
//       position: absolute;
//       top: 52%;
//       width: 100%;
//       color: #fff;
//     }
  
//   }
// }
page-product,
.trips {
  .container {
    width: 1500px;
    height: 110px;
    //background-image: url("http://i.stack.imgur.com/2OrtT.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }​
  .ellipsis {
    white-space: nowrap; 
    width: 50px; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #000000;
  }
	.card {
		border-radius: 1rem
	}
  .trip {
    overflow: hidden;

    .background {
      background-size: 100% auto;
      background-position: center;

      .background-filter {
        height: 16rem;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.65));

        .align-bottom {
          width: 100%;

          h6 {
            margin-top: 0;
          }
        }
      }
    }
  }
}

