<ion-header class="nav-color">
  <ion-navbar color="shwe" transparent>
    <ion-title id="custom_ion_title">
        <span class="uni">{{showFont[0]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content mode="md">
  <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>

  <div padding text-center>
    <ion-list>
      <ion-item style="background: none;">
        <ion-input class="uni" type="number" placeholder="{{showFont[1]}}" [(ngModel)]="otpcode"></ion-input>
      </ion-item>
    </ion-list>
    <div class="uni">
      <button mode="md" ion-button block tappable (click)="confirmOtp()" color="shwebtn">
        {{showFont[2]}}
      </button>
    </div>
    <div class="uni" style="padding:16px;font-size:16px;padding-bottom:5px;">
      {{showFont[3]}}
    </div>
    <div class="uni" style="padding:5px;font-size:16px;">
      {{showFont[4]}}
    </div>

    <div class="uni">
      <button mode="md" ion-button outline block tappable (click)="getOtp()" color="primary">
        {{showFont[5]}}
      </button>
    </div>
  </div>
</ion-content>
