<ion-header>

  <ion-navbar color="shwe">
    <!-- <ion-buttons left>
      <button ion-button icon-only tappable (click)="backButton()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title style="text-align:center"><span class="uni">{{showFont[6]}}</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content mode="md">
  <ion-card>
    <ion-card-header style="white-space: inherit;background:lightgreen;padding:20px;">
      <div align="center">
        Transaction with reference number {{passTemp.bankRefNumber}} is in Accepted state.
      </div>

    </ion-card-header>
    <ion-item text-wrap>
      <p class="uni">{{showFont[0]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.fromAcc}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[1]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.toAcc}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[2]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp1.amount}}&nbsp;{{showFont[9]}} </h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[3]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.autokey}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[4]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.modifieddatetime}}</h2>
    </ion-item>
    <hr>
    <div align="center" style="padding-top: 20px; padding-bottom: 30px;" class="uni">
      <button style="font-size: 1em;width:130px;" color="shwe" ion-button tappable
        (click)="backButton()">{{showFont[8]}}</button>
    </div>
  </ion-card>
</ion-content>