<!--
  Generated template for the AgentDrawingOtpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <div padding text-center>
        <ion-list>
            <ion-item style="background: none;">
                <ion-input class="uni" type="number" placeholder="{{showFont[1]}}" [(ngModel)]="otpcode"></ion-input>
            </ion-item>
        </ion-list>
        <div class="uni">
            <button mode="md" ion-button block tappable (click)="getconfirm()" color="shwebtn">
        {{showFont[2]}}
      </button>
        </div>
        <div style="padding:16px;font-size:16px;padding-bottom:5px;color:#444;">
            <span class="uni">{{showFont[3]}}</span>
        </div>
        <div style="padding:5px;font-size:16px;color:#444;">
            <span class="uni">{{showFont[4]}}</span>
        </div>

        <div class="uni">
            <button mode="md" ion-button outline block tappable (click)="resendOtpCode()" color="shwebtn">
        {{showFont[5]}}
      </button>
        </div>

    </div>
</ion-content>