<ion-menu [content]="content" responsive-sm wrap>
    <ion-header>
        <!-- <ion-toolbar style="padding:0px;">
      <div class="menu-header">
        <ion-row *ngIf="flag">
          <ion-col col-4>
            <img src="assets/User.png" class="avatar motion spin fade">
          </ion-col>
          <ion-col col-8>
            <div class="menu-text">
              <div style="color: green;"> Welcome back</div>
              <p style="color: #000;">{{userID}}</p>
            </div>
          </ion-col>
        </ion-row>

        <div class="menu-bottom">
          <ion-row style="margin-left:32%" *ngIf="flag">
          </ion-row>
          <div align="center" style="padding-top:5px;font-weight:bold;">
            {{lastTimeLoginSuccess}}
          </div>
        </div>
      </div>
    </ion-toolbar> -->
    </ion-header>

    <ion-content mode="md" style="background-color: #ececec!important;height:100vh">
        <ion-grid style="padding: 6% 0% 0% 6%;height:20vh;background-color: #3B5998!important;" *ngIf="flag" class="header">
            <ion-row>
                <ion-col col-3>
                    <img src="./assets/User2.png" md="md-contact" class="p-img" />
                </ion-col>
                <ion-col col-9>
                    <div class="menu-text-space">
                        <p style="color: white;font-size:2vh;"> Welcome back </p>
                        <p style="color: white;font-size:2.2vh;">{{userName}}</p>
                    </div>

                    <div class="menu-text-space">
                        <p style="font-size:11px;color:white;font-size:1.2vh">{{lastTimeLoginSuccess}}</p>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-scroll style="width:100%;height:80vh;background-color: #ececec!important;" scrollY="true">
            <ion-row *ngIf="hideSidemenuBackButton" class="menu-list-row" tappable (click)="showTopLevelCategories()">
                <ion-col col-1>
                    <ion-icon name='md-arrow-dropleft' item-left style="font-size: 1.6em;color:white"></ion-icon>
                </ion-col>
                <ion-col col-11>
                    <span class="uni" style="color:white;padding:3px 15px;font-size: 4vw;">{{subMenu}}</span>
                </ion-col>
            </ion-row>
            <ion-grid *ngFor="let p of pages;" class="uni">

                <ion-grid scroll="true" *ngIf="p.data != undefined">
                    <ion-row class="menu-list-row" *ngFor="let a of p.data" tappable (click)="showSubcategories(a)">
                        <ion-col col-1>
                            <ion-icon [name]='a.icon' item-left style="font-size: 1.6em;color:white"></ion-icon>
                        </ion-col>
                        <ion-col col-10>
                            <span style="color:white;padding:3px 15px;font-size: 4vw;" class="uni">{{a.title}}</span>
                        </ion-col>
                        <ion-col col-1>
                            <ion-icon *ngIf="a.taxons.length > 0" name='md-arrow-dropright' style="font-size: 1.6em;color:#fff;" item-right></ion-icon>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-row menuClose *ngIf="p.data == undefined" tappable (click)="openPage(p)" class="menu-list-row">
                    <ion-col col-1>
                        <ion-icon [name]="p.icon" item-left style="font-size: 1.6em;color:white"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                        <span style="color:white;padding:3px 15px;font-size: 3.5vw;">{{p.title}}</span>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-scroll>
    </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>