    // http://ionicframework.com/docs/v2/theming/
    // App Global Sass
    // --------------------------------------------------
    // Put style rules here that you want to apply globally. These
    // styles are for the entire app and not just one component.
    // Additionally, this file can be also used as an entry point
    // to import other Sass files to be included in the output CSS.
    //
    // Shared Sass variables, which can be used to adjust Ionic's
    // default Sass variables, belong in "theme/variables.scss".
    //
    // To declare rules for a specific mode, create a child rule
    // for the .md, .ios, or .wp mode classes. The mode class is
    // automatically applied to the <body> element in the app.
    .menu-header {
        background-image: url('../assets/MicrosoftTeams-image (7).png') !important; // shwe
        //  background-image:url('../assets/ncb.jpg') !important; // NSB
        // background-image:url('../assets/tcb.png') !important; // Tcb
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        padding: 0px;
        min-height: 160px;
    }
    
    .menu-bottom {
        bottom: 16px;
        left: 16px;
        right: 16px;
        position: absolute;
    }
    
    .menu-text {
        color: #fff;
        margin-top: 25px;
    }
    
    .titleicon div {
        display: inline-block;
        margin-bottom: 10px;
    }
    
    .avatar,
    .item-avatar .avatar {
        background-position: center center;
        background-size: cover;
        border-radius: 50%; // 10%;
        display: inline-block;
        height: 60px;
        width: 60px; // Shwe
        /* height: 36px;
  width: 86px; */ // NSB
        /* height: 66px;
   width: 86px;*/ // TCB mBanking 360
        left: 16px;
        position: absolute;
        opacity: 1;
        transform: translateZ(0px) rotate(0deg) scale(1) !important;
        transition: all 0.3s ease-out 0s !important;
        top: 25%;
    }
    
    .button-md {
        text-transform: inherit;
    }
    
    .item-md:last-child .item-inner,
    .item-md .item-wrapper:last-child .item-inner {
        border: 1px;
    }
    
    .slim-loading-bar {
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99999;
    }
    /* Styling for the Slim Loading Progress Bar itself */
    
    .slim-loading-bar-progress {
        margin: 0;
        padding: 0;
        z-index: 99998;
        background-color: green;
        color: green;
        box-shadow: 0 0 10px 0;
        /* Inherits the font color */
        height: 2px;
        opacity: 0;
        /* Add CSS3 styles for transition smoothing */
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    
    .list-md>.item-block:last-child .item-inner {
        border-bottom: 1px solid #dedede;
    }
    
    ion-item-group .item-md:first-child .item-inner {
        border-top-width: 0;
        border-bottom: 1px solid #dedede;
    }
    
    #notifications-badge {
        background-color: #EE4141;
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
    }
    
    .menu-list-row {
        width: 85%;
        background-color: #3B5998 !important;
        padding: 2.5% 0% 1% 5%;
        border-radius: 20px;
        margin: 3% 0% 0% 5%;
    }
    
    .p-img {
        width: 80%;
        margin-top: 28%;
    }
    
    .nav-color {
        // background: linear-gradient(to right, #c5890d, #FFFF99) !important;
        background: map-get($colors, shwe) !important;
    }
    
    #ion_card_bg_setting {
        margin-top: 0px;
        padding: 5px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
    }
    
    .alertCustomCss {
        border-radius: 5px;
        .alert-message {
            color: black;
        }
        .alert-title {
            color: black;
            text-align: center;
        }
        button {
            color: blue;
        }
    }
    
    .selectable {
        -webkit-user-select: auto !important;
        -moz-user-select: auto !important;
        -ms-user-select: auto !important;
        user-select: auto !important;
    }
    
    .warningAlert .alert-wrapper {
        width: 100px;
        border-radius: 10px;
        .alert-title {
            text-align: center;
            color: #3B5998;
        }
        .alert-message {
            text-align: center;
            color: black;
            padding: 15px;
        }
        .alert-button {
            color: #6a74c7;
        }
    }

    .infoAlert .alert-wrapper {
        width: 100px;
        border-radius: 10px;
        .alert-title {
            text-align: center;
            color: #3B5998;
        }
        .alert-message {
            text-align: left;
            color: black;
            padding: 15px;
        }
        .alert-button {
            color: #6a74c7;
        }
    }
    
    .confirmAlert .alert-wrapper {
        width: 100px;
        border-radius: 10px;
        .alert-title {
            text-align: center;
            color: #3B5998;
        }
        .alert-message {
            text-align: center;
            color: black;
            padding: 15px;
        }
        .alert-sub-title {
            text-align: center;
            color: black;
            padding: 15px;
        }
        .alert-button {
            color: #6a74c7;
        }
    }
    
    .searchbar-input-container .searchbar-input {
        border-radius: 10px;
    }
    
    ion-label {
        font-size: 0.9em;
    }
    
    .my-item .input-wrapper {
        margin-top: -12px;
    }
    
    #div-error-style {
        height: 16px;
        color: #EE4141;
        font-size: 11px;
    }
    
    .mycard {
        border-radius: 2px;
        margin: 4px 7px 4px 7px;
        font-size: 1.4rem;
        background: #fff;
    }
    
    #span-style {
        margin-left: 18px;
        color: green;
    }
    
    .bar-button-ios {
        padding: 0 5px !important;
    }
    
    .back-button {
        margin-left: -4px !important;
        margin-right: 0px !important;
        font-size: 2.6rem;
    }
    
    #custom_ion_title {
        text-align: center;
        // font-family: Unicode;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;   
        z-index: -1; 
    }
    
    @media only screen and (min-device-width: 500px) {
        // default iPad screens 
        .menu-inner {
            width: 469px
        }
    }
    
    @media screen and (min-width: 769px) {
        /* STYLES HERE */
    }
    
    @media screen and (min-device-width: 481px) and (max-device-width: 768px) {
        /* STYLES HERE */
    }
    
    @media only screen and (max-device-width: 480px) {
        /* STYLES HERE */
    }
    /* ion-navbar {//for ios
        margin-top: -10px;
    } */
    .ion-ios-wallettopup {
        content: url("../assets/righticon/wallettopup.png") !important; 
        max-width:160%;       
    }
    .ion-ios-accsummary {
        content: url("../assets/righticon/acount-summary.png") !important; 
        max-width:160%;       
    }
    .ion-ios-transhistory {
        content: url("../assets/righticon/trans-history.png") !important; 
        max-width:160%;       
    }
    .ion-ios-ftransfer {
        content: url("../assets/righticon/fast-transfer.png") !important; 
        max-width:180%;       
    } 
    .ion-ios-owntransfer {
        content: url("../assets/righticon/own-transfer.png") !important; 
        max-width:160%;    
    } 
    .ion-ios-itransfer {
        content: url("../assets/righticon/internal-transfer.png") !important; 
        max-width:160%;
    } 
    .ion-ios-bill {
        content: url("../assets/righticon/bill.png") !important; 
        max-width:160%;       
    } 
    .ion-ios-mobiletopup {
        content: url("../assets/righticon/mobile-topup.png") !important; 
        max-width:160%;       
    } 
    .ion-ios-transfer {
        content: url("../assets/righticon/transfer.png") !important; 
        max-width:160%;    
    } 
    .ion-ios-location {
        content: url("../assets/righticon/locationabc.png") !important; 
        max-width:160%;       
    } 
    .ion-ios-currencyexchange {
        content: url("../assets/righticon/currency-exchange.png") !important; 
        max-width:160%;       
    } 
    .ion-ios-contactus {
        content: url("../assets/righticon/contact.png") !important; 
        max-width:160%;       
    } 
    .ion-ios-logout {
        content: url("../assets/righticon/logout.png") !important; 
        max-width:160%;       
    }
    .ion-ios-changepassword {
        content: url("../assets/righticon/change-password.png") !important; 
        max-width:160%;       
    }
    .ion-ios-back {
        content: url("../assets/righticon/back.png") !important; 
        max-width:160%;       
    } 

    .ion-ios-app {
        content: url("../assets/calculator.png") !important;        
        width: 180%;       
    }

    // http://ionicframework.com/docs/theming/
// App Shared Imports
// --------------------------------------------------

// global styles
.primary-bg {
    background-color: color($colors, primary) !important;
  }
  
  .secondary-bg {
    background-color: color($colors, secondary) !important;
  }
  
  .common-bg {
    background-color: #FAFBFC;
  }
  
  .white-bg {
    background-color: #fff;
  }
  
  .detail-bg {
    background-color: #f1f1f5;
  }
  
  .light-bg {
    background-color: color($colors, light);
  }
  
  .dark-bg {
    background-color: color($colors, dark);
  }
  
  .green-bg {
    background-color: #68C91F;
  }

  .blue-bg{
      background-color: #3580e0;
  }
  
  .profile-bg {
    background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary), color($colors, light));
  }
  //
  //
  .text-primary {
    color: color($colors, primary);
  }
  
  .text-secondary {
    color: color($colors, secondary);
  }
  
  .text-green {
    color: #68C91F;
  }
  
  .text-yellow {
    color: #FDD835;
  }
  
  .text-white {
    color: #fff;
  }
  
  //
  .dark-trans,
  .toast-md .toast-wrapper {
    background-color: rgba(0, 0, 0, .4);
  }
  
  
  // Helpers
  .quarter-op {
    opacity: .25;
  }
  
  .no-paddingTRL {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  
  .no-paddingTRB {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .no-paddingB {
    padding-bottom: 0 !important;
  }
  
  .no-paddingT {
    padding-top: 0 !important;
  }
  
  .padding-xs {
    padding: 10px;
  }
  
  .no-padding {
    padding: 0 !important;
  }
  
  .no-pl {
    padding-left: 0 !important;
  }
  
  .no-margin {
    margin: 0;
  }
  
  .no-marginT {
    margin-top: 0 !important;
  }
  
  .mt-half {
    margin-top: .5rem !important;
  }
  
  .mt-1 {
    margin-top: 1rem !important;
  }
  
  .mb-half {
    margin-bottom: .5rem;
  }
  
  .marginB-16px {
    margin-bottom: 16px !important;
  }
  
  .marginB-2 {
    margin-bottom: 2rem !important;
  }
  
  .marginT-16px {
    margin-top: 16px !important;
  }
  
  .marginT-2 {
    margin-top: 2rem !important;
  }
  
  .pull-left {
    float: left;
  }
  
  .pull-right {
    float: right;
  }
  
  .rlt {
    position: relative;
  }
  
  .clear {
    clear: both;
  }
  
  .align-bottom {
    position: absolute;
    bottom: 0;
  }
  
  .round {
    border-radius: 1rem;
    overflow: hidden;
  }
  
  .no-round {
    border-radius: 0;
  }
  
  .border-bottom {
    border-bottom: 1px solid rgba(86, 61, 124, 0.1);
  }
  
  .full-width {
    width: 100% !important;
  }
  
  .max-width {
    max-width: 100% !important;
  }
  
  .padding-sm {
    padding: 1rem;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  // text size
  .text-2x {
    font-size: 2em;
  }
  
  .text-1x {
    font-size: 1em;
  }
  
  .text-sm {
    font-size: 0.7em;
  }
  
  .bold {
    font-weight: bold !important;
  }
  
  // buttons configs
  .btn-facebook {
    background-color: #3B5999;
  }
  
  .btn-twitter {
    background-color: #00ACEE;
  }
  
  .btn-gplus {
    background-color: #E04006
  }
  
  // badge style
  ion-badge {
    &.square {
      border-radius: 0;
    }
  }
  
  // card style
  .card {
    background: #FFF;
    border-radius: 1rem;
    box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
  }
  
  // navbar style
  ion-navbar.no-border {
  
    .toolbar-background {
      border: none;
    }
  }
  
  // list style
  .list-no-border {
  
    .item:first-child {
      border: none;
    }
    .item:last-child {
      border: none;
    }
  
    .item {
      .item-inner {
        border: none;
      }
    }
  }
  
  .list-full-border {
    @extend .list-no-border;
  
    .item,
    .item:first-child,
    .item:last-child {
      border-bottom: 1px solid rgba(86, 61, 124, 0.2);
      .item-inner {
        border: none;
      }
    }
  }
  
  // item style
  .item.no-border {
    .item-inner {
      border: none;
    }
  }
  
  // Toolbar
  // transparent nav bar
  .toolbar {
    &.nav-transparent {
      .toolbar-background {
        background-color: rgba(86, 61, 124, .65);
      }
    }
    .toolbar-title {
      img {
        vertical-align: sub;
        border-radius: 10%;
      }
    }
  }
  
  // style for auth pages
  .auth-page {
    background-color: #fff;
    &::after {
      content: "";
      background: url("../assets/img/bg.jpg") no-repeat;
      background-size: cover;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 0;
    }
  
    .scroll-content {
      display: flex;
      align-items: center;
      justify-content: center;
      //background: rgba(50, 10, 92, .4);
  
      .login-content {
        width: 86%;
  
        .logo {
          width: 60px;
          height: 60px;
          margin: 20px auto 0;
          border-radius: 10%;
          background: url("../assets/img/ionic3-ico.png") no-repeat;
          background-size: 100%;
        }
  
        .list-form {
          padding: 0;
          margin-bottom: 0;
  
          ion-item {
            background: none;
            padding: 0;
  
            &:first-child {
              border-top: none;
            }
  
            &:after {
              display: none;
            }
  
            ion-label {
              font-size: 1em;
              color: color($colors, primary);
            }
  
            input {
              color: color($colors, primary);
            }
          }
        }
      }
    }
  }
  
  // Menu user profile
  .user-profile {
    .user-avatar {
      width: 68px;
      height: 68px;
      display: inline-block;
      border-radius: 50%;
      box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
      img {
        border-radius: 50%;
      }
    }
    .toolbar-background {
      background-image: linear-gradient(135deg, color($colors, dark), color($colors, primary));
    }
  
    .other-data {
      .column {
        &:first-child {
          border-right: 1px solid rgba(36, 50, 157, .25);
        }
      }
    }
  }
  
  .user-list {
    .item {
      &:last-child {
        border-bottom: 0;
      }
      .item-inner {
        border-color: rgba(86, 61, 124, .1);
      }
    }
  }
  
  // styles for hotels
  .hotel-bg {
    background-position: center;
  
    .bg-filter {
      position: relative;
      height: 150px;
      background: rgba(0, 0, 0, .5);
  
      .bottom-info {
        position: absolute;
        width: 100%;
        bottom: 1rem;
        padding: 1rem;
      }
    }
  
    .discount {
      position: absolute;
      padding: 0.5rem 1rem;
      top: 0;
      right: 0;
      background-color: #68C91F;
      color: #fff;
    }
  
    .origin-price {
      color: #C0C0C0;
      text-decoration: line-through;
    }
  
    .sale-price,
    .price {
      font-size: 1.8rem;
    }
  }
  
  // style for slider
  ion-slides.to-top {
    height: auto;
    margin-bottom: -5px;
  
    .swiper-pagination {
      display: block !important;
  
      .swiper-pagination-bullet {
        background: color($colors, light);
      }
    }
  }
  
  .to-top {
    height: auto;
    margin-bottom: -5px;
  }
  
  // style for ion-icon
  ion-icon[ng-reflect-disabled="true"] {
    color: #FAFBFC;
    pointer-events: none;
  }
  
  // checkout info style
  .checkout-info {
  
    span {
      font-size: 1.2rem;
    }
  }
  
  // remove shadow from header
  .md {
    ion-header {
      &.no-shadow::after {
        background-image: none;
      }
    }
  
    ion-toolbar,
    ion-navbar {
      .button,
      .button.activated {
        box-shadow: none;
      }
    }
  }
  
  .ios {
    ion-list ion-item,
    .list-hotels .hotel-bg {
      pointer-events: none;
    }
  }
  
  // google
  .google-map {
    height: 160px;
    pointer-events: none;
    margin: 0 -20px;
  }
  
  // Animate CSS
  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  
  .animated.infinite {
    animation-iteration-count: infinite;
  }
  
  .animated.hinge {
    animation-duration: 2s;
  }
  
  .animated.flipOutX,
  .animated.flipOutY,
  .animated.bounceIn,
  .animated.bounceOut {
    animation-duration: .75s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      transform: none;
    }
  }
  
  .fadeInDown {
    animation-name: fadeInDown;
  }
  