<ion-header>

    <ion-navbar color="shwe">
        <ion-buttons left>
            <button ion-button icon-only tappable (click)="backButton()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title id="custom_ion_title">
            <span class="uni">{{textData[5]}}</span>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content mode="md" style="background-color: #eeedf2">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <!-- <ion-card style="margin: -7px;width: 104%;padding: 0px;"> -->
    <div class="mycard">
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[0]}}</span>
            </ion-label>
            <ion-select #myselect [(ngModel)]="transferData.fromAcc" interface="popover" (ionChange)="changeAcc(1,transferData.fromAcc)">
                <ion-option *ngFor="let account of fromAccountlist" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div *ngIf="checked">
            <span class="uni" id="span-style">{{textData[8]}}</span>:&nbsp;<span>{{accountBal}}</span>
        </div>
        <!-- <div class="uni" *ngFor="let account of fromAccountlist">
                <p *ngIf="transferData.fromAcc==account.depositAcc">
                    <span class="uni" id="span-style">
            {{textData[8]}}
          </span> :
                    <span>{{account.avlBal}} {{account.ccy}}</span>
                </p>
            </div> -->
        <div align="center" id="div-error-style" class="uni">
            {{fromaccMsg}}
        </div>
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[1]}}</span>
            </ion-label>
            <ion-select #myselect [(ngModel)]="transferData.toAcc" interface="popover" (ionChange)="changeAcc(2)">
                <ion-option *ngFor="let account of fromAccountlist" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
            <!-- <ion-input type="text" [(ngModel)] = "transferData.toAcc"></ion-input> -->
        </ion-item>
        <div align="center" id="div-error-style" class="uni">
            {{toaccMsg}}
        </div>

        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[2]}}</span>
            </ion-label>
            <ion-input type="number" [(ngModel)]="transferData.amount" (ngModelChange)="inputChange(1)"></ion-input>
        </ion-item>
        <div align="center" id="div-error-style" class="uni">
            {{amountcMsg}}
        </div>

        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[3]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="transferData.refNo"></ion-input>
        </ion-item>
        <div style="height:120px"></div>
    </div>
    <ion-row style="margin: 0px 5px 0px 5px">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block tappable (click)="reset()" color="shwebtn">
                {{textData[9]}}
            </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block tappable (click)="transfer()" color="shwebtn">
                {{textData[4]}}
            </button>
        </ion-col>
    </ion-row>
</ion-content>