<!--
  Generated template for the AccountTransferConfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="nav-color">

    <ion-navbar color="shwe" transparent>
        <ion-title id="custom_ion_title">
            <span class="uni">{{showFont[6]}}</span>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <!--<ion-item>
    <h2><span class="uni">{{showFont[7]}}</span></h2>
    <h2 style="float:left;font-weight:bold;color:#000;">{{passType}}</h2>
  </ion-item>-->
    <ion-card>
        <!--  <ion-item *ngIf="txnType=='own'">
      <p class="uni">{{showFont[8]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.field2}}</h2>
    </ion-item>
    <hr  *ngIf="txnType=='own'"> -->
        <ion-item>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.fromAcc}}</h2>
        </ion-item>
        <hr>
        <ion-item>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.toAcc}}</h2>
        </ion-item>
        <hr>
        <ion-item>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{amount}}</h2>
        </ion-item>
        <hr *ngIf="passTemp.refNo!='' && passTemp.refNo!=undefined">
        <ion-item *ngIf="passTemp.refNo!='' && passTemp.refNo!=undefined">
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{passTemp.refNo}}</h2>
        </ion-item>
    </ion-card>

    <ion-row style="padding-bottom:10px;padding-top:20px;padding-left:20px;padding-right:20px;">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block tappable (click)="cancelbtn()" color="shwebtn">
        {{showFont[4]}}
      </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block tappable (click)="Okaybtn()" color="shwebtn">
        {{showFont[5]}}
      </button>
        </ion-col>
    </ion-row>

</ion-content>