<!--
  Generated template for the TopuplistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar [ngStyle]="primColor">
        <button mode="md" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>

    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <div *ngIf="status == 1">
        <ion-list>
            <ion-item *ngFor="let l of merchantList" detail-push tappable (click)="clickmerchant(l)">
                <ion-avatar item-left style="margin: 13px 16px 13px 0;">
                    <img src="{{l.logo}}" style="border-radius:30%;">
                </ion-avatar>
                <h2>{{l.merchantName}}</h2>
                <p>{{l.merchantID}}</p>
            </ion-item>

        </ion-list>
    </div>
    <div *ngIf="status == 0" align="center">
        <h3 style="padding:50px;color:#ccc;"> No result found!</h3>
    </div>
</ion-content>