<!--
  Generated template for the LovPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title">
            <span class="uni" id="title-font">{{title}}</span>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md" padding>
    <ion-list>
        <ion-item *ngFor="let a of list" tappable (click)="selectedData(a.code)">
            {{ a.desc }}&nbsp;({{a.code}})
        </ion-item>
    </ion-list>

</ion-content>