<!--
  Generated template for the ContactUs page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <button mode="md" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <!-- <img src="assets/images/Shwecopy.png" width="40px" style="display:inline-block" height="40px"/>
    <ion-title class="titleicon" style="display:inline-block;" >Shwe Bank</ion-title> -->
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[3]}}</span></ion-title>
        <!--  <ion-buttons end>
      <button ion-button icon-only tappable (click)="callIT('012307901')">
        <ion-icon name="call"></ion-icon>
      </button>
    </ion-buttons> -->
    </ion-navbar>
</ion-header>
<ion-content mode="md">
    <h4 align="center"><span class="uni">{{showFont[1]}}</span></h4>
    <!-- <h6 style="text-align: center;color: #808080;padding:10px;"><span class="uni">{{showFont[2]}}</span></h6>-->
    <ion-card>
        <!--  <img src="assets/MicrosoftTeams-image.png"/> <!-- NSB -->
        <!-- <img src="assets/banklocation.png"/> <!--shwe-->
        <!-- <img src="assets/MicrosoftTeams-image (5).png"/> <!--TCB-->
        <img src="assets/location.png" />
    </ion-card>
    <!-- <div align="center">
     <img src="img/ShweLogo.jpg" class="img-circle" />
   </div>-->
    <ion-card>
        <ion-list>
            <ion-item no-lines>
                <ion-row>
                    <ion-col col-1>
                        <ion-icon full name="pin" style="width: 100%;color:#236ee3;"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                        <ion-item style="padding-left: 0px;margin-top: -16px;" text-wrap>
                            <span class="uni">{{showFont[0]}}</span>
                        </ion-item>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col col-1>
                        <ion-icon full name="globe" style="width: 100%;color:#236ee3;"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                        <div>
                            <a href="#">http://www.mBanking.com</a>
                        </div>

                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item no-lines>
                <ion-row>
                    <ion-col col-1>
                        <ion-icon full name="call" style="width: 100%;color:#236ee3;"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                        <i ng-switch-when="PHONE">
              <a href="tel:09123456789" ng-class="{'item-divider': genericItem.Container =='ITEMDIVIDER', 'SS-item-no-border: genericItem.CONTAINER == 'ITEMNOBORDER'}">
                <i class="icon ion-ios7-world-outline SS-list.icon3"></i>09 - 123456789
                        </a>
                        </i>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item no-lines>
                <ion-row>
                    <ion-col col-1>
                        <ion-icon full name="ios-mail" style="width: 100%;color:#236ee3;"></ion-icon>
                    </ion-col>
                    <ion-col col-11>
                        <div>mbanking@gmail.com</div>
                    </ion-col>
                </ion-row>
            </ion-item>

        </ion-list>
    </ion-card>
</ion-content>