<!-- <ion-header>
  <ion-navbar>
    <ion-title>q-pay-cag</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content> -->

<ion-header>
  <ion-navbar color="shwe">
    <button mode="md" ion-button menuToggle>
  <ion-icon name="menu"></ion-icon>
</button>
    <!-- <img src="assets/images/Shwecopy.png" width="40px" style="display:inline-block" height="40px"/>
<ion-title class="titleicon" style="display:inline-block;" >Shwe Bank</ion-title> -->
    <ion-title id="custom_ion_title"><span class="uni">Merchant Pay</span></ion-title>
    <!--  <ion-buttons end>
  <button ion-button icon-only tappable (click)="callIT('012307901')">
    <ion-icon name="call"></ion-icon>
  </button>
</ion-buttons> -->
</ion-navbar>
</ion-header>

<ion-content padding style="background-color: #eeedf2;">
  <ion-card class="rounded" style="padding: 7px; border-radius:6px;" *ngFor="let m of merchantlist.data" tappable  (click)="goDetail(m)">
    <!-- <img class="container" style="width: 10%" src="assets/qpay/telenor.jpg"> -->
    <ion-grid style="padding: 3px !important;">
      <ion-row>
        <ion-col col-2><img style = "height: 27px;" src="data:image/jpeg;base64,{{m.logo}}" onError="this.src='./assets/product/default.jpg';"  alt="..." ></ion-col>
        <ion-col col-10><div style="text-align: left; margin:3px; margin-left: -7%;">{{m.merchantName}}</div></ion-col>
      </ion-row>
    </ion-grid>
    <!-- <img class="container" src="assets/qpay/telenor.jpg" onError="this.src='./assets/product/default-image.jpg';"  alt="..." >
    <div style="text-align: left; margin:10px">{{m.merchantName}}</div> -->
  </ion-card>
</ion-content>

