page-first-page {
  .vertical-align-content > *
  {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  //  background: #add1e7;
  }
  .custop{
     padding:10px;
   }
  .cusimg{
    display:inline-block;
    width:100px;
    height:100px;
  }
  @media (max-width: 320px) {
    .custop{
      padding:10px;
      padding-top:90px;
    }
    .cusimg{
      display:inline-block;
      width:80px;
      height:80px;
    }
  }
  @media (max-width: 360px) {
    .custop{
      padding:10px;
      padding-top:50px;
    }
  }

}
