<!--
  Generated template for the FirstPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <button mode="md" ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <img src="assets/images/Shwecopy.png" width="40px" style="display:inline-block" height="40px" />
        <ion-title class="titleicon" style="display:inline-block;">Shwe Bank</ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md" padding>

    <ion-list>

        <ion-item style="color: #fff;background: none;">
            <ion-label floating>Phone/Email</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item style="color: #fff;background: none;">
            <ion-label floating>Name</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>

    </ion-list>

    <button mode="md" ion-button block color="shwebtn" tappable (click)="goLogin()">
    Login
  </button>
    <div style="padding:16px;font-size:16px;text-decoration:underline;color:#236ee3;" tappable (click)="openLanguage()" align="center">
        Forgot password?
    </div>
    <!--<ion-grid>

    <ion-row class="custop">
      <ion-col col-6 tappable (click)="goLogin()">
        <ion-card style="margin: 0px;width: calc(100% - 0px);background:#add1e7; ">
          <ion-card-header >
            <img src="assets/images/access_key-512.png" class="cusimg"/>
          </ion-card-header>
          <ion-card-content style="text-align: center;color: #04956d;font-weight: bold;">
            Log in
          </ion-card-content>
        </ion-card>
        </ion-col>
      <ion-col col-6 style="">
        <ion-card style="margin: 0px;width: calc(100% - 0px);background:#add1e7;">
          <ion-card-header >
            <img src="assets/images/bank-icon.png" class="cusimg" />
          </ion-card-header>
          <ion-card-content style="text-align: center;color:#7e004a;font-weight: bold;">
            Contact Us
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;padding-top:0px;">
      <ion-col col-6 style="">
        <ion-card style="margin: 0px;width: calc(100% - 0px);background:#add1e7;">
          <ion-card-header >
            <img src="assets/images/unnamed2.png" class="cusimg"/>
          </ion-card-header>
          <ion-card-content style="text-align: center;color:#fff;font-weight: bold;">
            Location
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 style="">
        <ion-card style="margin: 0px;width: calc(100% - 0px);background:#add1e7;">
          <ion-card-header >
            <img src="assets/images/368-512.png" class="cusimg"/>
          </ion-card-header>
          <ion-card-content style="text-align: center;color:#00a49d;font-weight: bold;">
            Exchange
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row style="padding: 10px;padding-top:0px;">
      <ion-col col-6 style="">
        <ion-card style="margin: 0px;width: calc(100% - 0px);background:#add1e7;">
          <ion-card-header >
           <img src="assets/images/link-closed-flat.png" class="cusimg"/>
          </ion-card-header>
          <ion-card-content style="text-align: center;color:#ff694c;font-weight: bold;">
            Change URL
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 style="">
        <ion-card style="margin: 0px;width: calc(100% - 0px);background:#add1e7;">
          <ion-card-header >
            <img src="assets/images/Settings-5-icon.png" class="cusimg"/>
          </ion-card-header>
          <ion-card-content style="text-align: center;color:#00a9cd;font-weight: bold;">
            Settings
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>-->
</ion-content>