<ion-header>
    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title">
            <span class="uni">{{showFont[11]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <ion-card>
        <ion-item text-wrap>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{taxData.fromAcc}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{taxData.tinNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{taxData.profileName}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{taxData.mainBusiness}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{taxData.companyType}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[5]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{taxData.industryCode}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[6]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{taxData.phoneNumber}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[7]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{amount}}</h2>
        </ion-item>
        <hr *ngIf="taxData.narrative">
        <ion-item text-wrap *ngIf="taxData.narrative">
            <p class="uni">{{showFont[8]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{taxData.narrative}}</h2>
        </ion-item>
    </ion-card>
</ion-content>
<ion-footer style="background-color: #eeedf2">
    <ion-row style="margin: 0px 5px 0px 5px">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block tappable (click)="cancel()" color="shwebtn">
                {{showFont[9]}}
            </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block tappable (click)="confirm()" color="shwebtn">
                {{showFont[10]}}
            </button>
        </ion-col>
    </ion-row>
</ion-footer>