page-beneficiary-add {
    .mycard {
        border-radius: 2px;
        margin: 0px 8px 0px 8px;
        font-size: 1.4rem;
        background: #fff;
    }
    .div-head {
        background-color: #bbb9b9;
        font-weight: bold;
        color: #000;
        padding: 3px 0px 3px 14px;
    }
}