<ion-header>
    <ion-navbar color="shwe">
        <ion-title style="text-align:center">
            <span class="uni">{{title}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md">
    <ion-card>
        <ion-card-header [ngStyle]="cssStyle">
            <div align="center" *ngIf="data.code === '0000'">
                Transaction with reference number {{data.bankRefNumber}} is in Accepted state.
            </div>

            <div align="center" *ngIf="data.code != '0000'">
                <p style="font-size:15px;color:#fff;">Transaction failed.</p>
                <p style="font-size:15px;color:#fff;">{{data.desc}}</p>
            </div>
        </ion-card-header>
        <ion-item text-wrap class='item-underline'>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{detail.fromAcc}}</h2>
        </ion-item>
        <ion-item text-wrap class='item-underline'>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{detail.tinNo}}</h2>
        </ion-item>
        <ion-item text-wrap class='item-underline'>
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{detail.phoneNo}}</h2>
        </ion-item>
        <ion-item text-wrap class='item-underline'>
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{amount}}</h2>
        </ion-item>
        <ion-item text-wrap *ngIf="data.code=='0000'" class='item-underline'>
            <p class="uni">{{showFont[5]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{data.bankRefNumber}}</h2>
        </ion-item>
        <ion-item text-wrap *ngIf="data.code=='0000'" class='item-underline'>
            <p class="uni">{{showFont[7]}}</p>
            <h2 style="float:left;font-weight:bold;color:#000;">{{data.transactionDate}}</h2>
        </ion-item>
    </ion-card>

    <div padding class="uni">
        <button mode="md" ion-button block type="button" tappable (click)="close()" style="margin-top:10px;" color="shwebtn">
            {{showFont[8]}}
        </button>
    </div>
</ion-content>