<ion-header class="nav-color">
    <ion-navbar color="shwe" transparent>
        <button mode="md" ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title id="custom_ion_title">
            <span class="uni">{{showFont[0]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md" scroll="false" style="background-color: #eeedf2">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <div class="mycard">
        <div class="div-head">
            <span class="uni">{{showFont[1]}}</span>
        </div>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[2]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="obj.beneficiaryID" (ngModelChange)="inputChange(1)"></ion-input>
        </ion-item>
        <div id="div-error-style" align="center" class="uni">{{errormsg1}}</div>

        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[3]}}</span>
            </ion-label>
            <ion-input type="number" [(ngModel)]="obj.accountNo" (ngModelChange)="inputChange(2)"></ion-input>
            <div *ngIf="obj.beneTypeValue==2" color="shwe" item-right tappable (click)="checkAccount()" style="padding:0px;width:29px;margin: 16px -5px 0px 0px;">
                <button mode="md" transparent ion-button icon-only clear>
                    <ion-icon>
                        <img *ngIf="isChecked" src="assets/person-check.png" />
                        <img *ngIf="!isChecked" src="assets/check.png" />
                    </ion-icon>
                </button>
            </div>
        </ion-item>
        <div id="div-error-style" align="center" class="uni">{{errormsg2}}</div>

        <ion-item *ngIf="obj.beneTypeValue==2" class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[14]}}</span>
            </ion-label>
            <ion-input type="text" disabled="true" [(ngModel)]="obj.branch"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[13]}}</span>
            </ion-label>
            <ion-select [(ngModel)]="obj.beneTypeValue" (ionChange)="setBeneficiaryType($event)" interface="popover">
                <ion-option *ngFor="let b of beneficiaryType" [value]="b.value" selected>
                    {{b.name}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label floating>
                <span class="uni">{{showFont[4]}}</span>
            </ion-label>
            <ion-input type="phone" [(ngModel)]="obj.name" (ngModelChange)="inputChange(5)"></ion-input>
        </ion-item>
        <div id="div-error-style" align="center" class="uni">{{errormsg3}}</div>

        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[5]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="obj.email"></ion-input>
        </ion-item>
        <div id="div-error-style" align="center" class="uni">{{errormsg4}}</div>

        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[6]}}</span>
            </ion-label>
            <ion-input type="tel" [(ngModel)]="obj.phone" (ngModelChange)="inputChange(3)"></ion-input>
        </ion-item>
        <div id="div-error-style" align="center" class="uni">{{errormsg6}}</div>

        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[18]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="obj.beneAddress" (ngModelChange)="inputChange(4)"></ion-input>
        </ion-item>
        <div id="div-error-style" align="center" class="uni">{{errormsg7}}</div>

        <ion-item *ngIf="obj.beneTypeValue==3" class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[15]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="obj.bankName"></ion-input>
            <div color="shwe" item-right style="padding:0px;width:29px;margin: 33px -5px 0px 0px;">
                <ion-icon>
                    <img src="assets/bank.png" tappable (click)="goBankList()" />
                </ion-icon>
            </div>
        </ion-item>
        <div id="div-error-style" align="center" class="uni">{{errormsg8}}</div>

        <ion-item *ngIf="obj.beneTypeValue==3" class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[16]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="obj.bankCode"></ion-input>
        </ion-item>

        <ion-item *ngIf="obj.beneTypeValue==3">
            <ion-label floating>
                <span class="uni">{{showFont[17]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="bankAddress"></ion-input>
        </ion-item>
        <div style="height:10px"></div>
    </div>

</ion-content>
<ion-footer style="background-color: #eeedf2">
    <div style="margin: 10px 7px 0px 7px;">
        <ion-col class="uni">
            <button mode="md" ion-button block color="shwebtn" tappable (click)="add()">{{showFont[8]}}</button>
        </ion-col>
    </div>
</ion-footer>