<!--
  Generated template for the TopUpForm page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar [ngStyle]="primColor">
        <img src="{{passtemp.logo}}" class="resize" />
        <!-- <ion-title id="custom_ion_title">{{billdata.merchanttype}}</ion-title>-->
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <ion-list style="padding:0px 10px 0px;">
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[0]}}</span></ion-label>
            <ion-select [(ngModel)]="cnpData.accounttype" interface="popover">
                <ion-option *ngFor="let account of useraccount" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div class="uni" *ngFor="let account of useraccount">
            <p *ngIf="cnpData.accounttype==account.depositAcc">
                <span class="uni" id="span-style">{{showFont[11]}}</span> : &nbsp;{{account.avlBal}}&nbsp;{{account.ccy}}
            </p>
        </div>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpAcc">{{msgCnpAcc}}</div>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[1]}}</span></ion-label>
            <ion-select [(ngModel)]="referencename" interface="popover" (ionChange)="referenceChange(referencename)">
                <ion-option *ngFor="let a of referenceType" [value]="a">
                    {{a.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpRef">{{msgCnpRef}}</div>
        <ion-item *ngIf="contactPh">
            <ion-label floating><span class="uni">{{showFont[2]}}</span></ion-label>
            <ion-input type="phone" [(ngModel)]="cnpData.phoneNo" (keyup)="onChangeSPh($event,cnpData.phoneNo)">
            </ion-input>
            <button mode="md" ion-button clear color="shwe" type="button" item-right tappable (click)="getContact()" style="padding:0px;width:50px;margin-right:0px;"> <ion-icon name="md-person-add" style="font-size:27px;"> </ion-icon> </button>
        </ion-item>

        <ion-item *ngIf="moreContact">
            <ion-label floating><span class="uni">{{showFont[2]}}</span></ion-label>
            <ion-select [(ngModel)]="cnpData.phoneNo" interface="action-sheet">
                <ion-option *ngFor="let ph of moreContactData" [value]="ph.value">
                    {{ph.value}}
                </ion-option>
            </ion-select>
            <button mode="md" ion-button clear color="shwe" type="button" item-right tappable (click)="getContact()" style="padding:0px;width:50px;margin-right:0px;"> <ion-icon name="md-person-add" style="font-size:27px;"> </ion-icon> </button>
        </ion-item>

        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpPhNo">{{msgCnpPhNo}}</div>
        <!-- <ion-item  *ngIf="passtemp.processingCode == '050200'">
      <ion-label floating><span class="uni">{{showFont[4]}}</span></ion-label>
      <ion-input type="number"  [(ngModel)]="cnpData.amount" ></ion-input>
    </ion-item> -->

        <ion-item *ngIf="passtemp.processingCode == '050200'">
            <ion-label floating><span class="uni">{{showFont[3]}}</span></ion-label>
            <ion-select [(ngModel)]="cnpData.name" interface="popover" (ionChange)="getamountType(cnpData.name)">
                <ion-option *ngFor="let a of referenceTypeBill" [value]="a.value">
                    {{a.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="passtemp.processingCode != '050200'">
            <ion-label floating><span class="uni">{{showFont[3]}}</span></ion-label>
            <ion-select [(ngModel)]="amt" interface="popover" (ionChange)="getamount(amt)">
                <ion-option *ngFor="let a of referenceTypeBill" [value]="a">
                    {{a.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpamt">{{msgCnpamt}}</div>
        <ion-item *ngIf="passtemp.processingCode == '050200' && amountType == 'other'">
            <ion-label floating><span class="uni">{{showFont[3]}}</span></ion-label>
            <ion-input type="number" [(ngModel)]="cnpData.amountother"></ion-input>
        </ion-item>
        <div style="color:#EE4141;padding-top:15px;" align="center" class="uni" *ngIf="msgCnpAmtOther">{{msgCnpAmtOther}}</div>
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[4]}}</span></ion-label>
            <ion-input type="text" [(ngModel)]="cnpData.narrative"></ion-input>
        </ion-item>
    </ion-list>
    <div style="padding:20px 20px 20px;">
        <ion-col class="uni">
            <button mode="md" ion-button block type="submit" tappable (click)="clicksubmit()" color="shwebtn">{{showFont[5]}}</button>
            <!--[ngStyle]="primColor"-->
        </ion-col>
    </div>
</ion-content>