page-main-home {
    /* #bg-img {
        margin: 0px;
        background-image: url('../assets/nsb-screen-top-bg.png') !important;
        background-size: 100% 25%;
        background-position: center top;
        background-repeat: no-repeat;
        text-align: center;
    } */
    @media screen and (min-height: 200px) and (max-height: 500px) {
        #bg-img {
            margin: 0px;
            background-image: url('../assets/nsb-screen-top-bg.png') !important;
            background-size: 100% 33%;
            background-position: center top;
            background-repeat: no-repeat;
            text-align: center;
        }
    }
    @media screen and (min-height: 500px) and (max-height: 700px) {
        //phone
        #bg-img {
            margin: 0px;
            background-image: url('../assets/nsb-screen-top-bg.png') !important;
            background-size: 100% 26%;
            background-position: center top;
            background-repeat: no-repeat;
            text-align: center;
        }
    }
    @media screen and (min-height: 700px) and (max-height: 900px) {
        //phone
        #bg-img {
            margin: 0px;
            background-image: url('../assets/nsb-screen-top-bg.png') !important;
            background-size: 100% 24%;
            background-position: center top;
            background-repeat: no-repeat;
            text-align: center;
        }
    }
    @media screen and (min-height: 900px) and (max-height: 1200px) {
        //ipad, tablet
        #bg-img {
            margin: 0px;
            background-image: url('../assets/nsb-screen-top-bg.png') !important;
            background-size: 100% 26%;
            background-position: center top;
            background-repeat: no-repeat;
            text-align: center;
        }
    }
    @media screen and (min-height: 1200px) {
        //ipad pro
        #bg-img {
            margin: 0px;
            background-image: url('../assets/nsb-screen-top-bg.png') !important;
            background-size: 100% 25%;
            background-position: center top;
            background-repeat: no-repeat;
            text-align: center;
        }
    }
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-subtitle {
        font-size: 1.0em;
        top: 70%;
        width: 100%;
        color: #444;
    }
    .card-md {
        margin: 5px 5px 5px 5px;
        width: calc(100% - 10px);
        height: 31.5%;
        border-radius: 2px;
        font-size: 1.4rem;
        background: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .card-ios {
        margin: 5px 5px 5px 5px;
        width: calc(100% - 10px);
        border-radius: 2px;
        font-size: 1.4rem;
        background: #fff;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    }
    .slide-zoom {
        height: 100%;
    }
    .slide-title {
        margin-top: 1rem;
    }
    .slider-pager {
        color: #fff !important;
    }
    /* 
  .slider-pager-page.active {
    color: #008931 !important;
  } */
    .swiper-pagination-bullet-active {
        background: #3B5998 !important;
        opacity: 1;
    }
    .row-height {
        height: 30%;
        margin: 5px 0px 5px 0px;
    }
    .card-icon {
        position: relative;
        font-size: 10vw;
        margin-top: 28px;
        margin-bottom: 15px;
    }
    .card {
        height: 100%;
        margin-top: 0px;
    }
    .color {
        background-color: #F5F5F5;
    }
    .width {
        margin-left: 0px;
        width: calc(100% - 5px);
    }
    .head-div {
        margin: 3px;
        height: 18%;
        padding-top: 4%;
        border: 1px solid lightgrey;
    }
    .swiper-pagination-bullets {
        bottom: 0px !important;
    }
    .ion-ios-wallettopup {
        content: url("../assets/icon/wallettopup.png") !important; 
        width:20%;       
    }
    .ion-ios-accsummary {
        content: url("../assets/icon/acount-summary.png") !important; 
        width:20%;       
    }
    .ion-ios-transhistory {
        content: url("../assets/icon/trans-history.png") !important; 
        width:20%;       
    }
    .ion-ios-ftransfer {
        content: url("../assets/icon/fast-transfer.png") !important; 
        width:20%;       
    } 
    .ion-ios-itransfer {
        content: url("../assets/icon/internal-transfer.png") !important; 
        width:24%;     
        margin-top: 13%;
    } 
    .ion-ios-bill {
        content: url("../assets/icon/bill.png") !important; 
        width:20%;       
    } 
    .ion-ios-mobiletopup {
        content: url("../assets/icon/mobile-topup.png") !important; 
        width:20%;       
    } 
    .ion-ios-location {
        content: url("../assets/icon/locationabc.png") !important; 
        width:23%;       
    } 
    .ion-ios-currencyexchange {
        content: url("../assets/icon/currency-exchange.png") !important; 
        width:20%;       
    } 
    .ion-ios-contactus {
        content: url("../assets/icon/contact.png") !important; 
        width:20%;       
    } 
    .ion-ios-logout {
        content: url("../assets/icon/logout.png") !important; 
        width:19%;       
    }
    .ion-ios-changepassword {
        content: url("../assets/icon/change-password.png") !important; 
        width:20%;       
    } 

    .ion-ios-owntransfer {
        content: url("../assets/icon/own-transfer.png") !important; 
        width:20%;   
        margin-bottom: 13%;         
    }
    
}