<ion-header no-border>
    <ion-navbar transparent>
        <!-- color="shwe" -->
        <button mode="md" ion-button menuToggle>
            <ion-icon name="menu" style="color: white;"></ion-icon>
        </button>
        <ion-title id="custom_ion_title">
            <span class="uni" style="color: white !important;">{{showFont[0]}}</span>
        </ion-title>
        <!-- <ion-badge color="light">{{count}}</ion-badge> -->
        <ion-buttons end>
            <button ion-button icon-only tappable (click)="goNoti()">
                <ion-icon name="ios-notifications-outline" style="font-weight: bold; color: white;">
                    <!--ion-badge style="font-size: 14px; position: absolute; top: -15px; right: -9px; border-radius: 100%; " *ngIf="global.flagnoti">
                        {{count}}
                    </ion-badge-->
                </ion-icon>
            </button>
            <button ion-button icon-only tappable (click)="presentPopover($event)">
                <ion-icon name="more" style="color: white;"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content mode="md" id="bg-img" mode='md'>
    <ion-row style="min-height: 14%; margin-top: 2%; margin-bottom: 8%;">
        <ion-col style="padding: 0px;">
            <h3 text-center style="color: white; margin: 0px; font-size: 4.8vw;">
                {{userName}}
                <!-- Account ( {{currency}} ) #ffa500  #74b700-->
            </h3>
            <p text-center style="color:  white; font-weight: bold; font-size: 4.6vw;" *ngIf="totalsFloat!=0">
                {{totalsFloat}}
            </p>
            <p style="color: white; font-weight: bold; font-size: 4.5vw;" *ngIf="totalsFloat==0">{{load}}</p>
            <p text-center style="color: white; font-weight: bold; font-size: 4.5vw;margin: -8px 0px -8px -7px;" *ngIf="debitTotal!=0">
                {{debitTotal}}
            </p>
            <p style="color: white; font-weight: bold; font-size: 4.5vw;" *ngIf="debitTotal==0">{{load}}</p>
        </ion-col>
    </ion-row>
    <ion-slides pager style="height: 75%;" speed="500">
        <!-- effect="coverflow" -->
        <ion-slide *ngFor="let slide of data">
            <ion-row *ngFor="let row of slide.row" class="row-height">
                <ion-col *ngFor="let col of row.col" style="padding: 0px;">
                    <ion-card [ngClass]="col.Css" tappable (click)="goPage(col)">
                        <!-- [ngStyle]="col.Css" -->
                        <div class="card-subtitle">
                            <div align="center" style="width: 100%;">
                                <ion-icon [name]="col.icon" class="card-icon" color="shwe"></ion-icon>
                            </div>
                            <span class="uni" style="font-size:4vw">{{col.name}}</span>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-slide>
    </ion-slides>
</ion-content>