<ion-header class="nav-color">
  <ion-navbar color="shwe" transparent>
    <ion-title id="custom_ion_title">
      <span class="uni">{{showFont[0]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content mode="md">
  <ion-card>
    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[1]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{merchantObj.fromAcc}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[2]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{merchantObj.cardNo}}</h2>
    </ion-item>
    
    <ion-item *ngIf="merchantObj.packagetype!='ppv'" class="adjust-custom-padding">
      <p class="uni">{{showFont[3]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{merchantObj.packageName}}</h2>
    </ion-item>
    
    <ion-item *ngIf="merchantObj.packagetype!='ppv'" class="adjust-custom-padding">
      <p class="uni">{{showFont[4]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{merchantObj.voucherType}}</h2>
    </ion-item>
    
    <ion-item *ngIf="merchantObj.packagetype=='ppv'" class="adjust-custom-padding">
      <p class="uni">{{showFont[10]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{merchantObj.moviename}}</h2>
    </ion-item>
    
    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[5]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{amount}} {{merchantObj.ccy}}</h2>
    </ion-item>
    
    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[6]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{commissionAmount}} {{merchantObj.ccy}}</h2>
    </ion-item>
    
    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[7]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{totalAmount}} {{merchantObj.ccy}}</h2>
    </ion-item>
  </ion-card>

  <ion-row style="padding-bottom: 10px; padding-top: 10px; padding-left: 20px; padding-right: 20px;">
    <ion-col class="uni" col-6>
      <button mode="md" ion-button outline block tappable (click)="cancel()" color="shwebtn">
        {{showFont[8]}}
      </button>
    </ion-col>
    <ion-col class="uni" col-6>
      <button mode="md" ion-button block tappable (click)="confirm()" color="shwebtn">
        {{showFont[9]}}
      </button>
    </ion-col>
  </ion-row>
</ion-content>
