<ion-header>  
  <ion-navbar color="shwe">
    <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
  </ion-navbar>

</ion-header>


<ion-content mode="md">
  <ion-card>
    <ion-item text-wrap *ngIf="detailData.status == '2' || detailData.status == '3'">
      <h2 style="color:#74b700;font-weight: bold;" class="uni"
        *ngIf="detailData.status !='' && detailData.status == '2'">{{showFont[9]}}</h2>
      <h2 style="color:#EE4141;font-weight: bold;" class="uni"
        *ngIf="detailData.status !='' && detailData.status == '3'">{{showFont[10]}}</h2>
    </ion-item>
    <ion-item text-wrap>
      <p class="uni">{{showFont[1]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{detailData.autokey}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[2]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{detailData.t4}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[3]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{detailData.t1}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[4]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;">{{detailData.t2}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[5]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;width:100%;">{{detailData.amount}} &nbsp;
        {{detailData.currencycode}}</h2>
    </ion-item>
    <hr>
    <ion-item text-wrap>
      <p class="uni">{{showFont[6]}}</p>
      <h2 style="float:left;font-weight:bold;color:#000;" class="uni">{{detailData.createddatetime}}</h2>
    </ion-item>    
    <ion-row style="margin: 0px 5px 0px 5px" *ngIf="detailData.status !='' && detailData.status == '1'">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block tappable (click)="goApproveReject(detailData,'2')"
            style="background-color:#74b700;margin-top: 1.5rem;">
            <span class="uni">{{showFont[8]}}</span>
          </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block tappable (click)="goApproveReject(detailData,'3')"
            style="background-color:#EE4141;margin-top: 1.5rem;">
            <span class="uni">{{showFont[7]}}</span>
          </button>
        </ion-col>        
    </ion-row>
  </ion-card>
</ion-content>