<!--
  Generated template for the BeneficiaryInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="nav-color">

    <ion-navbar color="shwe" transparent>
        <ion-title id="custom_ion_title">
            <span class="uni">{{textData[0]}}</span>
        </ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md" scroll="false" style="background-color: #eeedf2">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <div class="mycard">
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[1]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="beneficiaryData.beneficiaryID"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[2]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="beneficiaryData.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[3]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="beneficiaryData.accountNo"></ion-input>
        </ion-item>
        <ion-item *ngIf="beneficiaryData.beneTypeValue==2">
            <ion-label floating>
                <span class="uni">{{textData[9]}}</span>
            </ion-label>
            <ion-input [disabled]="true" type="text" [(ngModel)]="beneficiaryData.branch"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[8]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="beneficiaryData.beneTypeName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[4]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="beneficiaryData.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[5]}}</span>
            </ion-label>
            <ion-input disabled="true" type="phone" [(ngModel)]="beneficiaryData.phone"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[13]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="beneficiaryData.beneAddress"></ion-input>
        </ion-item>
        <ion-item *ngIf="beneficiaryData.beneTypeValue==3">
            <ion-label floating>
                <span class="uni">{{textData[10]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="beneficiaryData.bankName"></ion-input>
        </ion-item>
        <ion-item *ngIf="beneficiaryData.beneTypeValue==3">
            <ion-label floating>
                <span class="uni">{{textData[11]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="beneficiaryData.bankCode"></ion-input>
        </ion-item>
        <ion-item *ngIf="beneficiaryData.beneTypeValue==3">
            <ion-label floating>
                <span class="uni">{{textData[12]}}</span>
            </ion-label>
            <ion-input disabled="true" type="text" [(ngModel)]="bankAddress"></ion-input>
        </ion-item>
        <div style="height:35px"></div>
    </div>
</ion-content>
<ion-footer style="background-color: #eeedf2">
    <ion-row style="margin: 0px 5px 0px 5px;">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block color="shwebtn" tappable (click)="confirmDelete()">{{textData[6]}}</button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block color="shwebtn" tappable (click)="edit()">{{textData[7]}}</button>
        </ion-col>
    </ion-row>
</ion-footer>