<ion-header>
    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title">
            <span class="uni">{{textData[5]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>


<ion-content mode="md" scroll="false" style="background-color: #eeedf2">
    <ion-row align-items-center>
        <ion-col col-5>
            <p text-center style="color: #EE4141; margin: 0px; font-size: 17px;">
                {{textData[1]}}
            </p>
            <p text-center style="color: green; font-weight: bold; font-size: 13px;margin-top: 12px !important;" *ngIf="totalsFloat!=0">
                {{taxData.tinNo}}
            </p>
        </ion-col>
        <ion-col col-5>
            <p text-center style="color: #EE4141; margin: 0px; font-size: 17px;">
                {{textData[12]}}
            </p>
            <p text-center style="color: green; font-weight: bold; font-size: 13px;margin-top: 12px !important;" *ngIf="totalsFloat!=0">
                {{taxData.phoneNumber}}
            </p>
        </ion-col>
        <ion-col col-2 (click)="goInformation()">
            <ion-icon name="information-circle" color="shwe" style="font-size:45px"></ion-icon>
        </ion-col>
    </ion-row>
    <div class="mycard">
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[0]}}</span>
            </ion-label>
            <ion-select #myselect [(ngModel)]="taxData.fromAcc" id="select-font-color" interface="popover" (ionChange)="changeAcc(1,taxData.fromAcc)">
                <ion-option *ngFor="let account of fromAccountlist" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div class="uni"><span class="uni" id="span-style">{{textData[7]}}</span>:<span>{{accountBal}}</span>
        </div>
        <div align="center" class="uni" id="div-error-style">{{fromaccMsg}}</div>

        <!-- <ion-item class="my-item" (click)="goBusinessProfile()">
            <ion-label stacked>
                <span class="uni">{{textData[14]}}</span>
            </ion-label>
            <ion-input readonly type="text" [(ngModel)]="taxData.taxOfficeName"></ion-input>
            <ion-icon name="arrow-dropdown" style="font-size:27px;" item-right>
            </ion-icon>
        </ion-item> -->
        <!-- <ion-select #myselect [(ngModel)]="business" id="select-font-color" interface="popover" (ionChange)="getData(1,business)">
                <ion-option *ngFor="let business of businessList" [value]="business">
                    {{business.taxOfficeName}}
                </ion-option>
            </ion-select> -->
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[15]}}</span>
            </ion-label>
            <ion-select #myselect [(ngModel)]="tax" id="select-font-color" interface="popover" (ionChange)="getData(3,tax)">
                <ion-option *ngFor="let tax of taxList" [value]="tax">
                    {{tax.taxTypeDesc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div align="center" class="uni" id="div-error-style">{{taxTypeMsg}}</div>

        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[16]}}</span>
            </ion-label>
            <ion-select #myselect [(ngModel)]="payment" id="select-font-color" interface="popover" (ionChange)="getData(2,payment)">
                <ion-option *ngFor="let payment of paymentList" [value]="payment">
                    {{payment.paymentTypeDesc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div align="center" class="uni" id="div-error-style">{{paymentMsg}}</div>

        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[17]}}</span>
            </ion-label>
            <ion-select #myselect [(ngModel)]="income" id="select-font-color" interface="popover" (ionChange)="getData(4,income)">
                <ion-option *ngFor="let income of incomeYear" [value]="income">
                    {{income.incomeYearDesc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div align="center" class="uni" id="div-error-style">{{incomeMsg}}</div>

        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[18]}}</span>
            </ion-label>
            <ion-select #myselect [(ngModel)]="tp" id="select-font-color" interface="popover" (ionChange)="getData(5,tp)">
                <ion-option *ngFor="let tp of taxPeriod" [value]="tp">
                    {{tp.taxPeriodDesc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div align="center" class="uni" id="div-error-style">{{periodMsg}}</div>

        <ion-item class="my-item">
            <!-- class="my-item" -->
            <ion-label floating><span class="uni">{{textData[13]}}</span>
            </ion-label>
            <ion-input type="number" [(ngModel)]="taxData.taxAmount" (ngModelChange)="inputChange(2)" id="text-line">
            </ion-input>
        </ion-item>
        <div align="center" class="uni" id="div-error-style">{{amountMsg}}</div>
        <!-- <div align="center" class="uni" id="div-error-style">{{tinMsg}}</div> -->
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[3]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="taxData.narrative" id="text-line"></ion-input>
        </ion-item>
        <div style="height:65px"></div>
    </div>
</ion-content>
<ion-footer style="background-color: #eeedf2">
    <ion-row style="margin: 0px 5px 0px 5px">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block tappable (click)="reset()" color="shwebtn">
                {{textData[6]}}
            </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block tappable (click)="validation()" color="shwebtn">
                {{textData[4]}}
            </button>
        </ion-col>
    </ion-row>
</ion-footer>