page-merchantsuccess {
  .resizeskynet {
    height: auto;
    width: auto;
    max-width: 150px;
    max-height: 150px;
  }
  .resize {
    height: auto;
    width: auto;
    max-width: 80px;
    max-height: 80px;
  }
}
