<!--
  Generated template for the Merchantsuccess page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ion-card *ngIf="passtemp3.processingCode == '080400' ">
        <ion-card-header style="white-space: inherit;" [ngStyle]="primColor">
            <div align="center">
                Transaction with reference number {{passtemp1.bankRefNumber}} is in Accepted state.
                <img src="{{passtemp3.logo}}" class="{{cusCss}}" />
            </div>

        </ion-card-header>

        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.bankRefNumber}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.packagetype}}</h2>
        </ion-item>
        <hr *ngIf="passtemp2.cardno">

        <ion-item text-wrap *ngIf="passtemp2.cardno">
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.cardno}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.accounttype}}</h2>
        </ion-item>
        <hr>

        <ion-item text-wrap>
            <p class="uni">{{showFont[5]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.amountTotal}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[6]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.transactionDate}}</h2>
        </ion-item>
        <hr *ngIf="passtemp1.cardExpire">
        <ion-item text-wrap *ngIf="passtemp1.cardExpire">
            <p class="uni">{{showFont[7]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.cardExpire}}</h2>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="passtemp3.processingCode == '050200' ">
        <ion-card-header style="white-space: inherit;" [ngStyle]="primColor">
            <div align="center">
                Transaction with reference number {{passtemp1.bankRefNumber}} is in Accepted state.
                <img src="{{passtemp3.logo}}" class="{{cusCss}}" />
            </div>

        </ion-card-header>

        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.bankRefNumber}}</h2>
        </ion-item>
        <hr *ngIf="passtemp2.cardno">

        <ion-item text-wrap *ngIf="passtemp2.cardno">
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.cardno}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.accounttype}}</h2>
        </ion-item>
        <hr>

        <ion-item text-wrap>
            <p class="uni">{{showFont[10]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.billType}}</h2>
        </ion-item>
        <hr>

        <ion-item text-wrap>
            <p class="uni">{{showFont[11]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.CusrefNo}}</h2>
        </ion-item>
        <hr>

        <ion-item text-wrap>
            <p class="uni">{{showFont[5]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.amountTotal}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[6]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.transactionDate}}</h2>
        </ion-item>
        <hr *ngIf="passtemp1.cardExpire">
        <ion-item text-wrap *ngIf="passtemp1.cardExpire">
            <p class="uni">{{showFont[7]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.cardExpire}}</h2>
        </ion-item>
    </ion-card>

    <ion-card *ngIf="passtemp3.processingCode == '090500' ">
        <ion-card-header style="white-space: inherit;" [ngStyle]="primColor">
            <div align="center" style="color: #fff;">
                Transaction with reference number {{passtemp1.bankRefNumber}} is in Accepted state.
                <img src="{{passtemp3.logo}}" class="{{cusCss}}" />
            </div>

        </ion-card-header>

        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.bankRefNumber}}</h2>
        </ion-item>
        <hr>

        <ion-item text-wrap>
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.accounttype}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[9]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.meterNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[5]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.totalAmount}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[6]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.transactionDate}}</h2>
        </ion-item>
        <hr *ngIf="passtemp1.cardExpire">
        <ion-item text-wrap *ngIf="passtemp1.cardExpire">
            <p class="uni">{{showFont[7]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.cardExpire}}</h2>
        </ion-item>
    </ion-card>

    <div padding *ngIf="passtemp3.processingCode == '030001' ">
        <button mode="md" ion-button block type="button" tappable (click)="generateQR()" style="margin-top:20px;">Print QR</button>
    </div>

    <div padding class="uni">
        <button mode="md" ion-button block type="button" tappable (click)="getOK()" color="shwebtn">{{showFont[8]}}</button>
    </div>

</ion-content>