<ion-header>
    <ion-navbar color="shwe">
        <!-- <ion-buttons left>
            <button ion-button icon-only tappable (click)="backButton()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons> -->
      <ion-title id="custom_ion_title" class="uni"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>
  </ion-header>
  <ion-content>

    <!-- <ion-item style="padding-left: 0px;border-bottom: 1px solid gray !important;" *ngFor="let type of billerType" tappable  (click)="goPay(type)" >  -->
        <ion-card class="rounded" style="padding: 10px; border-radius:15px;" *ngFor="let type of billerType" tappable  (click)="goPay(type)">
          <div style="text-align: center; margin:10px">{{type}}</div>
        </ion-card>
    <!-- </ion-item> -->
  </ion-content>
