page-calculator {
    // #span-style {
    //     margin-left: 18px;
    //     color: green;
    // }
    // .item-line {
    //     border-bottom-color: #dedede;
    //     box-shadow: inset 0 -1px 0 0 #dedede;
    //     background-color: transparent;
    // }
    // .mycard {
    //     border-radius: 2px;
    //     margin: 4px 7px 4px 7px;
    //     font-size: 1.4rem;
    //     background: #fff;
    // }

    // .rounded {
    //     border-radius: 7px;
    //     margin: 0 auto;
    //     margin-bottom: 2% !important;
    //     min-height: 8%;
    //     //text-align: center;
    //     //color: green;
    //     width: 95%;
    //     line-height: 35px;
    //     padding-top: 3%;
    //     // background-color: #0095f3;
    //     // background-color: #00a0f3;
    //     background-color: #F5F5F5;
    //     //border: 3px solid #39b74c;
    //     align-items: flex-start;
    //   }
}
