<ion-header class="nav-color">
  <ion-navbar color="shwe" transparent>
    <ion-title id="custom_ion_title">
      <span class="uni">{{showFont[0]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content mode="md">
  <ion-card>
    <ion-card-header style="white-space: inherit; padding: 20px; background: #c13f1a;">
      <div align="center">
        <p style="color: #fff;">Transaction failed.</p>
        <p style="color: #fff;">{{merchantErrorObj.errordesc}}</p>
      </div>
    </ion-card-header>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[1]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantErrorObj.fromAcc}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[2]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantErrorObj.cardNo}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding" *ngIf="merchantErrorObj.packagetype!='ppv'">
      <p class="uni">{{showFont[3]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantErrorObj.packageName}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding" *ngIf="merchantErrorObj.packagetype!='ppv'">
      <p class="uni">{{showFont[4]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantErrorObj.voucherType}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding" *ngIf="merchantErrorObj.packagetype=='ppv'">
      <p class="uni">{{showFont[9]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantErrorObj.moviename}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[5]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantErrorObj.amount}} {{merchantErrorObj.ccy}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[6]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantErrorObj.commissionAmount}} {{merchantErrorObj.ccy}}</h2>
    </ion-item>

    <ion-item class="adjust-custom-padding">
      <p class="uni">{{showFont[7]}}</p>
      <h2 style="float: left; font-weight: bold; color: #000;">{{merchantErrorObj.totalAmount}} {{merchantErrorObj.ccy}}</h2>
    </ion-item>
  </ion-card>

  <div padding class="uni">
    <button mode="md" ion-button block type="button" tappable (click)="closeSkynetError()" style="margin-top: 10px;" color="shwebtn">{{showFont[8]}}</button>
  </div>
</ion-content>
