<ion-header>
    <ion-navbar color="shwe">
        <ion-buttons left>
            <button ion-button icon-only tappable (click)="backButton()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title id="custom_ion_title">
            <span class="uni">{{title}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md" scroll="false" style="background-color: #eeedf2">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <div class="mycard">
        <div style="text-align:center">
            <img src={{image}} style="width:25%;border: 1px solid #3B5998;border-radius: 50%;">
        </div>
        <ion-item>
            <ion-label floating>
                <span class="uni">{{textData[1]}}</span>
            </ion-label>
            <ion-select #myselect [(ngModel)]="topupData.account" id="select-font-color" interface="popover" (ionChange)="changeAcc(1,topupData.account)">
                <ion-option *ngFor="let account of fromAccountlist" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div class="uni">
            <span class="uni" id="span-style">
                {{textData[7]}}
            </span> :
            <span>{{accountBal}}</span>
        </div>
        <div align="center" class="uni" id="div-error-style">
            {{fromaccMsg}}
        </div>

        <ion-item *ngIf="!contact" class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[2]}}</span>
            </ion-label>
            <ion-input type="tel" [(ngModel)]="topupData.phone" (keyup)="onChangePh($event,topupData.phone)">
            </ion-input>
            <button mode="md" ion-button clear color="shwe" type="button" item-right tappable (click)="getContact()" style="padding:0px;width:50px;margin-right:0px;margin-top:22px">
                <ion-icon name="md-person-add" style="font-size:27px;">
                </ion-icon>
            </button>
        </ion-item>

        <ion-item *ngIf="contact" class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[2]}}</span>
            </ion-label>
            <ion-select [(ngModel)]="topupData.phone" interface="action-sheet">
                <ion-option *ngFor="let ph of contactData" [value]="ph.value">
                    {{ph.value}}
                </ion-option>
            </ion-select>
            <button mode="md" ion-button clear color="shwe" type="button" item-right tappable (click)="getContact()" style="padding:0px;width:50px;margin-right:0px;margin-top:22px">
                <ion-icon name="md-person-add" style="font-size:27px;">
                </ion-icon>
            </button>
        </ion-item>
        <div align="center" class="uni" id="div-error-style">
            {{phoneMsg}}
        </div>

        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[3]}}</span>
            </ion-label>
            <ion-select [(ngModel)]="data" interface="popover" (ionChange)="getamount(data)">
                <ion-option *ngFor="let data of billAmountList" [value]="data">
                    {{data.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <!-- <ion-item>
                <ion-label floating>
                    <span class="uni">{{textData[3]}}</span>
                </ion-label>
                <ion-input type="number" [(ngModel)]="topupData.amount" (ngModelChange)="inputChange(2)" id="text-line"></ion-input>
            </ion-item> -->
        <div align="center" class="uni" id="div-error-style">
            {{amountMsg}}
        </div>
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{textData[4]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="topupData.narrative"></ion-input>
        </ion-item>
        <div style="height:45px"></div>
    </div>
    <ion-row style="margin: 0px 5px 0px 5px">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block tappable (click)="reset()" color="shwebtn">
                {{textData[6]}}
            </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block tappable (click)="validation()" color="shwebtn">
                {{textData[5]}}
            </button>
        </ion-col>
    </ion-row>
</ion-content>