<!--
  Generated template for the TopupconfirmPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[7]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <ion-card>
        <!-- *ngIf="passTemp.processingCode == '050200'"-->
        <ion-item text-wrap>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{topUpData.accounttype}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{topUpData.operator}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{topUpData.phoneNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{topUpData.amount}}</h2>
        </ion-item>
        <hr *ngIf="topUpData.narrative">
        <ion-item text-wrap *ngIf="topUpData.narrative">
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{topUpData.narrative}}</h2>
        </ion-item>
    </ion-card>
    <ion-row style="padding-bottom:10px;padding-top:20px;padding-left:20px;padding-right:20px;">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block tappable (click)="cancelbtn()" color="shwebtn">
          {{showFont[5]}}
        </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block tappable (click)="confirmbtn()" color="shwebtn">
         {{showFont[6]}}
        </button>
        </ion-col>
    </ion-row>
</ion-content>