<ion-header class="nav-color">
    <ion-navbar color="shwe" transparent>
        <ion-title id="custom_ion_title">
            <span class="uni">{{showFont[0]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <ion-card>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[1]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{obj.beneficiaryID}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[2]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{obj.accountNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[8]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{obj.beneficiaryType.name}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap *ngIf="beneTypeValue==2">
            <p>
                <span class="uni">{{showFont[9]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{obj.branch}}</h2>
        </ion-item>
        <hr *ngIf="beneTypeValue==2">
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[3]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{obj.name}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap *ngIf="obj.email">
            <p>
                <span class="uni">{{showFont[4]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{obj.email}}</h2>
        </ion-item>
        <hr *ngIf="obj.email">
        <ion-item text-wrap *ngIf="obj.phone">
            <p>
                <span class="uni">{{showFont[5]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{obj.phone}}</h2>
        </ion-item>
        <hr *ngIf="obj.phone">
        <ion-item text-wrap *ngIf="obj.beneAddress">
            <p>
                <span class="uni">{{showFont[13]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{obj.beneAddress}}</h2>
        </ion-item>
        <div *ngIf="obj.beneficiaryType.value=='3'">
            <hr>
            <ion-item text-wrap>
                <p>
                    <span class="uni">{{showFont[10]}}</span>
                </p>
                <h2 style="font-weight:bold;color:#000;">{{obj.bankName}}</h2>
            </ion-item>
            <hr>
            <ion-item text-wrap>
                <p>
                    <span class="uni">{{showFont[11]}}</span>
                </p>
                <h2 style="font-weight:bold;color:#000;">{{obj.bankCode}}</h2>
            </ion-item>
            <hr>
            <ion-item text-wrap>
                <p>
                    <span class="uni">{{showFont[12]}}</span>
                </p>
                <h2 style="font-weight:bold;color:#000;">{{bankAddress}}</h2>
            </ion-item>
        </div>
    </ion-card>
    <ion-row style="padding:10px 10px 10px;">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block color="shwebtn" tappable (click)="cancel()">{{showFont[6]}}</button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block color="shwebtn" tappable (click)="confirm()">{{showFont[7]}}</button>
        </ion-col>
    </ion-row>
</ion-content>
<!-- <ion-footer>
  <ion-row>
    <ion-col width-50>
      <button mode="md" ion-button tappable (click)="cancel()" outline block color="shwebtn">
        <span class="uni">{{showFont[6]}}</span>
      </button>
    </ion-col>
    <ion-col width-50>
      <button mode="md" ion-button tappable (click)="confirm()" block color="shwebtn">
        <span class="uni">{{showFont[7]}}</span>
      </button>
    </ion-col>
  </ion-row>
</ion-footer> -->