<ion-header class="nav-color">
    <ion-navbar color="shwe">
        <ion-buttons left>
            <button ion-button icon-only tappable (click)="backButton()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title id="custom_ion_title">
            <span class="uni">{{title}}</span>
        </ion-title>
    </ion-navbar>
    <!-- <ion-toolbar>
        <ion-searchbar placeholder="Search" style="width:85%;float:left;padding:8px;" (ionInput)="getItems($event)"></ion-searchbar>
    </ion-toolbar> -->
</ion-header>

<ion-content mode="md">
    <div *ngIf="status == 1">
        <ion-item *ngFor="let l of topUpList" detail-push tappable (click)="goPage(l)">
            <ion-avatar item-left style="margin: 13px 16px 13px 0;">
                <img src="{{l.logo}}" style="border-radius:30%;">
            </ion-avatar>
            <h2>{{l.merchantName}}</h2>
        </ion-item>
        <!-- <ion-item  detail-push tappable (click)="goNext()">   
                <ion-avatar item-left style="margin: 13px 16px 13px 0;">
                    <img src="assets/billpay.png" style="border-radius:30%;">
                </ion-avatar>        
            <h2>{{textData[2]}}</h2>
        </ion-item> -->
    </div>
    <div *ngIf="status == 0" align="center">
        <h3 style="padding:50px;color:#ccc;">No result found!</h3>
    </div>
</ion-content>