<!--
  Generated template for the TopuperrorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title style="text-align:center"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ion-card>
        <ion-card-header style="white-space: inherit;padding:20px;background: #c13f1a;">
            <div align="center">
                <p style="font-size:15px;color:#fff;">Transaction failed.</p>
                <p style="font-size:15px;color:#fff;">{{passtemp.desc}}</p>
            </div>

        </ion-card-header>

        <!--  <ion-item text-wrap >
     <h2><span class="uni">{{showFont[1]}}</span></h2>
     <h2 style="font-weight:bold;color:#000;">{{passtemp2.packagetype}}</h2>
   </ion-item><hr>

    <ion-item text-wrap>
     <h2><span class="uni">{{showFont[2]}}</span></h2>
     <h2 style="font-weight:bold;color:#000;">{{passtemp2.cardno}}</h2>
     </ion-item><hr> -->
        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.accounttype}}</h2>
        </ion-item>
        <hr>

        <ion-item text-wrap>
            <p class="uni">{{showFont[2]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.operator}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.phoneNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp1.amount}}</h2>
        </ion-item>
    </ion-card>

    <div padding class="uni">
        <button mode="md" ion-button block type="button" tappable (click)="getOK()" style="margin-top:10px;" color="shwebtn">{{showFont[5]}}</button>
    </div>
</ion-content>