<!--
  Generated template for the ChequePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[9]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md" scroll="false" style="background-color: #eeedf2">
    <div class="mycard">
        <ion-item>
            <ion-label floating><span class="uni">{{showFont[0]}}</span></ion-label>
            <ion-select #myselect [(ngModel)]="useraccount" interface="popover" (ionChange)="accountChange(useraccount)">
                <ion-option *ngFor="let account of accountlist" [value]="account.chequeAcc">
                    {{account.chequeAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <div class="uni">
            <span class="uni" id="span-style">{{showFont[10]}}</span> :<span>{{accountBal}}</span>
        </div>
        <div align="center" id="div-error-style">
            <span class="uni">{{accounterrorMsg}}</span>
        </div>
        <ion-item class="my-item">
            <ion-label floating><span class="uni">{{showFont[1]}}</span></ion-label>
            <ion-input type="text" [(ngModel)]="chequeNo" (ngModelChange)="inputChange($event)"></ion-input>
        </ion-item>
        <div align="center" id="div-error-style">
            <span class="uni">{{cheqaccountMsg}}</span>
        </div>
        <div style="height:65px"></div>
    </div>
    <ion-row style="margin: 0px 5px 0px 5px">
        <ion-col>
            <button mode="md" ion-button outline block tappable (click)="cancelbtn()" color="shwebtn">
                <span class="uni">{{showFont[7]}}</span>
            </button>
        </ion-col>
        <ion-col>
            <button mode="md" ion-button block tappable (click)="okbtn()" color="shwebtn">
                <span class="uni">{{showFont[8]}}</span>
            </button>
        </ion-col>
    </ion-row>
</ion-content>