<!--
  Generated template for the LocationDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <!-- <img src="assets/images/Shwecopy.png" width="40px" style="display:inline-block" height="40px"/>
     <ion-title class="titleicon" style="display:inline-block;" >Shwe Bank</ion-title> -->
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
        <!--<span class="uni">{{showFont[0]}}</span>-->
    </ion-navbar>

</ion-header>


<ion-content mode="md">

    <div #map id="map"></div>


    <ion-card style="margin-top:3%;">

        <ion-row>
            <ion-col col-1 padding-top padding-left>
                <ion-icon ios="ios-pin" md="md-pin" style="color: blue;font-size: 25px;"></ion-icon>
            </ion-col>
            <ion-col col-11 padding>
                <p>
                    {{data.address}}
                </p>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>