<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[4]}}</span> </ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">


    <ion-list lines>
        <ion-item>

            <ion-row>
                <ion-col col-5>
                    <font color="#444"><span class="uni">{{showFont[0]}}</span> </font>
                </ion-col>
                <ion-col col-1>{{From}}</ion-col>
            </ion-row>
        </ion-item>

        <ion-item>
            <ion-row>
                <ion-col col-5>
                    <font color="#444"><span class="uni">{{showFont[1]}}</span></font>
                </ion-col>
                <ion-col col-1>{{To}}</ion-col>
            </ion-row>

        </ion-item>
        <ion-item>
            <ion-row>
                <ion-col col-5>
                    <font color="#444"><span class="uni">{{showFont[2]}}</span></font>
                </ion-col>
                <ion-col col-1>{{Buy}}</ion-col>
            </ion-row>

        </ion-item>
        <ion-item>
            <ion-row>
                <ion-col col-5>
                    <font color="#444"><span class="uni">{{showFont[3]}}</span></font>
                </ion-col>
                <ion-col col-1>{{Sell}}</ion-col>
            </ion-row>

        </ion-item>
    </ion-list>
</ion-content>