<ion-header>
    <ion-navbar color="shwe">
      <ion-title id="custom_ion_title"  class="uni" *ngIf="billerid == 'Savings Interest Calculator'"><span class="uni">{{showFont[0]}}</span></ion-title>
      <ion-title id="custom_ion_title"  class="uni" *ngIf="billerid == 'Fixed Deposit Account Calculator'"><span class="uni">{{showFont[1]}}</span></ion-title>
    </ion-navbar>
</ion-header>

<ion-content style="background-color: #eeedf2">
    <div *ngIf="billerid == 'Savings Interest Calculator'">
        <div class="mycard">          
            <br>
            <ion-item class="my-item">
                <ion-label floating>
                    <span class="uni">Savings Amount</span>
                </ion-label>
                <ion-input type="number" [(ngModel)]="savingamount"></ion-input>
            </ion-item>

            <div align="center" id="div-error-style" class="uni">
                {{errormsg}}
            </div>

            <ion-item class="my-item">
                <ion-label floating>
                    <span class="uni">Interest</span>
                </ion-label>
                <ion-input type="text" readonly="true" [(ngModel)]="savingrate1"></ion-input>               
            </ion-item>

            <ion-card style="margin:5px;"></ion-card>

            <ion-item class="my-item">
                <ion-label floating>
                    <span class="uni">Monthly Interest Received</span>
                </ion-label>
                <ion-input type="text" [(ngModel)]="savingamt" readonly="true"></ion-input>
            </ion-item>
            <div  center text-center class="interestcard" *ngIf="isActive">
                <ion-label>
                    <span class="changeFont">Total Received Amount</span>
                </ion-label>
                <ion-label>
                    <span class="uni">
                            <h5 style="font-weight:bold;color:#000;">{{totalInterest}}</h5>
                    </span>
                </ion-label>
             </div>
             <br>
        </div>
       
        <ion-row style="margin: 0px 5px 0px 5px">
            <ion-col class="uni" col-6>
                <button ion-button full outline color="shwebtn" tappable (click)="ResetSaving()" >
                        RESET
                    </button>
            </ion-col>
            <ion-col class="uni" col-6>
                <button ion-button full outline color="shwebtn" tappable (click)="CalculateSaving()" style="color: #fff;
                background-color: #3B5998;" >
                        CALCULATE
                    </button>
            </ion-col>
        </ion-row>
    </div>

    <div *ngIf="billerid == 'Fixed Deposit Account Calculator'">
        <div class="mycard">           
            <br>
            <ion-item class="my-item">
                <ion-label floating>
                    <span class="uni">Amount</span>
                </ion-label>
                <ion-input type="number" [(ngModel)]="fixamount" (ionBlur)="splitAmount(fixamount)"></ion-input>
            </ion-item>

            <div align="center" id="div-error-style" class="uni">
                {{errormsg}}
            </div>

            <ion-item>
                <ion-label floating>
                    <span class="uni">
                        Tenure
                    </span>
                </ion-label>
                <!-- <ion-select id="select-font-color" interface="popover" [selectOptions]="fixed" (ionChange)="changeType($event,fixed)" > (ionSelect)="mySelect(i)"  (ngModelChange)="selectCategory($event)-->
                <ion-select id="select-font-color" interface="popover"  [(ngModel)]="fixed" (ionChange)="changeType(fixed)">
                    <ion-option *ngFor="let item of customList;let i = index" [value]="item.yearlyRate" (ionSelect)="changeMonth(item.t1)">
                     {{item.t1}}                       
                    </ion-option>
                </ion-select>

            </ion-item>
            <br>
            <ion-item class="my-item">
                <ion-label floating>
                    <span class="uni">Interest</span>
                </ion-label>
                <ion-input type="text" readonly="true" [(ngModel)]="fixrate1"></ion-input>
            </ion-item>
            <br>          
            <ion-item class="my-item">
              <ion-label floating>
                  <span class="uni">Interest Received</span>
              </ion-label>
              <ion-input type="text" [(ngModel)]="fixamt" readonly="true"></ion-input>
          </ion-item>     
           <div  center text-center class="interestcard" *ngIf="isActive">
                <ion-label>
                    <span class="changeFont">Total Received Amount</span>
                </ion-label>
                <ion-label>
                    <span class="uni">
                            <h5 style="font-weight:bold;color:#000;">{{totalInterest}}</h5>
                    </span>
                </ion-label>
            </div>
            <br>
        </div>
        <ion-row style="margin: 0px 5px 0px 5px">
            <ion-col class="uni" col-6>
                <button ion-button full outline color="shwebtn" tappable (click)="ResetFix()" >
                        RESET
                    </button>
            </ion-col>
            <ion-col class="uni" col-6>
                <button ion-button full outline color="shwebtn" tappable (click)="CalculateFix()" style="color: #fff;
                background-color: #3B5998;">
                        CALCULATE
                    </button>
            </ion-col>
        </ion-row>
    </div>   
</ion-content>
