page-calculator-detail {

    #span-style {
        margin-left: -5px !important;
        color: black;
    }
    .item-line {
        border-bottom-color: #dedede;
        box-shadow: inset 0 -1px 0 0 #dedede;
        background-color: transparent;
    }
    .mycard {
        padding-right: 15px;
        border-radius: 2px;
        margin: 15px 7px 4px 7px;
        font-size: 1.4rem;
        background: #fff;
    }
    .interestcard {
      //padding-right: 15px;
      border-radius: 3px;
      //margin: 15px 7px 4px 7px;
      //font-size: 1.4rem;
      //background: rgb(189, 194, 190);
  }

    .button-full.button-outline {
      border-right-width: 1px !important;
      border-left-width: 1px !important;
      border-radius:2px;
  }
  .changeFont
  {
    font-size: 1.3rem;
    font-weight:bold;
  }

}
