<ion-header>
  <ion-navbar color="shwe">
      <ion-title id="custom_ion_title" class="uni">{{showFont[0]}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="billerid == 'ABC Telecomm'">
        <ion-card-header style="white-space: inherit;background: #34a853;padding: 20px;">
          <div align="center">
            <span class="uni" style="color: #fff;">{{showFont[12]}} </span>
          </div>
        </ion-card-header>
        <ion-item text-wrap>
            <p><span class="uni">{{showFont[1]}}</span></p>
            <h2 style="font-weight:bold;color:#000;">{{this.data.refNo}}</h2>
          </ion-item>
          <hr>
          <ion-item text-wrap>
            <p><span class="uni">{{showFont[8]}}</span></p>
            <h2 style="font-weight:bold;color:#000;">{{this.data.name}}</h2>
          </ion-item>
          <hr>
          <ion-item text-wrap>
            <p><span class="uni">{{showFont[9]}}</span></p> 
            <h2 style="font-weight:bold;color:#000;">{{this.data.amount}}</h2>
          </ion-item>
          <hr>
          <ion-item text-wrap>
            <p><span class="uni">{{showFont[11]}}</span></p>
            <h2 style="font-weight:bold;color:#000;">{{this.data.phoneNo}}</h2>
          </ion-item>
          <hr>             
          <div align="center" style="padding-top: 20px; padding-bottom: 30px;" class="uni">
              <button style="font-size: 1em;width:130px;" color="shwebtn" ion-button round tappable (click)="goClose()">{{showFont[13]}}</button>
          </div>     
      </ion-card>

      <ion-card *ngIf="billerid == 'One Stop Mart'">
          <ion-card-header style="white-space: inherit;background: #34a853;padding: 20px;">
            <div align="center">
              <span class="uni" style="color: #fff;">{{showFont[12]}} </span>
            </div>
          </ion-card-header>
          <ion-item text-wrap>
              <p><span class="uni">{{showFont[1]}}</span></p>
              <h2 style="font-weight:bold;color:#000;">{{this.data.refNo}}</h2>
            </ion-item>
            <hr>
            <ion-item text-wrap>
              <p><span class="uni">{{showFont[8]}}</span></p>
              <h2 style="font-weight:bold;color:#000;">{{this.data.name}}</h2>
            </ion-item>
            <hr>
            <ion-item text-wrap>
              <p><span class="uni">{{showFont[9]}}</span></p> 
              <h2 style="font-weight:bold;color:#000;">{{this.data.amount}}</h2>
            </ion-item>
            <hr>
            <ion-item text-wrap>
              <p><span class="uni">{{showFont[10]}}</span></p>
              <h2 style="font-weight:bold;color:#000;">{{this.data.phoneNo}}</h2>
            </ion-item>
            <hr>
            <ion-item text-wrap>
              <p><span class="uni">{{showFont[14]}}</span></p>
              <h2 style="font-weight:bold;color:#000;">{{this.data.description}}</h2>
            </ion-item>
            <hr>                 
            <div align="center" style="padding-top: 20px; padding-bottom: 30px;" class="uni">
                <button style="font-size: 1em;width:130px;" color="shwebtn" ion-button round tappable (click)="goClose()">{{showFont[13]}}</button>
            </div>     
        </ion-card>

    <ion-card *ngIf="billerid == 'Wave Money'">
      <ion-card-header style="white-space: inherit;background: #34a853;padding: 20px;">
        <div align="center">
          <span class="uni" style="color: #fff;">{{showFont[12]}} </span>
        </div>
      </ion-card-header>
      <ion-item text-wrap>
          <p><span class="uni">{{showFont[1]}}</span></p>
          <h2 style="font-weight:bold;color:#000;">{{this.data.refNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
          <p><span class="uni">{{showFont[7]}}</span></p>
          <h2 style="font-weight:bold;color:#000;">{{this.data.waveAcc}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
          <p><span class="uni">{{showFont[8]}}</span></p> 
          <h2 style="font-weight:bold;color:#000;">{{this.data.name}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
          <p><span class="uni">{{showFont[9]}}</span></p>
          <h2 style="font-weight:bold;color:#000;">{{this.data.amount}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
          <p><span class="uni">{{showFont[10]}}</span></p>
          <h2 style="font-weight:bold;color:#000;">{{this.data.nrc}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
          <p><span class="uni">{{showFont[11]}}</span></p> 
          <h2 style="font-weight:bold;color:#000;">{{this.data.phoneNo}}</h2>
        </ion-item>
        <hr>         
        <div align="center" style="padding-top: 20px; padding-bottom: 30px;" class="uni">
            <button style="font-size: 1em;width:130px;" color="shwebtn" ion-button round tappable (click)="goClose()">{{showFont[13]}}</button>
        </div>     
    </ion-card>
</ion-content>
