<!--
  Generated template for the ChequesuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[3]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ion-card>

        <ion-item text-wrap>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{userData.accountNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{userData.chequeNo}}</h2>
        </ion-item>


    </ion-card>
    <ion-row style="padding-bottom:10px;padding-top:20px;padding-left:20px;padding-right:20px;">
        <ion-col>
            <button mode="md" ion-button outline block tappable (click)="cancelbtn()" color="shwebtn">
      <span class="uni">{{showFont[4]}}</span>
      </button>
        </ion-col>
        <ion-col>
            <button mode="md" ion-button block tappable (click)="okbtn()" color="shwebtn">
       <span class="uni">{{showFont[5]}}</span>
      </button>
        </ion-col>
    </ion-row>

</ion-content>