<ion-header>
    <ion-navbar color="shwe">
      <ion-title id="custom_ion_title"  class="uni"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>  
</ion-header>  
  
<ion-content style="background-color: #eeedf2"> 
        
        <div *ngIf="billerid == 'ABC Telecomm'">
                <div class="mycard">
                    <ion-card-header style="white-space: inherit;background: #d2cece;padding: 20px;">
                        <div>
                          <span class="uni" id="span-style">{{showFont[1]}}</span><span class="uni">: {{billerid}} </span>
                        </div>
                    </ion-card-header>
                    <ion-item>
                        <ion-label floating>
                            <span class="uni">
                                {{showFont[15]}}
                            </span>
                        </ion-label>
                        <ion-select [(ngModel)]="transferData.fromAcc" id="select-font-color" interface="popover"
                            (ionChange)="changeAcc(1,transferData.fromAcc)">
                            <ion-option *ngFor="let account of fromAccountlist" [value]="account.depositAcc">
                                {{account.depositAcc}}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                   <!--  <ion-item class="my-item">
                        <ion-label floating>
                            <span class="uni">{{showFont[7]}}</span>
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="_data.account"></ion-input>
                    </ion-item>     -->               
                   
                    <ion-item class="my-item">
                        <ion-label floating>
                            <span class="uni">{{showFont[2]}}</span>
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="_data.refNo"></ion-input>
                    </ion-item>
              
                    <ion-item class="my-item">
                        <ion-label floating>
                            <span class="uni">{{showFont[9]}}</span>
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="_data.name"></ion-input>
                    </ion-item>   
                    
                    <ion-item class="my-item">
                        <ion-label floating>
                            <span class="uni">{{showFont[10]}}</span>
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="_data.amount"></ion-input>
                    </ion-item>
                   
                    <ion-item class="my-item">
                        <ion-label floating>
                            <span class="uni">{{showFont[12]}}</span>
                        </ion-label>
                        <ion-input type="text" [(ngModel)]="_data.phoneNo"></ion-input>
                    </ion-item>
              
                </div> 
                <ion-row style="margin: 0px 5px 0px 5px">
                    <ion-col class="uni" col-6>
                        <button mode="md" color="shwebtn" ion-button outline block tappable (click)="goCancel()" >
                                {{showFont[5]}}
                            </button>
                    </ion-col>
                    <ion-col class="uni" col-6>
                        <button mode="md" color="shwebtn" ion-button block tappable (click)="payment()" >
                                {{showFont[6]}}
                            </button>
                    </ion-col>
                </ion-row>
            </div>

<div *ngIf="billerid == 'One Stop Mart'">
    <div class="mycard">
        <ion-card-header style="white-space: inherit;background: #d2cece;padding: 20px;">
            <div>
              <span class="uni" id="span-style">{{showFont[1]}}</span><span class="uni">: {{billerid}} </span>
            </div>
        </ion-card-header>
        <ion-item>
            <ion-label floating>
                <span class="uni">
                    {{showFont[15]}}
                </span>
            </ion-label>
            <ion-select [(ngModel)]="transferData.fromAcc" id="select-font-color" interface="popover"
                (ionChange)="changeAcc(1,transferData.fromAcc)">
                <ion-option *ngFor="let account of fromAccountlist" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <!-- <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[7]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.account"></ion-input>
        </ion-item> -->
       
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[2]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.refNo"></ion-input>
        </ion-item>
  
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[9]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.name"></ion-input>
        </ion-item>   
        
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[10]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.amount"></ion-input>
        </ion-item>
       
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[12]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.phoneNo"></ion-input>
        </ion-item>
  
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[14]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.description"></ion-input>
        </ion-item> 
    </div> 
    <ion-row style="margin: 0px 5px 0px 5px">
        <ion-col class="uni" col-6>
            <button mode="md" color="shwebtn" ion-button outline block tappable (click)="goCancel()" >
                    {{showFont[5]}}
                </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" color="shwebtn" ion-button block tappable (click)="payment()" >
                    {{showFont[6]}}
                </button>
        </ion-col>
    </ion-row>
</div>

<div *ngIf="billerid == 'Wave Money'">
    <div class="mycard">
        <ion-card-header style="white-space: inherit;background: #d2cece;padding: 20px;">
            <div>
                <span class="uni" id="span-style">{{showFont[1]}}</span><span class="uni">: {{billerid}} </span>
            </div>
        </ion-card-header>
        <ion-item>
            <ion-label floating>
                <span class="uni">
                    {{showFont[15]}}
                </span>
            </ion-label>
            <ion-select [(ngModel)]="transferData.fromAcc" id="select-font-color" interface="popover"
                (ionChange)="changeAcc(1,transferData.fromAcc)">
                <ion-option *ngFor="let account of fromAccountlist" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <!-- <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[7]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.account"></ion-input>
        </ion-item> -->
       
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[8]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.waveAcc"></ion-input>
        </ion-item>
  
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[9]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.name"></ion-input>
        </ion-item>   
        
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[10]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.amount"></ion-input>
        </ion-item>
       
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[11]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.nrc"></ion-input>
        </ion-item>
  
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[12]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.phoneNo"></ion-input>
        </ion-item> 
    </div> 
    <ion-row style="margin: 0px 5px 0px 5px">
        <ion-col class="uni" col-6>
            <button mode="md" color="shwebtn" ion-button outline block tappable (click)="goCancel()" >
                    {{showFont[5]}}
                </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" color="shwebtn" ion-button block tappable (click)="payment()" >
                    {{showFont[6]}}
                </button>
        </ion-col>
    </ion-row>
</div>
<div *ngIf="billerid != 'Wave Money' && billerid != 'One Stop Mart' && billerid != 'ABC Telecomm'">
    <div class="mycard">
        <ion-card-header style="white-space: inherit;background: #d2cece;padding: 20px;">
            <div>
                <span class="uni" id="span-style">{{showFont[1]}}</span><span class="uni">: {{billerid}} </span>
            </div>
        </ion-card-header>
        <ion-item>
            <ion-label floating>
                <span class="uni">
                    {{showFont[15]}}
                </span>
            </ion-label>
            <ion-select [(ngModel)]="transferData.fromAcc" id="select-font-color" interface="popover"
                (ionChange)="changeAcc(1,transferData.fromAcc)">
                <ion-option *ngFor="let account of fromAccountlist" [value]="account.depositAcc">
                    {{account.depositAcc}}
                </ion-option>
            </ion-select>
        </ion-item>
        <!-- <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[7]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.account"></ion-input>
        </ion-item> -->
       
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[8]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.waveAcc"></ion-input>
        </ion-item>
  
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[9]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.name"></ion-input>
        </ion-item>   
        
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[10]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.amount"></ion-input>
        </ion-item>
       
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[11]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.nrc"></ion-input>
        </ion-item>
  
        <ion-item class="my-item">
            <ion-label floating>
                <span class="uni">{{showFont[12]}}</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="_data.phoneNo"></ion-input>
        </ion-item> 
    </div> 
    <ion-row style="margin: 0px 5px 0px 5px">
        <ion-col class="uni" col-6>
            <button mode="md" color="shwebtn" ion-button outline block tappable (click)="goCancel()" >
                    {{showFont[5]}}
                </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" color="shwebtn" ion-button block tappable (click)="payment()" >
                    {{showFont[6]}}
                </button>
        </ion-col>
    </ion-row>
</div>
</ion-content>
  