<!--
  Generated template for the ChequestopsuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title style="text-align:center"><span class="uni">{{showFont[3]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ion-card>
        <ion-card-header style="white-space: inherit;background: #34a853;padding: 20px;">
            <div align="center">
                <span class="uni" style="color: #fff;">{{showFont[4]}}</span>
            </div>

        </ion-card-header>
        <ion-item text-wrap>
            <p class="uni">{{showFont[0]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{carryData.accountNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p class="uni">{{showFont[1]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{carryData.chequeNo}}</h2>
        </ion-item>
        <!-- <hr>

     <ion-item text-wrap >
       <p class="uni">{{showFont[2]}}</p>
       <h2 style="font-weight:bold;color:#000;">{{carryData.status}}</h2>
     </ion-item> -->
    </ion-card>

    <div style="padding:7px;">
        <button mode="md" ion-button block type="button" tappable (click)="goBack()" style="margin-top:10px;" color="shwebtn"><span class="uni">{{showFont[5]}}</span></button>
    </div>

    <!--   <div padding>
    <button mode="md" ion-button  block type="button" tappable (click)="goBack()" style="margin-top:10px;" >
	<span class="uni">
	{{showFont[5]}}
	</span>
	</button>
  </div> -->
</ion-content>