<!--
  Generated template for the AccountTransation page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <!--  <ion-buttons left>
            <button ion-button icon-only tappable (click)="backButton()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons> -->
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
        <ion-buttons end>
            <button ion-button icon-only tappable (click)="datafilter($event)">
                <ion-icon name="ios-funnel"></ion-icon>
            </button>
        </ion-buttons>

    </ion-navbar>
    <ion-toolbar mode="md">
        <ion-title>
            <ion-list style="margin-bottom: 0px;">
                <ion-item>
                    <ion-label floating style="margin-top: 7px;"><span class="uni">{{showFont[1]}}</span></ion-label>
                    <ion-select #myselect [(ngModel)]="useraccount" interface="popover" (ionChange)="accountChange(useraccount)">
                        <ion-option *ngFor="let account of accountlist" [value]="account">
                            {{account.depositAcc}} 
                        </ion-option>
                    </ion-select>
                </ion-item>
                <div *ngIf="range == true">
                    <ion-row>
                        <ion-col>
                            <ion-item>
                                <ion-label floating style="margin-top: 7px;"><span class="uni">{{showFont[13]}}</span></ion-label>
                                <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="fromDate" style="padding-top: 7px;padding-bottom: 7px;"></ion-datetime>
                            </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label floating style="margin-top: 7px;"><span class="uni">{{showFont[14]}}</span></ion-label>
                                <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="toDate" style="padding-top: 7px;padding-bottom: 7px;"></ion-datetime>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row style="float:right;">
                        <button mode="md" ion-button color="shwebtn" tappable (click)="goSearch()" style="margin-top: 1.5rem;">
                            <span class="uni">{{showFont[15]}}</span>
                        </button>
                    </ion-row>
                </div>

            </ion-list>
        </ion-title>
    </ion-toolbar>

</ion-header>


<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <ion-item-group *ngIf="status == 1">
        <!-- <ion-item-divider color="light" style="font-weight: bold;font-size: 16px;">
    <span class="uni">{{durationmsg}}</span>
    </ion-item-divider> -->
        <ion-item-divider color="light" style="font-weight: bold;font-size: 16px;">
            <span *ngIf='tempFont ==3' class="uni">{{showFont[2]}} ( {{showFont[3]}} )</span>
            <span *ngIf='tempFont ==4' class="uni">{{showFont[2]}} ( {{showFont[4]}} )</span>
            <span *ngIf='tempFont ==5' class="uni">{{showFont[2]}} ( {{showFont[5]}} )</span>
            <span *ngIf='tempFont ==6' class="uni">{{showFont[2]}} {{durationmsg}}</span>
        </ion-item-divider>
    </ion-item-group>
    <div style="padding-bottom:50px;" *ngIf="status == 1">
        <ion-item-group *ngFor="let r of resultdata">
            <ion-item-divider color="light" style="font-weight: bold;font-size: 16px;">
                {{r.txnDate}}
            </ion-item-divider>
            <ion-item *ngFor="let a of r.data" text-wrap tappable (click)="gotoDetail(a)">
                <h2>{{a.txnTypeDesc}}</h2>
                <p><span class="uni">{{showFont[19]}}</span> - &nbsp;{{a.txtReferenceNo}}</p>
                <h2 style="float:right;font-weight:bold;color:#74b700;" *ngIf="a.txnCode == '2'">{{a.txnAmount}}&nbsp;{{a.codTxnCurr}}</h2>
                <h2 style="float:right;font-weight:bold;color:#EE4141;" *ngIf="a.txnCode == '1'">{{a.txnAmount}}&nbsp;{{a.codTxnCurr}}</h2>
            </ion-item>
        </ion-item-group>
    </div>
    <div *ngIf="status == 0" align="center">
        <h3 style="padding:50px;color:#ccc;"><span class="uni">{{showFont[6]}}</span></h3>
    </div>

    <ion-fab bottom right [ngStyle]="fabMargin">
        <button mode="md" ion-fab mini color='shwe' [disabled]="isDownload">
            <ion-icon ios="ios-cloud-download" md="md-cloud-download"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button mode="md" tappable ion-fab tappable (click)='createFile(1)'>
                <img src='./assets/pdf.png'><!-- style="max-width:250% !important" -->
            </button>
            <button mode="md" tappable ion-fab tappable (click)='createFile(2)'>
                <img src='./assets/excel.png'><!-- style="max-width:250% !important" -->
            </button>
        </ion-fab-list>
    </ion-fab>

</ion-content>
<ion-footer *ngIf="passTemp.pageCount>1">
    <ion-toolbar style="min-height: 50px;" color="shwe">
        <ion-buttons *ngIf="previous > 1">
            <button ion-button icon-only tappable (click)="previousData()">
                <ion-icon name="ios-arrow-back"></ion-icon>
                <span class="uni">{{showFont[8]}}</span>
            </button>
        </ion-buttons>
        <ion-buttons end *ngIf="passTemp.pageCount>next">
            <button ion-button icon-only tappable (click)="nextData()">
                <span class="uni">{{showFont[7]}}</span>
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>