<ion-header>
    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title">
            <span class="uni">{{textData[0]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md" style="background-color:#eeedf2">
    <ion-card class="card" *ngFor="let b of businessList;let i=index;" (click)="goNext(b)">
        <!--[ngClass]="{true:'ion-card-active', false:'ion-card-inactive'}[object.active]"  -->
        <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[9]}}</span>
            </ion-col>
            <ion-col col-5>
                <span id="item_font_1">{{b.profileID}}</span>
            </ion-col>
            <ion-col col-2>
                <!-- <button id="button_arrow_right" *ngIf="i==0 && b.profileID!=taxData.profileID" style="background-color:green"></button> -->
                <button id="button_arrow_right" *ngIf="b.profileID==taxData.profileID" style="background-color:green"></button>
                <button id="button_arrow_right" *ngIf="b.profileID!=taxData.profileID"></button>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[10]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{b.profileName}}</span>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[11]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{b.mainBusiness}}</span>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[5]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{b.typeOfBusi}}</span>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[2]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{b.companyType}}</span>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[1]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{b.industryCode}}</span>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[7]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{b.taxOfficeName}}</span>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[4]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{b.creditorBranchName}}</span>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[6]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{b.mdaccNo}}</span>
            </ion-col>
        </ion-row>
        <!-- <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[3]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{b.creditorBranchCode}}</span>
            </ion-col>
        </ion-row>
        <ion-row align-items-center>
            <ion-col col-5>
                <span id="label_font">{{textData[8]}}</span>
            </ion-col>
            <ion-col col-7>
                <span id="item_font_1">{{b.taxType}}</span>
            </ion-col>
        </ion-row> -->
    </ion-card>
</ion-content>