page-tax-business-profile {
    .card {
        border-radius: 8px
    }
    .ion-card-active {
        border-right: 5px solid green;
    }
    ;
    .ion-card-inactive {
        border-right: 5px solid #EE4141;
    }
    #button_arrow_right {
        padding: 15px 15px;
        cursor: auto;
        background-color: transparent;
        background-image: url(../assets/cell-arrow-right-icon.png);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        background-size: 100%;
    }
}