<ion-header>
    <ion-navbar color="shwe">
        <ion-buttons left>
            <button ion-button icon-only tappable (click)="backButton()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title id="custom_ion_title">
            <span class="uni">{{textData[0]}}</span>
        </ion-title>
        <!--   <ion-buttons end>
            <button ion-button icon-only tappable (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons> -->
    </ion-navbar>
</ion-header>

<ion-content mode="md" scroll="false" style="background-color: #eeedf2">
    <div class="mycard">
        <ion-item>
            <ion-label floating><span class="uni">{{textData[1]}}</span></ion-label>
            <ion-input type="tel" [(ngModel)]="taxData.phoneNo" (ngModelChange)="inputChange(1)" (keyup)="onChange($event,taxData.phoneNo)" id="text-line"></ion-input>
        </ion-item>
        <div align="center" class="uni" id="div-error-style">{{phoneMsg}}</div>

        <ion-item class="my-item">
            <ion-label floating><span class="uni">{{textData[2]}}</span></ion-label>
            <ion-input type="number" [(ngModel)]="taxData.tinNo" (ngModelChange)="inputChange(2)" id="text-line"></ion-input>
        </ion-item>
        <div align="center" class="uni" id="div-error-style">{{tinMsg}}</div>
    </div>
    <ion-row style="margin: 0px 5px 0px 5px">
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block tappable (click)="reset()" color="shwebtn">
        {{textData[3]}}
      </button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block tappable (click)="validation()" color="shwebtn">
        {{textData[4]}}
      </button>
        </ion-col>
    </ion-row>
</ion-content>