page-beneficiary-list {
    .segment-md .segment-button {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        height: 4.2rem;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: rgba(0, 0, 0, 0.1);
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 4rem;
        text-transform: uppercase;
        color: #1b4b95;
        background-color: transparent;
        opacity: 0.7;
        transition: 100ms all linear;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .segment-md .segment-button.activated,
    .segment-md .segment-button.segment-activated {
        border-color: #1b4b95; // #434eb2
        opacity: 1;
    }
    .text-font {
        font-size: 16px;
    }
    .mycss {
        position: absolute;
        top: 0px;
        height: 20px;
        border-style: solid;
        border-width: 0 85px 65px 0; // border-color: transparent #cdcdcd transparent transparent;
    }
    .mycss1 {
        position: absolute;
        right: 38px;
        padding: 7px;
        font-size: 23px;
        color: #FFFFFF
    }
    .nav-color {
        // background: linear-gradient(to right, #c5890d, #FFFF99) !important;
        background: map-get($colors, shwe) !important;
    }
    #add-icon {
        /*  font-size: 3em;
    margin: 10px 0px 0px 0px;
    background: linear-gradient(to right, #c5890d, #FFFF99) !important;
    color: transparent; */
        position: relative;
        display: inline-block;
        height: 1.2em;
        width: 1.2em;
        line-height: 1.2em;
        font-size: 3em;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        border-radius: 1em;
        color: #434eb2;
        -webkit-mask-image: -webkit-radial-gradient(40% 40%, circle cover, #434eb2, #6a74c7);
        text-shadow: 3px 2px 4px rgba(0, 0, 0, .6);
    }
    #label_font {
        padding: 2px 2px;
        font-size: 10px !important;
        // color: map-get($colors, fontcolortwo) !important;
    }
    #item_font_1 {
        padding: 2px 2px;
        font-size: 12px !important;
        font-weight: 500 !important;
        // color: map-get($colors, fontcolorone) !important;
    }
}