<!-- Generated template for the BeneficiaryListPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation. -->
<ion-header class="nav-color">

    <ion-navbar color="shwe" transparent>
        <ion-buttons left>
            <button ion-button icon-only tappable (click)="backButton()">
                <ion-icon name="md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title id="custom_ion_title">
            <span class="uni">{{textData[0]}}</span>
        </ion-title>
    </ion-navbar>
    <ion-toolbar>
        <ion-searchbar placeholder="Search" style="width:85%;float:left;padding:8px;" (ionInput)="getItems($event)"></ion-searchbar>
        <img style="width:11%;margin: 13px 0px 0px 8px;" tappable (click)="addBeneficiay(item)" src="./assets/add-person.png">
    </ion-toolbar>
</ion-header>

<ion-content mode="md">
    <ion-list *ngFor="let item of beneficiaryList">
        <ion-card style="height:120px">
            <ion-row tappable (click)="beneficiaryInfo(item)">
                <ion-col col-4 style="padding: 38px 0px 14px 21px;">
                    <div>
                        <img style="width:30%" src="./assets/beneficiary-person.png">
                    </div>
                </ion-col>
                <ion-col col-6 style="padding-top: 5%;">
                    <!-- <h4 id="label_font">beneficiary Short Name</h4>
                    <h4 id="item_font_1">{{item.beneficiaryID}}</h4> -->
                    <h4 id="label_font">Name</h4>
                    <h4 id="item_font_1">{{item.name}}</h4>
                    <h4 id="label_font">Type</h4>
                    <h4 id="item_font_1">{{item.beneTypeName}}</h4>
                </ion-col>
                <ion-col col-2>
                    <div class="mycss" style="border-color: transparent #434eb2 transparent transparent;">
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>
</ion-content>