<ion-header>
  <ion-navbar color="shwe">
    <ion-buttons left>
      <button ion-button icon-only tappable (click)="backButton()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title id="custom_ion_title">
      <span class="uni">{{showFont[11]}}</span>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content mode="md" style="background-color: #eeedf2">
  <ng2-slim-loading-bar [color]="'#32db64'"></ng2-slim-loading-bar>

  <div class="mycard">
    <ion-item>
      <ion-label floating>
        <span class="uni">{{showFont[0]}}</span>
      </ion-label>
      <ion-select #myselect [(ngModel)]="_obj.account" interface="popover" (ionChange)="changeAcc(1,_obj.account)">
        <ion-option *ngFor="let account of useraccount" [value]="account.depositAcc">
          {{account.depositAcc}}
        </ion-option>
      </ion-select>
    </ion-item>
    <div class="uni">
      <span class="uni" id="span-style">
        {{showFont[13]}}
      </span> :
      <span>{{accountBal}}</span>
    </div>
    <div id="div-error-style" align="center" class="uni">
      {{msgCnpAcc}}
    </div>
    <ion-label style="padding: 20px 0px 0px 10px;margin-left: 7px;margin-top: -16px;">
      <span class="uni" id="label-style">
        {{showFont[1]}}
      </span>
    </ion-label>
    <ion-scroll scrollX="true" style="margin-left: 11px;">
      <button mode="md" ion-button class="scroll-item" mode="md" *ngFor="let m of merchant" [class.activeHighLight]="checkActive(m)" tappable (click)="operatorChange(m)" [id]="m.merchantName"></button>
    </ion-scroll>
    <div id="div-error-style" align="center" class="uni">
      {{msgCnpRef}}
    </div>

    <ion-item *ngIf="contactPh" class="my-item">
      <ion-label floating>
        <span class="uni">{{showFont[2]}}</span>
      </ion-label>
      <ion-input type="tel" [(ngModel)]="_obj.phone" (keyup)="onChangeSPh($event,_obj.phone)">
      </ion-input>
      <button mode="md" ion-button clear color="shwe" type="button" item-right tappable (click)="getContact()" style="padding:0px;width:50px;margin-right:0px;">
        <!-- <ion-icon name="md-person-add" style="font-size:27px;">
</ion-icon> -->
        <img src="assets/phonebook.png" style="width:37px">
      </button>
    </ion-item>

    <ion-item *ngIf="moreContact" class="my-item">
      <ion-label floating>
        <span class="uni">{{showFont[2]}}</span>
      </ion-label>
      <ion-select #myselect [(ngModel)]="_obj.phone" interface="action-sheet" (ionChange)="changeAcc(2,_obj.phone)">
        <ion-option *ngFor="let ph of moreContactData" [value]="ph.value">
          {{ph.value}}
        </ion-option>
      </ion-select>
      <button mode="md" ion-button clear color="shwe" type="button" item-right tappable (click)="getContact()" style="padding:0px;width:50px;margin-right:0px;top:15px;">
        <ion-icon name="md-person-add" style="font-size:27px;">
        </ion-icon>
      </button>
    </ion-item>
    <div id="div-error-style" align="center" class="uni">
      {{msgCnpPhNo}}
    </div>

    <ion-item class="my-item">
      <ion-label floating>
        <span class="uni">{{showFont[3]}}</span>
      </ion-label>
      <ion-select #myselect [(ngModel)]="data" interface="popover" (ionChange)="getamount(data)" tappable (click)="onClick()">
        <!-- getamountType(_obj.name) -->
        <ion-option *ngFor="let data of referenceTypeBill" [value]="data">
          {{data.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <div class="uni">
      <span class="uni" id="span-style">
        {{showFont[15]}}
      </span> :
      <span>{{cashBack}}</span>
    </div>

    <ion-item *ngIf="amountType == 'other'" class="my-item">
      <ion-label floating>
        <span class="uni">{{showFont[3]}}</span>
      </ion-label>
      <ion-input type="number" [(ngModel)]="_obj.amountother" (ngModelChange)="inputChange(3)"></ion-input>
    </ion-item>
    <div id="div-error-style" align="center" class="uni">
      {{msgCnpAmtOther || msgCnpamt}}
    </div>
    <ion-item class="my-item">
      <ion-label floating>
        <span class="uni">{{showFont[4]}}</span>
      </ion-label>
      <ion-input type="text" [(ngModel)]="_obj.narrative"></ion-input>
    </ion-item>
    <div style="height:10px"></div>
  </div>

  <ion-row style="margin: 0px 5px 0px 5px">
    <ion-col class="uni" col-6>
      <button mode="md" ion-button outline block tappable (click)="reset()" color="shwebtn">
        {{showFont[12]}}
      </button>
    </ion-col>

    <ion-col class="uni" col-6>
      <button mode="md" ion-button block tappable (click)="clicksubmit()" color="shwebtn">
        {{showFont[5]}}
      </button>
    </ion-col>
  </ion-row>
</ion-content>
