page-mobile-topup {
    .toolbar-background-md {
        border-color: #b2b2b2;
        background: none;
    }
    .toolbar-title-md {
        color: #fff;
    }
    .bar-button-default-md,
    .bar-button-clear-md-default,
    .bar-button-md-default {
        color: #fff;
    }
    .resize {
        height: auto;
        width: auto;
        max-width: 45px;
        max-height: 45px;
        display: inline-block;
        margin-right: 58px;
    }
    #MPT,
    #mpt {
        cursor: auto;
        background-color: transparent;
        background-image: url(../assets/mpt_1.png); //logo-mpt
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10%;
        background-size: 90% 90%;
        width: 85px;
        height: 70px;
        margin-right: 5px;
    }
    #Telenor,
    #TELENOR,
    #telenor {
        cursor: auto;
        background-color: transparent;
        background-image: url(../assets/telenor_1.png); //logo-telenor
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10%;
        background-size: 90% 90%;
        width: 85px;
        height: 70px;
        margin-right: 5px;
    }
    #Ooredoo,
    #ooredoo {
        cursor: auto;
        background-color: transparent;
        background-image: url(../assets/ooredoo_1.png); //logo-ooredoo
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10%;
        background-size: 90% 90%;
        width: 85px;
        height: 70px;
        margin-right: 5px;
    }
    #MEC,
    #mec {
        padding: 0px;
        cursor: auto;
        background-color: transparent;
        background-image: url(../assets/mectel_1.png); //logo-mectel
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10%;
        background-size: 90% 90%;
        width: 85px;
        height: 70px;
        margin-right: 5px;
    }
    #MyTel,
    #mytel {
        padding: 0px;
        cursor: auto;
        background-color: transparent;
        background-image: url(../assets/mytel_1.png); //logo-mectel
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 10%;
        background-size: 90% 90%;
        width: 85px;
        height: 70px;
        margin-right: 5px;
    }
    .activeHighLight {
        color: burlywood !important;
        background-color: skyblue !important; //background-color: transparent;
    }
    #label-style {
        font-weight: 400;
        font-size: 17px;
        color: #b2b2b2;
    }
    ion-scroll[scrollX] {
        white-space: nowrap;
        height: 90px;
        overflow: hidden;
        .scroll-item {
            display: inline-block;
        }
        ion-avatar img {
            margin: 10px;
        }
    }
    ion-scroll[scroll-avatar] {
        height: 60px;
    }
    .mycard {
        border-radius: 2px;
        margin: 4px 7px 4px 7px;
        font-size: 1.4rem;
        background: #fff;
    }
    #span-style {
        margin-left: 18px;
        color: green;
    }
}