<ion-header>

  <ion-navbar color="shwe">
     <ion-buttons left>
       <button ion-button icon-only tappable (click)="backButton()">
         <ion-icon name="md-arrow-back"></ion-icon>
       </button>
     </ion-buttons>
    <ion-title id="custom_ion_title"><span class="{{font}}">{{showFont[0]}}</span></ion-title>    
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-list>
    <ion-item tappable (click)="getNext('D')" detail-push>
      <ion-icon name="briefcase" item-left color="shwe"></ion-icon>
      <span class="{{font}}" style="color:#444;">{{showFont[1]}}</span>
    </ion-item>
    <ion-item tappable (click)="getNext('E')" detail-push>
      <ion-icon name="briefcase" item-left color="shwe"></ion-icon>
      <span class="{{font}}" style="color:#444;">{{showFont[2]}}</span>
    </ion-item>
  </ion-list>
</ion-content>