<!--
  Generated template for the DomainPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title">Domain</ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">
    <ion-item>
        <ion-label floating>Domain</ion-label>
        <ion-input type="text" [(ngModel)]="domain" (ngModelChange)="inputChange($event)"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>Key</ion-label>
        <ion-input type="text" [(ngModel)]="key"></ion-input>
    </ion-item>
    <div padding>
        <button mode="md" ion-button block type="button" tappable (click)="changeaddress()" color="shwebtn"><span class="uni">OK</span></button>
    </div>
    <ion-label *ngIf="errormessagetext!=''" style="color:#EE4141;text-align: center;font-size: 15px;"><span class="uni">{{errormessagetext}}</span></ion-label>
</ion-content>