<!--
  Generated template for the MerchantErrorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="shwe">
        <ion-title id="custom_ion_title"><span class="uni">{{showFont[0]}}</span></ion-title>
    </ion-navbar>

</ion-header>


<ion-content mode="md">

    <ion-card>
        <ion-card-header style="white-space: inherit;padding:20px;background: #c13f1a;">
            <div align="center">
                <p style="font-size:16px;color:#fff;">Transaction failed.</p>
                <p style="font-size:16px;color:#fff;">{{passtemp1.desc}}</p>
            </div>

        </ion-card-header>

        <!--  <ion-item text-wrap >
    <h2><span class="uni">{{showFont[1]}}</span></h2>
    <h2 style="font-weight:bold;color:#000;">{{passtemp2.packagetype}}</h2>
  </ion-item><hr>

   <ion-item text-wrap>
    <h2><span class="uni">{{showFont[2]}}</span></h2>
    <h2 style="font-weight:bold;color:#000;">{{passtemp2.cardno}}</h2>
    </ion-item><hr> -->
        <ion-item text-wrap>
            <p class="uni">{{showFont[3]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.accounttype||passtemp2.account}}</h2>
        </ion-item>
        <hr>

        <ion-item text-wrap>
            <p class="uni">{{showFont[4]}}</p>
            <h2 style="font-weight:bold;color:#000;">{{passtemp2.amountTotal||passtemp2.totalAmount}}</h2>
        </ion-item>
    </ion-card>

    <div padding class="uni">
        <button mode="md" ion-button block type="button" tappable (click)="getOK()" style="margin-top:10px;" color="shwebtn">{{showFont[5]}}</button>
    </div>

</ion-content>