<ion-header class="nav-color">
    <ion-navbar color="shwe" transparent>
        <ion-title id="custom_ion_title">
            <span class="uni">{{showFont[0]}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content mode="md">
    <ng2-slim-loading-bar [color]="'#32db64'" [height]="'5px'"></ng2-slim-loading-bar>
    <ion-card>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[1]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.account}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[2]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.refNo}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[3]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.billId}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[4]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;height: 21px;"><span class="uni">{{_billObj.cusName}}</span></h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[5]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.amount}} &nbsp; {{_billObj.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[9]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.penaltyAmount}} &nbsp; {{_billObj.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[13]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.comAmount}} &nbsp; {{_billObj.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[14]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.totalAmount}} &nbsp; {{_billObj.ccy}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[6]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;height: 21px;"><span class="uni">{{_billObj.deptName}}</span></h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[7]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;height: 21px;"><span class="uni">{{_billObj.taxDesc}}</span></h2>
        </ion-item>
        <hr>
        <ion-item text-wrap>
            <p>
                <span class="uni">{{showFont[8]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.dueDate}}</h2>
        </ion-item>
        <hr>
        <ion-item text-wrap *ngIf='_billObj.belatedDays'>
            <p>
                <span class="uni">{{showFont[15]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;height: 21px;">{{_billObj.belatedDays}}</h2>
        </ion-item>
        <hr *ngIf='_billObj.belatedDays'>
        <ion-item text-wrap *ngIf="_billObj.narrative!=undefined">
            <p>
                <span class="uni">{{showFont[10]}}</span>
            </p>
            <h2 style="font-weight:bold;color:#000;">{{_billObj.narrative}}</h2>
        </ion-item>
    </ion-card>
</ion-content>

<ion-footer>
    <ion-row>
        <!--style="padding:10px 10px 10px;"-->
        <ion-col class="uni" col-6>
            <button mode="md" ion-button outline block color="shwebtn" tappable (click)="cancel()">{{showFont[11]}}</button>
        </ion-col>
        <ion-col class="uni" col-6>
            <button mode="md" ion-button block color="shwebtn" tappable (click)="confirm()">{{showFont[12]}}</button>
        </ion-col>
    </ion-row>
</ion-footer>